.test-maven{
    width: 100%;
    height: 100%;
    overflow: auto;
    .test-table{
        padding-top: var(--tiklab-padding-item);
        .test-table-expand{
            padding-left: 48px;
            word-wrap: break-word;
            white-space: pre-wrap;
        }
        .data-item-name{
            font-weight: var(--tiklab-font-weight-bold);
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            -o-text-overflow: ellipsis;
            max-width: 95%;
            display: inline-block;
            vertical-align: middle;
            &:hover{
                cursor: pointer;
                color: var(--tiklab-blue);
            }
        }
        .data-item-count{
            display: flex;
            align-items: center;
            padding-top: 5px;
            color: var(--tiklab-gray-500);
            font-size: 13px;
            .data-item-pass,.data-item-fail{
                max-width: 25%;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                -o-text-overflow: ellipsis;
            }
            .count-key{
                padding-right: 5px;
            }
        }
        .fail-text{
            color: #f06f6f;
            padding-left: 5px;
        }
        .success-text{
            color: var(--tiklab-blue);
            padding-left: 5px;
        }
    }

    .test-overview{
        padding-top: var(--tiklab-padding-item);
        .test-overview-info{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .test-overview-info-item{
                padding: 8px;
                border-radius: 4px;
                flex: 1;
                background-color: var(--arbess-backdrop-color);
                &:not(:last-child){
                    margin-right: 15px;
                }
                div:first-child{
                    font-size: 13px;
                }
                div:last-child{
                    font-size: 15px;
                    padding: 10px 0 15px;
                    text-align: center;
                }
                .testState{
                    &-success{
                        color: var(--tiklab-blue);
                    }
                    &-error{
                        color: #ff4d4f;
                    }
                    &-wrong{
                        color: #faad14;
                    }
                    &-jump{
                        color: #1890ff;
                    }
                }
            }
        }
    }
}
