.dynamic{
    background: #fff;
    padding: 10px;
    min-height: 430px;
    border-radius: 4px;
    flex: 1;
    &-center{
        .dynamic-item{
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 50px;
            &-left{
                display: flex;
                align-items: center;
            }
        }
    }
    &-bottom{
        text-align: center;
        cursor: pointer;
        font-size: var(--tiklab-font-13);
        &-more{
            color: var(--tiklab-blue);
        }
    }
}
