.trigger{
    .trigger-up{
        display: flex;
        align-items: center;
        padding-bottom: var(--thoughtware-padding-item);
        font-size: var(--thoughtware-font-13);
        .trigger-up-num{
            flex: 1;
            margin-right: var(--thoughtware-padding-item);
        }
    }
    .trigger-data-time .data-time-line{
        padding: 0 8px;
        color: #d9d9d9;
    }
}

.trigger-modal{
    .group {
        &-content {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
            -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
            justify-content: space-between;
            -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            width: 440px;
            &:after {
                content: "";
                width: 214px;
                height: 0;
                background: transparent;
                opacity: 0;
            }
        }
        &-desc {
            border: 1px solid var(--thoughtware-gray-200);
            border-radius: 4px;
            margin-bottom: 12px;
            width: 214px;
            height: 80px;
            display: -webkit-inline-flex;
            display: -ms-inline-flexbox;
            display: inline-flex;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            -webkit-transition: -webkit-transform .218s ease-in;
            transition: -webkit-transform .218s ease-in;
            transition: transform .218s ease-in, -webkit-transform .218s ease-in;
            &-tpl {
                display: inline-block;
                vertical-align: top;
            }
        }

        &-select {
            border-color: var(--thoughtware-blue);
        }

        &-type {
            margin: 10px;
        }
        .icon {
            width: 20px;
            height: 20px;
        }
    }
}
