
.mf-listname-href{
    cursor: pointer;
}

.mf-listname-icon{
    display: inline-block;
    width: var(--tiklab-icon-size-32);
    height: var(--tiklab-icon-size-32);
    line-height: var(--tiklab-icon-size-32);
    margin-right: 10px;
    border-radius: 4px;
    text-align: center;
    color: black;
}

.mf-listname-name{
    color: var(--tiklab-blue);
}
