.homePage{
    &-head{
        height: 150px;
        display: flex;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        justify-content: space-between;
        padding: 20px;
        .head{
            &-group{
                width: 380px;
                min-width: 100px;
                line-height: 100px;
                height: 100px;
                text-align: center;
                border: 1px solid #cccccc;
                margin-right: 10px;
                box-shadow: 3px 3px 8px 3px #5d70ea;
                border-radius: 8px;
                cursor: pointer;
            }
        }
    }
    &-content{
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        padding: 0 24px 24px;
        &-left{
            width: calc(66% - 7px);
            min-width: 260px;
            margin-right: 16px;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            min-height: 100px;
            -webkit-flex-shrink: 0;
            flex-shrink: 0;
        }
        &-right{
            width: calc(34% - 7px);
            min-width: 390px;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            min-height: 100px;
            -webkit-flex-shrink: 0;
            flex-shrink: 0;
        }
        &-pipelineNear{
            border: 1px solid #ccc;
            border-radius: 8px;
            padding: 20px;
            box-shadow: 0 3px 8px 0 #cccccc;
            margin-bottom: 16px;
            .pipelineNear{
                &-title{
                    padding-bottom: 15px;
                    font-size: 18px;
                    font-weight: 600;
                }
                &-active{
                    &-group{
                        &-desc{
                            cursor: pointer;
                            font-size: 16px;
                            color: #1890ff;
                            .name{
                                &:hover{
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                }
            }
        }
        &-dynamic{
            flex-shrink: 0;
            border: 1px solid #ccc;
            border-radius: 8px;
            box-shadow: 0 3px 8px 0 #cccccc;
            padding: 20px;
            .dynamic{
                &-top{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    padding-bottom: 10px;
                    &-title{
                        font-size: 18px;
                        font-weight: 600;
                    }
                }
                &-bottom{
                    &-listHeader{
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        .name{
                            color: #1890ff;
                            cursor: pointer;
                            padding: 0 5px;
                        }
                    }
                }
            }
        }
        &-statusChart{
            border-radius: 8px;
            padding: 20px;
            border: 1px solid #cccccc;
            min-width: 200px;
            box-shadow: 0 3px 8px 0 #cccccc;
            height: 100%;
            &>.echarts-for-react{
                height: 100%!important;
            }
        }
    }
}