.info{
    &-content{
        .info-list{
            display: flex;
            align-items: center;
            height: 40px;
        }
        .info-title{
            width: 150px;
        }
    }
}