.info{
    max-width: 900px;
    &-content{
        .info-list{
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 50px;
        }
    }
}