.codeOrNewStage{
    .codeOrNewStage-top{
        padding: var(--tiklab-padding) var(--tiklab-padding) 0;
    }
    &-stepOne{
        height: calc(100% - 120px);
        &-left{
            border-right: 1px solid var(--tiklab-gray-200);
            .modalLeft{
                .item{
                    padding: 5px var(--tiklab-padding);
                    cursor: pointer;
                    position: relative;
                    &:before{
                        width: 3px;
                        height: 32px;
                        -webkit-transition: all .4s cubic-bezier(.23,1,.32,1);
                        transition: all .4s cubic-bezier(.23,1,.32,1);
                        content: " ";
                        position: absolute;
                        z-index: 2;
                        left: 0;
                        top: 0;
                    }
                }
                .item-select{
                    background: #f4f4f4;
                    &:before{
                        background:var(--tiklab-blue);
                    }
                }
            }
        }
        &-right{
            .modalRight{
                padding: 20px;
                height: 100%;
                overflow: auto;
            }
            .group{
                &-title{
                    margin-bottom: 12px;
                }
                &-content{
                    display: -webkit-box;
                    display: -webkit-flex;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-pack: justify;
                    -webkit-justify-content: space-between;
                    -ms-flex-pack: justify;
                    justify-content: space-between;
                    -webkit-flex-wrap: wrap;
                    -ms-flex-wrap: wrap;
                    flex-wrap: wrap;
                    width: 440px;
                    &:after{
                        content: "";
                        width: 214px;
                        height: 0;
                        background: transparent;
                        opacity: 0;
                    }
                }
                &-desc{
                    border: 1px solid var(--tiklab-gray-200);
                    border-radius: 4px;
                    margin-bottom: 12px;
                    width: 214px;
                    height: 80px;
                    display: -webkit-inline-flex;
                    display: -ms-inline-flexbox;
                    display: inline-flex;
                    -webkit-box-align: center;
                    -webkit-align-items: center;
                    -ms-flex-align: center;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    -webkit-transition: -webkit-transform .218s ease-in;
                    transition: -webkit-transform .218s ease-in;
                    transition: transform .218s ease-in,-webkit-transform .218s ease-in;
                    &-tpl{
                        display: inline-block;
                        vertical-align: top;
                    }
                }
                &-select{
                    border-color: var(--tiklab-blue);
                }
                &-type{
                    margin: 10px;
                }
                .icon{
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }
}