.formView{
    &-wrapper{
        background: #ffffff;
        border-radius: 4px;
        padding: 15px;
        &:not(:last-child){
            margin-bottom: 15px;
        }
        &-Headline{
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-radius: 4px;
            border-bottom: 1px solid var(--tiklab-gray-200);
            height: 40px;
            .headline{
                &-left{
                    font-weight: var(--tiklab-font-weight-bold);
                }
                &-right{
                    .headline-changSort{
                        margin-right: 15px;
                        cursor: pointer;
                        &:hover{
                            color: var(--tiklab-blue);
                        }
                    }
                    .headline-delete{
                        cursor: pointer;
                        &:hover{
                            color: #ff0000;
                        }
                    }
                }
            }
        }
    }
    .formView-validateFields{
        border: 1px solid #ff0000;
    }
    .formView-inputs{
        display: flex;
        &-suffix{
            padding: 4px 0 0 5px;
        }
    }
    .ant-form{
        .ant-form-item-control {
            .ant-input {
                width: 500px;

                &:hover {
                    background: #f2f2f2;
                }
            }
            .ant-select{
                width: 500px;
                &:hover{
                    background: #f2f2f2;
                }
            }
        }
        .ant-input-group-addon{
            width: 30px;
        }
        .ant-input-group{
            .ant-input{
                width: 470px;
            }
        }
        .ant-input-group-addon{
            border: none;
        }
        .ant-form-item-label{
            min-width: 130px;
            text-align: left;
        }
    }
}
/* 部署应用源文件地址 的匹配提示 */
.deployTargetAddress{
    position: absolute;
    top: 30px;
    left: 130px;
    font-size: var(--tiklab-font-13);
    color: var(--tiklab-gray-500);
}
