.formView{
    margin: auto;
    max-width: 1280px;
    min-width: 768px;
    padding: 0 var(--tiklab-padding) var(--tiklab-padding);
    .formView-anch{
        position: sticky;
        top: 62px;
        background: var(--mf-backdrop-color);
        z-index: 9;
        padding-top: var(--tiklab-padding-item);
        &-content{
            display: flex;
            border-radius: 4px;
            border-bottom: 1px solid var(--tiklab-gray-200);
        }
        .anch-item{
            height: 35px;
            line-height: 35px;
            cursor: pointer;
            font-size: var(--tiklab-font-16);
            &:not(:last-child){
                margin-right: 30px;
            }
        }
        .anch-plus{
            padding-top: 10px;
            &:hover{
                font-weight: var(--tiklab-font-weight-bold);
                color: #0063FF;
            }
        }
        .anch-select{
            border-bottom: 2px solid var(--tiklab-blue);
            font-weight: var(--tiklab-font-weight-bold);
        }
    }
    .formView-content{
        padding-top: var(--tiklab-padding-item);
    }
    &-wrapper{
        background: #ffffff;
        border-radius: 4px;
        padding: 15px;
        &:not(:last-child){
            margin-bottom: 15px;
        }
        &-Headline{
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-radius: 4px;
            border-bottom: 1px solid var(--tiklab-gray-200);
            height: 40px;
            .headline{
                &-left{
                    font-weight: var(--tiklab-font-weight-bold);
                }
                &-right{
                    .headline-changSort{
                        margin-right: 15px;
                        cursor: pointer;
                        &:hover{
                            color: var(--tiklab-blue);
                        }
                    }
                    .headline-delete{
                        cursor: pointer;
                        &:hover{
                            color: #ff0000;
                        }
                    }
                }
            }
        }
    }
    .formView-validateFields{
        border: 1px solid #ff0000;
    }
    .formView-inputs{
        display: flex;
        &-suffix{
            padding: 4px 0 0 5px;
        }
    }
    .ant-form{
        .ant-input{
            width: 500px;
            &:hover {
                background: #f2f2f2;
            }
        }
        .ant-select{
            width: 500px;
            &:hover{
                background: #f2f2f2;
            }
        }
        .ant-input-group-addon{
            width: 30px;
        }
        .ant-input-group{
            .ant-input{
                width: 470px;
            }
        }
        .ant-input-group-addon{
            border: none;
        }
        .ant-form-item-label{
            min-width: 130px;
            text-align: left;
        }
    }
}
.changeSorts-tree{
    .changeSorts-tree-code{
        padding-left: 7px;
        color: rgba(0,0,0,.25);
        background: #f5f5f5;
        border-color: #d9d9d9;
        cursor:not-allowed;
        margin-bottom: 4px;
        height: 30px;
        line-height: 30px;
    }
    .ant-tree-switcher{
        display: none;
    }
    .ant-tree .ant-tree-treenode{
        height: 30px;
        line-height: 30px;
    }
    .ant-tree .ant-tree-node-content-wrapper .ant-tree-iconEle{
        vertical-align:middle;
    }
}

