.formView{
    padding: 116px 10px 30px;
    .formView-validateFields{
        border: 1px solid #ff0000;
    }
    .formView-inputs{
        display: flex;
        &-suffix{
            padding: 4px 0 0 5px;
        }
    }
    .ant-form{
        .ant-input{
            width: 500px;
            &:hover{
                background: #f2f2f2;
            }
        }
        .ant-select{
            width: 500px;
            &:hover{
                background: #f2f2f2;
            }
        }
        .ant-input-group-addon{
            width: 30px;
        }
        .ant-input-group{
            .ant-input{
                width: 470px;
            }
        }
        .ant-input-group-addon{
            border: none;
        }
        .ant-form-item-label{
            min-width: 130px;
            text-align: left;
        }
    }
    &-anch{
        position: fixed;
        z-index:10;
        width: 100%;
        padding: 0 10px;
        &-limite{
            max-width: 1150px;
            margin: 63px auto 0;
        }
        &-content{
            display: flex;
            background: #f1f1f1;
            padding-top: 8px;
        }
        .anch-item{
            height: 35px;
            line-height: 35px;
            width: 80px;
            text-align: center;
            cursor: pointer;
            &:first-child{
                margin-left: 5px;
            }
            &:not(:last-child){
                margin-right: 5px;
            }
        }
        .anch-plus{
            padding-top: 10px;
            &:hover{
                background: #ffffff;
                font-weight: var(--mf-text-weight-bold);
                border-top-left-radius:4px;
                border-top-right-radius:4px;
            }
        }
        .anch-select{
            background: #ffffff;
            font-weight: var(--mf-text-weight-bold);
            border-top-left-radius:4px;
            border-top-right-radius:4px;
        }
    }
    &-content{
        margin-top: 5px;
        .code-handle{
            margin-bottom: 25px;
        }
        &-changSort{
            padding-bottom: 25px;
        }
    }
    &-wrapper{
        &-Headline{
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: #f2f2f2;
            border-radius: 4px;
            height: 40px;
            padding: 0 15px;
            .headline{
                &-left{
                    font-size: 16px;
                    font-weight: var(--mf-text-weight-bold);
                }
                &-right{
                    .headline-changSort{
                        margin-right: 15px;
                        cursor: pointer;
                        &:hover{
                            color: #0063FF;
                        }
                    }
                    .headline-delete{
                        cursor: pointer;
                        &:hover{
                            color: #ff0000;
                        }
                    }
                }
            }
        }
    }
}
