.breadcrumbContent{
    width: 100%;
    z-index: 100;
    background: #fff;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 0 4px;
    margin-bottom: 15px;
    &-span{
        color: rgba(0,0,0,.45);
    }
}
