.envi{
    &-content{
        width: 95%;
        margin: auto;
        &-action{
            .del{
                color:#ff0000;
                cursor: pointer;
            }
            .edit{
                padding-right: 10px;
                color: #1890ff;
                cursor: pointer;
            }
        }
        &-switch{
            padding-bottom: 15px;
        }
        &-btn{
            display: flex;
            justify-content: flex-end;
        }
    }
}

