$block-spacing: 30px;
$inline-spacing: 15px;

.overview{
    width: 100%;
    height: 100%;
    overflow: auto;
    .overview-guide{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .overview-guide-title{
        height: 36px;
        line-height: 36px;
        font-size: 15px;
        font-weight: var(--thoughtware-font-weight-bold);
    }
    .overview-upper{
        margin-bottom: $block-spacing;
        .overview-upper-content{
            padding-top: 10px;
            .overview-upper-instance{
                display: flex;
                gap: 10px;
                .instance-item{
                    flex: 1;
                    padding: 15px;
                    border-radius: 4px;
                    background: var(--mf-backdrop-color);
                    cursor: pointer;
                    max-width: 25%;
                }
                .instance-item-up{
                    padding-bottom: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    .instance-item-findNumber{
                        font-weight: var(--thoughtware-font-weight-bold);
                    }
                    .instance-item-createTime{
                        font-size: 13px;
                        color: #999999;
                    }
                }
                .instance-item-center{
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;
                    gap: 5px 20px;
                    padding: 5px 0;
                    .instance-item-center-info{
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        &>div:first-child{
                            font-size: 13px;
                            color: #999999;
                        }
                        &>div:last-child{
                            flex: 1;
                            min-width: 0;
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            -o-text-overflow: ellipsis;
                        }
                        .instance-item-runStatus{
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
    .overview-center{
        margin-bottom: $block-spacing;
        .overview-center-release{
            background-color: var(--mf-backdrop-color);
            border-radius: 4px;
            padding: 20px 10px 10px;
            margin-top: 15px;
        }
    }
}
