.guiView{
    flex: 1;
    .branch{
        &-title{
            overflow: hidden;
            text-overflow: ellipsis;
            position: absolute;
            margin-top: 43px;
            margin-left: 40px;
            max-width: 210px;
            white-space: nowrap;
        }
        &-address{
            overflow: hidden;
            text-overflow: ellipsis;
            position: absolute;
            margin-top: 43px;
            margin-left: 40px;
            max-width: 210px;
            white-space: nowrap;
        }
    }
    &_codeName{
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        &:before{
            content: "";
            width: 18px;
            height: 50px;
            position: absolute;
            left: 14px;
            top: 28px;
            border-left: 1px solid #d9d9d9;
            border-bottom: 1px solid #d9d9d9;
            border-right-color: #d9d9d9;
            border-top-color: #d9d9d9;
            border-radius: 0 0 0 16px;
        }
    }
    &_branch{
        &:before{
            content: "";
            width: 18px;
            height: 50px;
            position: absolute;
            top: 67px;
            left: 14px;
            border-left: 1px solid #d9d9d9;
            border-bottom: 1px solid #d9d9d9;
            border-right-color: #d9d9d9;
            border-top-color: #d9d9d9;
            border-radius: 0 0 0 16px;
        }
    }
    .guiView-main_group{
        position: relative;
        height: 100%;
        white-space: nowrap;
        padding: 0 var(--tiklab-padding);
        .group-create{
            padding-top: 19px;
            display: inline-block;
            vertical-align: top;
            height: 100%;
        }
        .group-table{
            padding-top: 19px;
            display: inline-block;
            vertical-align: top;
            height: 100%;
            // overflow-y: auto;
        }
        .group-head{
            padding: 0 20px;
            margin-bottom: 38px;
            .name{
                height: 20px;
                font-weight: 700;
            }
        }
        .group-flow{
            height: 100%;
            width: 48px;
            text-align: center;
            padding: 0 1px;
            display: inline-block;
            vertical-align: top;
            position: relative;
            -ms-transform: rotate(0);
            transform: rotate(0);
        }
        .group-flow_btn_i{
            position: absolute;
            top: 93px;
            left: 8px;
            z-index: 2;
            color: #595959;
        }
        .newStages-step{
            position: relative;
        }
        .newStages-job{
            z-index: 1;
            position: relative;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
            margin: 10px 0;
            -webkit-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
        }
        .newStages-job-code{
            width: 240px !important;
            &:hover{
                border-color: var(--tiklab-blue);
            }
        }
        .newStages-job-title{
            display: inline-block;
            max-width: 100px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        .newStages-job-warn{
            padding-left: 5px;
            font-size: 17px;
            color: red;
        }
        .job-name{
            border-color: red !important;
        }

        .group-flow:first-child .group-flow_singleBtn:after{
            left: 35px !important;
            width: 28px !important;
        }
        .group-flow_singleBtn{
            position: relative;
            z-index: 1;
            cursor: pointer;
            color: #8c8c8c;
            height: 100%;
            .icon{
                width: 30px;
                height: 30px;
            }
            &:after{
                content: "";
                width: 85px;
                border-top: 1px solid #d9d9d9;
                position: absolute;
                top: 108px;
                left: -20px;
            }
        }
        .newStages-single{
            .newStages-content{
                display: flex;
                z-index: 1;
                margin: 0 14px;
            }
            .newStages-singleJob-content{
                background: #fff;
                border: 1px solid #e5e5e5;
                border-radius: 20px;
                width: 180px;
                height: 40px;
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                -webkit-justify-content: center;
                -ms-flex-pack: center;
                justify-content: center;
                -webkit-box-align: center;
                -webkit-align-items: center;
                -ms-flex-align: center;
                align-items: center;
                cursor: pointer;
                &:hover{
                    border-color: var(--tiklab-blue);
                }
            }
        }

        .group-flow:first-child .group-flow_multiBtn:after{
            left: 24px !important;
            width: 63px !important;
        }
        .group-flow_multiBtn{
            position: relative;
            z-index: 1;
            cursor: pointer;
            color: #8c8c8c;
            height: 100%;
            .icon{
                width: 30px;
                height: 30px;
            }
            &:after{
                content: "";
                width: 100px;
                border-top: 1px solid #d9d9d9;
                position: absolute;
                top: 108px;
                left: -26px;
            }
            &:before{
                content: "";
                height: 100%;
                border-left: 1px solid #d9d9d9;
                position: absolute;
            }
        }
        .newStages-multi{
            display: inline-block;
            &:not(:last-child) .newStages-job-content:after{
                content: "";
                width: 52px;
                position: absolute;
                top: 21px;
                right: -26px;
                border-top: 1px solid #d9d9d9;
            }
            .newStages-content{
                display: flex;
                z-index: 1;
            }
            .newStages-job-code{
                margin-left: 14px !important;
            }
            .newStages-job-content{
                background: #fff;
                border: 1px solid #e5e5e5;
                border-radius: 20px;
                width: 180px;
                height: 40px;
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                -webkit-justify-content: center;
                -ms-flex-pack: center;
                justify-content: center;
                -webkit-box-align: center;
                -webkit-align-items: center;
                -ms-flex-align: center;
                align-items: center;
                cursor: pointer;
            }
            .newStages-has{
                &:hover{
                    &:before{
                        content: "";
                        width: 12px;
                        position: absolute;
                        top: 21px;
                        left: 14px;
                        border-top: 1px solid var(--tiklab-blue);
                    }
                    &:after{
                        content: "";
                        width: 12px;
                        position: absolute;
                        top: 21px;
                        right: 14px;
                        border-top: 1px solid var(--tiklab-blue);
                    }
                    .newStages-has-add{
                        cursor: pointer;
                        opacity: 1;
                        z-index: 2;
                    }
                    .newStages-job-content{
                        border-color: var(--tiklab-blue);
                    }
                }
                .has-add{
                    &::before{
                        content: "";
                        height: 100%;
                        width: 0;
                        display: inline-block;
                        vertical-align: middle;
                    }
                }
            }
            .newStages-has-add{
                opacity: 0;
                z-index: 2;
            }
            .newStages-has-pre{
                margin-right: 10px;
            }
            .newStages-has-next{
                margin-left: 10px;
            }
        }
    }
}


/*  抽屉样式  */
.wrapper{
    &-head{
        height: 46px;
        background:#fff;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        font-weight: 700;
        padding: 0 20px;
        &-title{
            .icon{
                width: 16px;
                height: 16px;
                vertical-align: middle;
            }
            .deletePart{
                cursor: pointer;
                margin-left: 10px;
            }
        }
    }
    &-body{
        overflow: hidden;
        height: calc(100% - 46px);
        padding: 0;
        .body {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            height: 100%;
            overflow: auto;
        }
    }
}
