.resources{
    .resources-upper{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .resources-content{
        padding-top: 10px;
    }
    .ant-avatar{
        width: 22px;
        height: 22px;
        font-size: 12px !important;
    }
}