.guiViewCodeMirror{
    display: flex;
    padding-top: 5px;
    .react-codemirror2{
        width: 440px;
        min-height: 64px;
        border: 1px solid #cccccc;
        &:hover{
            border-color: #1890ff;
        }
    }
    .CodeMirror{
        height: 100%;
        .CodeMirror-placeholder{
            color: #bfbfbf;
        }
    }
}
