
// 抽屉样式
.ant-drawer-content{
    position: relative;
    border-left: 1px solid #d9d9d9;
    height: 100%;
    z-index: 1000;
    background: #fff;
    &-wrapper{
        position: fixed;
        height: 100%;
        top: 56px;
        background: #fff;
        z-index: 100!important;
        -webkit-transition: all .35s ease 0s!important;
        transition: all .35s ease 0s!important;
    }
    .ant-drawer-body{
        padding: 0;
    }
}
.menu-wrapper{
    &-head{
        height: 45px;
        background: #fff;
        border-bottom: 1px solid #d9d9d9;
        padding: 12px 20px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        font-weight: 700;
    }
    &-body{
        .body{
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            height: calc(100vh - 115px);
            overflow: hidden;
            &-menu{
                display: flex;
                flex-direction: row;
                width: 100%;
                &_bottom{
                    padding-left: 20px;
                    .gray{
                        background: #eaeaea;
                    }
                }
                &_form{
                    margin-top: 35px;
                }
                &_left{
                    max-height: 100%;
                    height: 100%;
                    width: 80px;
                    border-right: 1px solid #e5e5e5;
                    display: inline-block;
                    vertical-align: top;
                    .at-nav{
                        display: inline-block;
                        width: 100%;
                        padding-left: 30px;
                        -webkit-user-select: none;
                        -moz-user-select: none;
                        -ms-user-select: none;
                        user-select: none;
                        &-item{
                            margin: 12px 0;
                            &:before{
                                width: 2px;
                                height: 32px;
                                -webkit-transition: all .4s cubic-bezier(.23,1,.32,1);
                                transition: all .4s cubic-bezier(.23,1,.32,1);
                                content: " ";
                                position: absolute;
                                z-index: 2;
                                left: 0;
                            }
                            &-main{
                                -webkit-box-sizing: border-box;
                                box-sizing: border-box;
                                position: relative;
                                cursor: pointer;
                                text-overflow: ellipsis;
                                &:before{
                                    position: absolute;
                                    background-color: transparent;
                                    top: 0;
                                    left: 0;
                                    bottom: 0;
                                    right: 0;
                                    content: "";
                                }
                                .teamix-title{
                                    font-weight: 700;
                                }
                            }
                        }
                        &-selected{
                            &:before{
                              background: #1b9aee;
                            }
                        }
                  }
               }
                &_right{
                    width: 100%;
                    overflow-y: auto;
                    display: inline-block;
                    padding: 14px 20px ;
                }
            }
             &-taskForm{
                 padding: 20px;
                 width: 100%;
                 .taskForm-top{
                     margin-bottom: 30px;
                     &_title{
                         font-weight: 700;
                         text-indent: 2em;
                      }
                 }
            }
        }
    }
    .config-details-link{
       margin: 0 0 0 10px;
    }
    .config-details-gitTest{
       text-align: right;
    }
}

//阶段选择
.group{
    margin-bottom: 16px;
    &-title{
      color: #8c8c8c;
      font-size: 14px;
      margin-bottom: 12px;
    }
    &-content{
        margin-bottom: 8px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        width: 440px;
        &:after{
          content: "";
          width: 214px;
          height: 0;
          background: transparent;
          opacity: 0;
        }
    }
    &-desc{
        border: 1px solid #e5e5e5;
        border-radius: 4px;
        margin-bottom: 12px;
        width: 214px;
        height: 80px;
        display: -webkit-inline-flex;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        -webkit-transition: -webkit-transform .218s ease-in;
        transition: -webkit-transform .218s ease-in;
        transition: transform .218s ease-in,-webkit-transform .218s ease-in;
      &-tpl{
          display: inline-block;
          vertical-align: top;
          width: calc(100% - 100px);
          margin-left: 12px;
      }
  }
    &-tpl{
       margin: 10px;
    }
}

//阶段删除
.deleted{
    cursor: pointer;
    &:hover{
        color: #ff0000;
    }
}


//CodeMirror
.cm-scroller{
  .cm-gutters{
    display: none;
  }
  .cm-content{
    min-height: 100px ;
    border: 1px solid #cccccc;
  }
}
