$block-spacing: 30px;

.homePage{
    width: 100%;
    height: 100%;
    overflow: auto;
    &-content{
        .homePage-guide{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .homePage-guide-skip{
                cursor: pointer;
                font-size: 16px;
            }
        }
        .homePage-guide-title{
            height: 36px;
            line-height: 36px;
            font-weight: var(--thoughtware-font-weight-bold);
        }
        .home-recent{
            border-radius: 4px;
            background: #fff;
            margin-bottom: $block-spacing;
            .pipelineRecent-content{
                display: flex;
                justify-content: flex-start;
                padding-top: 5px;
                gap: 10px;
            }
            .pipelineRecent-item{
                flex: 1;
                height: 110px;
                padding: 10px;
                max-width: calc(100% / 4);
                min-width: 120px;
                border-radius: 4px;
                cursor: pointer;
                background-color: var(--mf-backdrop-color);
                border-bottom: 2px solid transparent;
            }
            .pipelineRecent-item:hover{
                border-radius: 4px 4px 0 0;
                border-bottom-color: var(--thoughtware-blue);
                transition: 1s;
            }
            .pipelineRecent-item-title{
                padding-bottom: var(--thoughtware-padding-item);
                display: flex;
                flex-direction: row;
                align-items: center;
                .pipelineRecent-name{
                    flex: 1;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    -o-text-overflow: ellipsis;
                    font-weight: var(--thoughtware-font-weight-bold);
                }
            }
            .pipelineRecent-item-details{
                font-size: var(--thoughtware-font-13);
                display: flex;
                white-space: nowrap;
                .details-desc{
                    color: #9b9b9b;
                    padding-right: 8px;
                }
            }
            .pipelineRecent-item-detail{
                padding: 10px 0;
                &:first-child{
                    margin-right: 30px;
                }
            }
        }
        .home-build{
            background: #fff;
            border-radius: 4px;
            margin-bottom: $block-spacing;
            .pipelineBuild-item{
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 8px;
                &:hover{
                    background: #fafafa;
                    cursor: pointer;
                }
                .pipelineBuild-item-info{
                    flex: 1;
                    margin-right: 8px;
                }
                &:hover .pipelineBuild-item-name{
                    color: var(--thoughtware-blue);
                }
                .pipelineBuild-item-desc{
                    font-size: 12px;
                    color: var(--thoughtware-gray-500);
                    .desc-number{
                        padding-right: 8px;
                    }
                }
            }
        }
        .home-agent{
            background: #fff;
            min-height: 400px;
            border-radius: 4px;
        }
    }
}
