.homePage{
    width: 100%;
    height: 100%;
    overflow: auto;
    background: var(--mf-backdrop-color);
    &-content{
        .pipeline-icon{
            width: 32px;
            height: 32px;
            line-height: 32px;
            border-radius: 4px;
            text-align: center;
            color: black;
            font-size: 13px;
            margin-right: 8px;
        }
        .home-recent{
            border-radius: 4px;
            padding: 10px 10px 0;
            height: 200px;
            background: #fff;
            flex: 1;
            margin-bottom: 15px;
            .pipelineRecent-content{
                display: flex;
                justify-content: flex-start;
                padding: 5px 0 10px;
                width: 100%;
                overflow: auto;
            }
            .pipelineRecent-item{
                width: 232px;
                height: 120px;
                padding: 10px;
                border-radius: 4px;
                cursor: pointer;
                background-color: var(--mf-backdrop-color);
                border-bottom: 2px solid rgba(255,255,255,0);
                &:not(:last-child){
                    margin-right: 15px;
                }
            }
            .pipelineRecent-item:hover{
                border-radius: 4px 4px 0 0;
                border-bottom-color: var(--tiklab-blue);
                transition: 1s;
            }
            .pipelineRecent-item-title{
                padding-bottom: var(--tiklab-padding-item);
                display: flex;
                flex-direction: row;
                align-items: center;
                .pipelineRecent-name{
                    max-width: 100%;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    -o-text-overflow: ellipsis;
                    font-weight: var(--tiklab-font-weight-bold);
                }
            }
            .pipelineRecent-item-details{
                font-size: var(--tiklab-font-13);
                display: flex;
                justify-content: space-around;
                white-space: nowrap;
                .details-desc{
                    color: #9b9b9b;
                    padding-right: 8px;
                }
            }
            .pipelineRecent-item-detail{
                height: 40px;
                line-height: 40px;
                &:first-child{
                    margin-right: 10px;
                }
            }
        }
        .home-build{
            background: #ffffff;
            padding: 10px;
            border-radius: 4px;
            min-height: 200px;
            margin-bottom: var(--tiklab-padding-item);
            .pipelineBuild-item{
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 8px;
                &:hover{
                    background: #fafafa;
                    cursor: pointer;
                }
                .pipelineBuild-item-info{
                    flex: 1;
                    margin-right: 8px;
                }
                .pipelineBuild-item-name{
                    color: var(--tiklab-blue);
                }
                .pipelineBuild-item-desc{
                    font-size: 12px;
                    .desc-number{
                        padding-right: 8px;
                    }
                }
                .pipelineBuild-item-execTime{
                    font-size: var(--tiklab-font-13);
                    color: var(--tiklab-gray-500);
                }
            }
        }
        .home-agent{
            background: #fff;
            padding: 10px;
            min-height: 400px;
            border-radius: 4px;
        }
    }
}
