.messageModal{
    padding: var(--thoughtware-padding-item) 0;
    .messageModal-up{
        padding: 0 var(--thoughtware-padding);
        display: flex;
        justify-content: space-between;
        .messageModal-up-title{
            font-weight: var(--thoughtware-font-weight-bold);
        }
        .messageModal-up-icon{
            padding-right: 10px;
        }
    }
    .messageModal-content{
        height: calc(100% - 65px);
        overflow: hidden;
        .messageModal-screen-tab{
            display: inline-block;
            width: 25px;
            height: 25px;
            line-height: 25px;
            text-align: center;
            background: #f4f4f4;
            border-radius: 50px;
            margin-left: 5px;
            vertical-align: middle;
        }
        .messageModal-screen-much{
            position: relative;
            &:after{
                position: absolute;
                content: "+";
                font-size: 16px;
                top: -6px;
                left: 18px;
            }
        }
        .messageModal-title{
            border-bottom: 1px solid #f8f8f8;
            display: flex;
            justify-content: left;
            align-items: center;
            cursor: pointer;
            padding: 0 20px;
            .title-item{
                height: 40px;
                line-height: 40px;
                &:not(:last-child){
                    margin-right: 20px;
                }
            }
            .title-select{
                border-bottom: 2px solid var(--thoughtware-blue);
            }
        }
        .messageModal-list{
            height: calc(100% - 38px);
            overflow: auto;
            padding-top: 5px;
            .message-item{
                display: flex;
                justify-content: space-between;
                align-items: center;
                cursor: pointer;
                padding: 10px var(--thoughtware-padding);
                &:hover{
                    background: #fafafa;
                }
                &-left{
                    display: flex;
                    align-items: center;
                    width: 100%;
                }
                &-icon{
                    display: inline-block;
                    width: 30px;
                    height: 30px;
                    line-height: 30px;
                    border-radius: 50px;
                    background: #e9e9e9;
                    margin-right: 8px;
                    padding-top: 8px;
                    text-align: center
                }
                &-center{
                    flex: 1;
                    width: 0;
                }
                &-user{
                    display: flex;
                    justify-content: space-between;
                    padding-bottom: 5px;
                    .user-title{
                        font-size: var(--thoughtware-font-13);
                        font-weight: var(--thoughtware-font-weight-bold);
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        -o-text-overflow: ellipsis;
                        max-width: 200px;
                    }
                    .user-time{
                        color: #999;
                        font-size: 13px;
                    }
                }
                &-info{
                    display: flex;
                    align-items: center;
                    .message-item-info-action,.message-item-info-message{
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        -o-text-overflow: ellipsis;
                    }
                    .message-item-info-action{
                        font-size: 13px;
                        color: var(--thoughtware-gray-500);
                        max-width: 200px;
                    }
                    .message-item-info-message{
                        display: inline-block;
                        background-color: #f6f6f6;
                        padding: 4px;
                        border-radius: 4px;
                        font-size: 12px;
                        margin-left: 10px;
                        max-width: 120px;
                    }
                }
            }
        }
        .message-item:hover .message-hidden{
            display: block;
            &:hover{
                color: var(--thoughtware-blue);
            }
        }
        .message-hidden{
            display: none;
        }
        .message-read{
            color: #999;
        }
        .messageModal-more{
            text-align: center;
            border-radius: 4px;
            cursor: pointer;
            padding-top: 5px;
            color: var(--thoughtware-blue);
        }
    }
}
