.frame{
    height: 100vh;
    overflow: hidden;
    &-header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        min-width: 600px;
        height: var(--mf-head-height);
        border-bottom: 1px solid var(--thoughtware-gray-200);
        padding: 0 30px;
        &-logo{
            height: var(--mf-head-height);
            width: 100px;
            margin: 0 20px;
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        &-right{
            display: flex;
            flex-direction: row;
            justify-items: flex-end;
            align-items: center;
            height: 100%;
            .frame-header-right-text{
                margin-left: 20px;
            }
        }
        &-icon{
            font-size: var(--thoughtware-icon-size-24);
        }
        .text_icon_block_item{
            cursor: pointer;
            padding: 4px;
        }
        .text_icon_block_item:hover, .text_icon_block_linked {
            border-radius: 50%;
            color: rgb(0, 82, 204);
            background-color: rgba(222, 235, 255, 0.9);
            .frame-header-icon{
                color: rgb(0, 82, 204);
            }
        }
        .headers{
            &-link{
                display: flex;
                flex-direction: row;
                flex-shrink: 0;
                & > div{
                    cursor: pointer;
                    margin-right: 10px;
                    height: 48px;
                    line-height: 48px;
                    padding: 0 10px;
                    &:not(:last-child){
                        margin-right: var(--thoughtware-padding-item);
                    }
                }
            }
            &-active{
                border-bottom: 2px solid var(--thoughtware-blue);
            }
        }
    }
    &-content{
        height: var(--mf-content-height);
    }
}
