.pipelineReDel{
    .pipelineReDel-up{
        padding-bottom: var(--tiklab-padding-item);
    }
    .pipelineReDel-ul{
        border-radius: 4px;
        border: 1px solid #ececec;
    }
    .pipelineReDel-li{
        &:not(:last-child){
            border-bottom: 1px solid #ececec;
        }
        .pipelineReDel-li-top{
            display: flex;
            align-items: flex-start;
            padding: 10px 20px;
            cursor: pointer;
            &:hover{
                background: #fafafa;
            }
        }
        .pipelineReDel-li-icon{
            width: 16px;
            height: 16px;
            line-height: 16px;
            margin-right: 10px;
            margin-top: 4px;
            font-weight: var(--tiklab-font-weight-bold);
        }
        .pipelineReDel-li-center{
            flex-grow: 1;
        }
        .pipelineReDel-li-title{
            font-weight: var(--tiklab-font-weight-bold);
        }
        .pipelineReDel-li-desc{
            font-size: var(--tiklab-font-13);
            color: var(--tiklab-gray-500);
        }
        .pipelineReDel-li-down{
            align-self: center;
        }
        .pipelineReDel-li-select{
            background: #fafafa;
        }
        .pipelineReDel-li-bottom{
            padding:10px 20px;
        }
        .pipelineReDel-li-none{
            display: none;
        }
    }
}

.pipelineReDel-modal{
    .pipelineReDel-modal-warn{
        border: 2px solid #ff0000;
        color: #ff0000;
        padding: 15px;
        background-color: #FFE8E6;
        margin-bottom: 15px;
        .warn-continue{
            padding: 15px 0;
        }
        .warn-pipeline-title,.warn-pipeline{
            color: #21242a;
            font-weight: 600;
        }
    }
    .pipelineReDel-modal-error{
        font-size: 12px;
        font-weight: bold;
        color: #ff4d4f;
        padding-top: 3px;
        padding-bottom: 10px;
    }
    .inputs-error{
        border-color: #ff7875;
        box-shadow: 0 0 0 2px rgba(255,77,79,0.2);
    }
    .pipelineReDel-modal-btn{
        text-align: right;
    }
}


