.template-addmodal {
    .addmodal-top {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        .icon {
            width: 50px;
            height: 50px;
        }
        .addmodal-from {
            flex: 1;
        }
    }
    .edit-box {
        height: 50vh;
        border: 1px solid #ebecf0;
        padding: 10px;
    }
}