.wiki-template {
    background-color: #fff;
    height: 100%;
    padding: 10px;
    .template-box{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        .template-item {
            // border: 1px solid ;
            position: relative;
            min-width: 250px;
            max-width: 250px;
            height: 125px;
            border-radius: 10px;
            background-color: rgb(255, 255, 255);
            padding: 18px;
            cursor: pointer;
            box-shadow: rgb(179,186,197) 0px 0px 1px 0px, rgb(193,199,208) 0px 1px 1px 0px;
            background-position: center center;
            background-size: auto 100%;
            background-image: url("../../../assets/images/300.png");
            margin-top: 20px;
            margin-bottom: 20px;
            color: #fff;
            .icon {
                width: 40px;
                height: 40px;
            }
            .title {
                margin-top: 10px;
                font-size: 18px;
                font-weight: 600;
            }
            .item-shade {
                width: 100%;
                height: 100%;
                background-color: rgba(158, 162, 167, 0.7);
                position: absolute;
                top: 0;
                left: 0;
                display: none;
                justify-content: space-around;
                align-items: center;
                font-weight: 600;
                border-radius: 10px;
            }
            .item-hidden {
                display: none;
            }
            .item-show{
                display: flex;
                animation-name: example;
                animation-duration: 300ms;
            }
            @keyframes example {
                from {height: 0px;}
                to {height: 125px;}
            }
        }
    }
}