.formView-anch{
    position: sticky;
    top: 66px;
    background: #f7f8fa;
    z-index: 9;
    padding: 15px 0;
    &-content{
        display: flex;
        border-radius: 4px;
    }
    .anch-item{
        height: 35px;
        line-height: 35px;
        cursor: pointer;
        font-size: var(--tiklab-font-16);
        &:not(:last-child){
            margin-right: 30px;
        }
    }
    .anch-plus{
        padding-top: 10px;
        &:hover{
            font-weight: var(--tiklab-font-weight-bold);
            color: #0063FF;
        }
    }
    .anch-select{
        border-bottom: 2px solid var(--tiklab-blue);
        font-weight: var(--tiklab-font-weight-bold);
    }
}