.config{
    margin: auto;
    max-width: 1150px;
    min-height: calc(100vh - 55px);
    max-height: fit-content;
    background: #fff;
    .top-limited{
        max-width: 1150px;
        margin: auto;
    }
    &-top{
        position: fixed;
        z-index: 88;
        background: #fff;
        width: 100%;
        padding: 8px 15px 4px;
        font-size: 16px;
        min-width: 510px;
        &-content{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    }
}
.changeSorts-tree{
    .ant-tree{
        .ant-tree-list{
            .ant-tree-node-content-wrapper{
                height: 30px;
                line-height: 30px;
                display: flex;
                align-items: center;
                padding-left: 10px;
                &:hover{
                    background: #e3e8f0;
                }
            }
            .ant-tree-switcher{
                width: 0;
            }
            .ant-tree-node-selected{
                background: #e3e8f0;
            }
            .ant-tree-title{
                padding-left: 5px;
            }
        }
    }
}