.config_changeView{
    .changeView{
        display: flex;
        &-btn,&-changeSort{
            margin-top: 2px;
            &>button{
                &:last-child{
                    margin: 0 15px;
                }
            }
        }
        &-view{
            height: 36px;
            padding: 0 2px;
            background-color:#eaeaea;
            border-radius: 4px;
            display: flex;
            min-width: 188px;
            &-li{
                height: 32px;
                margin-top: 2px;
            }
            &-item{
                padding: 8px 10px;
                cursor: pointer;
                height: 32px;
                margin-top: -3px;
            }
            &-inner{
                background-color: #fff;
                box-shadow: 0 1px 2px 0 #ccc;
                border-radius: 4px;
                height: 32px;
                margin-top: 2px;
            }
            &-ban{
                color: #C4C4C4;
                height: 30px;
                margin-top: -3px;
                padding: 8px 10px;
            }
        }
    }
}

.changeSorts-tree{
    .ant-tree{
        .ant-tree-list{
            .ant-tree-node-content-wrapper{
                height: 30px;
                line-height: 30px;
                &:hover{
                    background: #e3e8f0;
                }
            }
            .ant-tree-node-selected{
                background: #e3e8f0;
            }
        }
    }
}
