.config{
    height: 100%;
    overflow: auto;
    background: var(--mf-backdrop-color);
    .config-up{
        position: sticky;
        top: 0;
        background: #ffffff;
        z-index: 9;
        min-width: 768px;
        padding: var(--tiklab-padding) 20px 10px;
    }
    .config-top{
        &-content{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    }
    .config_changeView{
        .changeView{
            display: flex;
            align-items: center;
            &-valid{
                color: red;
                height: 32px;
                line-height: 32px;
            }
            &-addConfig,&-btn,&-valid{
                margin-right: 15px;
            }
        }
    }
}

/* 部署应用源文件地址 的匹配提示 */
.deployTargetAddress{
    position: absolute;
    top: 30px;
    left: 130px;
    font-size: var(--tiklab-font-13);
    color: var(--tiklab-gray-500);
}