.orga {
    height: 100%;
    .orga-background {
        background-color: #fff;
        margin-left: 210px;
        padding: 10px
    }
    .orga-col {
        background-color: #fff;
        padding: 20px;
    }
    .orga-aside {
        height: 100%;
        background-color: #F7F8FA;
        padding-top: 20px;
        ul,li {
            list-style: none;
        }
        .orga-aside-hidden {
            display: none;
        }
        .orga-aside-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 40px;
            line-height: 40px;
            padding: 0 20px;
            cursor: pointer;


        }
        .orga-aside-li {
            line-height: 40px;
        }
        .orga-aside-ul {
            padding: 0;
        }
        .orga-aside-second:hover {
            span {
                color: #0053ca;
            }
        }
        .orga-aside-first:hover{
            .orga-aside-title {
                color: #0053ca;
            }
        }
        .orga-aside-select {
            border-right: 3px solid #1890ff;
            background: #e6f7ff;
        }
    }
    .icon{
        width: 25px;
        height: 25px;
        padding-right: 5px;
    }
}
.ant-modal-close-x{
    display: flex !important;
    justify-content: center;
    align-items: center;
}
