.system{
    display: flex;
    flex-direction: row;
    height: 100%;
    &-left{
        width: 200px;
    }
    &-content{
        flex-grow: 1;
        padding: 15px;
    }
    .left{
        height: 100%;
        width: 200px;
        min-width: 200px;
        background: #f8f8f8;
        z-index: 20;
        vertical-align: top;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        border-right: 1px solid #ccc;
        &-content{
            padding-top: 15px;
            &-nav{
                display: flex;
                padding: 15px;
                align-items: center;
                &-icon{
                    padding-right: 5px;
                    .icon{
                        width: 25px;
                        height: 25px;
                    }
                }
            }
        &-active{
            border-right: 3px solid #1890ff;
            background: #e6f7ff;
        }
        .ant-menu{
            background: #f8f8f8;
        }
    }
}
}
