.config-details{
  &-post{
    position: fixed;
    z-index: 98;
    width: 1000px;
    &>button{
      left: 913px;
    }
  }
  &-offset{
    width: 1000px;
    position: relative;
    top: 30px;
    border: 1px solid #EAEAEA;
    border-radius: 3px;
  }
  &-anchor{
    position: fixed;
    width: 1000px;
    margin-bottom: 30px;
    z-index: 98;
    background: #ccc;
    height: 50px;
    &-d{
      cursor: pointer;
      float: left;
      margin: 14px 0 0 25px;
      font-size: 16px;
      width: 80px;
      text-align: center;
      height: 35px;
      line-height: 35px;
      &:hover{
        background-color: #ffffff;
      }
    }
    &-active{
      background-color: #ffffff;
      font-weight: bold;
    }
  }
  &-link{
    display: inline-block;
    color: #1890ff;
    cursor: pointer;
    margin-top: 30px;
    margin-left: 30px;
  }
  &-btn{
    position: fixed;
    left: 550px;
    bottom: 20px;
    z-index: 50;
    height: 50px;
    line-height: 50px;
    text-align: center;
  }
  form{
    margin-top: 70px;
    margin-left: 30px;
  }
  h2{
    font-weight: bold;
    border-bottom: 1px solid #e9e9e9;
  }
  input{
    width: 500px;
  }
  textarea{
    width: 700px;
    min-width: 500px;
  }
  .hidden{
    position: fixed;
    margin-top: -85px;
    height: 166px;
    z-index: 98;
    width: 120%;
    background-color: #FFFFFF;
    margin-left: -300px;
  }
  .anchor-content{
    clear: both;
    margin-top: 10px;
  }
}
