.structure{
  overflow: hidden;
  ul>li{
    list-style: none;
  }
  &-card{
    float: left;
    width: 200px;
    margin-right: 20px;
  }
  &-div{
    width: 50px;
    height: 50px;
    cursor: pointer;
    line-height: 50px;
    text-align: center;
    float: left;
  }
  &-btn{
    margin-bottom: 10px;
  }
  &-ul{
    float: right;
  }
  &-out{
    clear: both;
  }
  &-outLog{
    overflow: auto;
    height: 45vh;
    white-space: pre-wrap;
  }
  &-running{
    position: absolute;
    bottom: 88px;
  }

}