.messageModal{
    height: calc(100% - 42px);
    overflow: hidden;
    &-list{
        height: calc(100% - 36px);
        overflow: auto;
        .tidings-item{
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 55px;
            cursor: pointer;
            border-bottom: 1px solid #f4f4f4;
            padding: 5px;
            &:first-child{
                border-top: 1px solid #f4f4f4;
            }

            &:hover{
                background: #f4f4f4;
            }
            &-left{
                display: flex;
                align-items: center;
            }
            &-icon{
                display: inline-block;
                width: 30px;
                height: 30px;
                line-height: 30px;
                border-radius: 50px;
                background: #6da5f7;
                margin-right: 8px;
                padding-top: 5px;
                text-align: center
            }
            &-user{
                .user-sendUser{
                    font-weight: 500;
                }
                .user-time{
                    color: #00000073;
                    font-size: 13px;
                }
            }
            &-message{
                color: #695c5c;
            }
            &-right{
                width: 50px;
                height: 25px;
                line-height: 25px;
                text-align: center;
                font-size: 12px;
                border-radius: 30px;
                color: #f4f4f4;
            }
            &-state{
                &-1{
                    background: #1890ff;
                }
                &-0{
                    background: #cccccc;
                }
            }
        }
    }
    &-more{
        text-align: center;
        /* background: #f5f6f8; */
        border-radius: 4px;
        cursor: pointer;
        margin-top: 15px;
        color: #1890ff;
    }
}