.structure{
    margin: 46px auto;
    width: 95%;
    .icon {
        width: 20px !important;
        height: 20px !important;
    }
    &-content{
        display: flex;
        flex-direction: row;
        &-left {
            width: 350px;
            min-width: 350px;
            background: #fff;
            border-right: 1px solid #d9d9d9;
            padding-top: 15px;
            vertical-align: top;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            &-dropdown{
                width: 350px;
                .dropdown{
                    display: flex;
                    flex-direction: row;
                }
            }
            &-history{
                .history-content{
                    padding-right: 15px;
                    overflow-y: auto;
                    height: 83vh;
                    &-list{
                        display: flex;
                        flex-direction: row;
                        width: 100%;
                        margin: 10px 0;
                        border-bottom: 1px solid #ccc;
                        padding: 10px;
                        cursor: pointer;
                        .list{
                            &-title{
                                width: 85px;
                                &>span{
                                    color: #1890ff;
                                    font-weight: 500;
                                    font-size: 18px;
                                }
                            }
                            &-group{
                                flex-grow: 1;
                                &-item{
                                    display: flex;
                                    flex-direction: row;
                                    justify-content: space-between;
                                    margin-bottom: 10px;
                                }
                            }
                            &-time{
                                margin-left: -3px;
                            }

                        }
                        &_active{
                            background: #eaeaea;
                        }
                    }
                }
            }
            .ant-dropdown-trigger{
                display: inline-block;
                margin-right: 30px;
            }
        }
        &-right{
            flex-grow: 1;
            height: calc(100vh - 120px);
            padding: 15px;
            &-mid{
                .mid_group{
                    display: flex;
                    flex-direction: column;
                    .ant-card-body {
                        padding: 20px;
                    }
                    &_top{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        margin-bottom: 20px;
                        &_tel{
                            .tel{
                                &_time{
                                    padding-right: 20px;
                                }
                            }
                        }
                    }
                    &_center{
                        display: flex;
                        flex-direction: row;
                        &-cart{
                            margin-right: 20px;
                            width:220px;
                            display: flex;
                            flex-direction: row;
                            .cart{
                                &-top{
                                    &>span{
                                      padding-left:5px;
                                    }
                                }
                                &-center{
                                    &-item{
                                        display: flex;
                                        flex-direction: row;
                                        justify-content: space-between;
                                        padding: 10px 0  ;
                                        >div{
                                            padding-left: 10px;
                                        }
                                    }
                                }
                                &-bottom{
                                    text-align: right;
                                    &-span{
                                        display: inline-block;
                                        cursor: pointer;
                                        color: #1890ff;
                                        width: 30px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        &-bottom{
            &-outLog{
              white-space: pre-wrap;
              height:59vh;
              overflow-y: auto;
              overflow-x: hidden;
            }
            padding: 20px;
        }
    }
}
