.gui-mirror{
    position: relative;
    .react-codemirror2{
        height: 100%;
        max-height: 300px;
        width: 100%;
        overflow-y: auto;
    }
    .gui-mirror-empty{
        border: 1px solid #ff4d4f;
    }
    .gui-mirror-empty-focus{
        min-height: 64px;
        border: 1px solid #ff4d4f;
        -webkit-box-shadow: inset 0 0 0 2px rgba(255,77,79,0.2);
        box-shadow: inset 0 0 0 2px rgba(255,77,79,0.2);
        .CodeMirror{
            min-height: 64px;
        }
    }
    .gui-mirror-has{
        min-height: 32px;
        border: 1px solid #efeded;
        &:hover .CodeMirror{
            background-color: #f2f2f2;
        }
    }
    .gui-mirror-has:hover{
        background-color: #f2f2f2 !important;
    }
    .gui-mirror-has-focus{
        min-height: 64px;
        border: 1px solid #40a9ff;
        -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
        box-shadow:inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(102,175,233,0.6);
        .CodeMirror{
            min-height: 64px;
        }
    }
    .CodeMirror{
        height: 100%;
        padding: 2px 7px;
        .CodeMirror-placeholder{
            color: #bfbfbf;
        }
    }
    .gui-mirror-expand{
        position: absolute;
        top: 0;
        right: 0;
        margin: 11px 11px 0 0;
        cursor: pointer;
        z-index: 20;
    }
    .gui-mirror-disable{
        border: 1px solid #efeded;
        .CodeMirror{
            background-color: #f5f5f5;
        }
    }
}

.CodeMirror-hints{
    z-index: 1000 !important;
}

.gui-mirror, .mirror-expand {
    .CodeMirror{
        .CodeMirror-placeholder,.CodeMirror-code{
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
            font-weight: normal;
            font-size: 14px;
            font-feature-settings: "liga" 0, "calt" 0;
            line-height: 19px;
            letter-spacing: 0;
        }
    }
}
