.pipelineSys{
    flex-grow: 1;
    display: flex;
    flex-direction: row;

    &-content{
      flex-grow: 1;
    }
    /*  成员设置  */
    .left{
        height: 100%;
        width: 200px;
        min-width: 200px;
        background: #f8f8f8;
        z-index: 20;
        vertical-align: top;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        border-right: 1px solid #ccc;
        &-content{
            padding-top: 15px;
            .icon{
              width: 25px;
              height: 25px;
            }
            &-nav{
                display: flex;
                padding: 15px;
                &-icon{
                    padding-right: 5px;
                }
            }
            &-active{
                border-right: 3px solid #1890ff;
                background: #e6f7ff;
            }
            .ant-menu{
                background: #f8f8f8;
            }
        }
    }
    &-membro{
        height: calc(100% - 50px);
    }
        /*  删除以及重命名  */
    &-reDel{
        padding: 20px 0 0 20px;
    }

}