.guiViewCodeMirror{
    .react-codemirror2{
        width:430px ;
        border: 1px solid #cccccc;
        &:hover{
            border-color: #1890ff;
        }
    }
    .CodeMirror{
        height: 100%;
    }
}