.guiViewCodeMirror{
    display: flex;
    .react-codemirror2{
        width: 410px;
        min-height: 32px;
        border: 1px solid #cccccc;
        &:hover{
            border-color: #1890ff;
        }
    }
    .CodeMirror{
        height: 100%;
    }
}
