$block-spacing: 30px;
$inline-spacing: 15px;
$inline-padding: 15px;

.setting-home{
    height: 100%;
    width: 100%;
    overflow: auto;
    .home-title{
        margin-bottom: 10px;
        font-weight: var(--thoughtware-font-weight-bold);
    }
    .home-label{
        padding-bottom: $inline-padding;
    }
    .home-info{
        font-weight: var(--thoughtware-font-weight-bold);
    }
    .home-role-box{
        .home-role{
            margin-bottom: $block-spacing;
            width: calc(25% - 7.5px);;
            .home-role-item{
                background: var(--mf-backdrop-color);
                text-align: center;
                padding: $inline-padding;
                border-radius: 4px;
            }
        }
    }
    .home-user-box{
        margin-bottom: $block-spacing;
        .home-user{
            display: flex;
            gap: $inline-spacing;
            .home-user-item{
                flex: 1;
                background: var(--mf-backdrop-color);
                text-align: center;
                padding: $inline-padding;
                border-radius: 4px;
            }
        }
    }
    .home-message-box{
        .home-message{
            display: flex;
            gap: $inline-spacing;
            width: calc(50% - 7.5px);
            .home-message-item{
                flex: 1;
                background: var(--mf-backdrop-color);
                text-align: center;
                padding: $inline-padding;
                border-radius: 4px;
            }
        }
    }
    .home-config-box{
        margin: $block-spacing 0;
        .home-config{
            display: flex;
            gap: $inline-spacing;
            .home-config-item{
                flex: 1;
                background: var(--mf-backdrop-color);
                padding: $inline-padding;
                border-radius: 4px;
                .home-config-item-label{
                    padding-bottom: $inline-padding;
                }
                .home-config-item-level,.config-level-item{
                    display: flex;
                    align-items: center;
                    .config-level-item-label{
                        font-size: 12px;
                        color: #999999;
                        margin-right: 10px;
                    }
                    .config-level-item-info{
                        font-weight: var(--thoughtware-font-weight-bold);
                    }
                }
                .home-config-item-level{
                    grid-column-gap: 20px;
                    flex-wrap: wrap;
                }
            }
        }
    }
    .home-licence-box{
        .home-licence{
            display: flex;
            gap: $inline-spacing;
            width: calc(50% - 7.5px);
            .home-licence-item{
                flex: 1;
                background: var(--mf-backdrop-color);
                border-radius: 4px;
                padding: $inline-padding;
                .home-licence-item-label{
                    padding-bottom: $inline-padding;
                }
                .home-licence-item-level{
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;
                    .licence-level-label{
                        font-size: 12px;
                        color: #999999;
                        margin-right: 10px;
                    }
                    .licence-level-info{
                        font-weight: var(--thoughtware-font-weight-bold);
                    }
                }
            }
        }
    }
    .home-security-box{
        .home-security .home-security-item{
            background: var(--mf-backdrop-color);
            border-radius: 4px;
            padding: $inline-padding;
            .home-security-item-level{
                display: flex;
                align-items: center;
                gap: $inline-spacing;
                .security-level-label{
                    font-size: 12px;
                    color: #999999;
                    margin-right: 10px;
                }
                .security-level-info{
                    flex: 1;
                    width: 0;
                    font-weight: var(--thoughtware-font-weight-bold);
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
            }
        }
    }

    .home-box{
        display: flex;
        .home-message-box,.home-licence-box{
            flex:1;
        }
        .home-message-box{
            margin-right: $inline-spacing;
        }
    }
    .home-chunk-box{
        display: flex;
        .home-role-box,.home-message-box{
            margin-right: $inline-spacing;
        }
        .home-role-box,.home-security-box{
            flex: 1;
        }
        .home-message-box{
            flex: 2;
        }
    }

}


