.mf-tabs{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
    line-height: 50px;
    font-size: var(--tiklab-font-15);
}

.mf-tab{
    cursor: pointer;
    height: 50px;
    line-height: 50px;
    margin-right: 20px;
}

.mf-active-tab{
    color: #000;
    font-weight: var(--tiklab-font-weight-bold);
    border-bottom: 2px solid var(--tiklab-blue);
}