ul{
    list-style: none;
}
.aside{
    position: fixed;
    background-color: #fff;
    z-index: 888;
    left: 0;
    top: 55px;
    border-right:1px solid #cccccc;
    height: 100%;
    .content{
        width: 65px;
        padding: 0;
    }
    &_content{
        height: 55px;
        text-align: center;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 10px;
        .icon{
            width: 20px;
            height: 20px ;
        }
        &:hover{
            background: #eaeaea;
        }
        &:first-child{
            height: 55px;
            display: flex;
            line-height: 55px;
            width: 100%;
            align-items: center;
            padding: 0 20px;
            .icon{
                width: 25px;
                height: 25px ;
            }
        }
    }
    &_link{
        background: #eaeaea;
        border-right: 3px solid #1890ff;
    }
}
.opt{
    width: 300px;
    background-color: #ffffff;
    border: 1px solid #C4C4C4;
    &-content{
        height: 100%;
        padding: 10px;
        &-title{
            font-weight: 700;
            font-size: 16px;
        }
        &-group{
            padding: 20px;
            &_item{
                margin-bottom: 10px;
                cursor: pointer;
                height: 30px;
                padding-left: 20px;
                line-height: 30px;
                &:hover{
                    border: 1px solid #ccc;
                }
            }
        }
    }
}


