.guiView{
    &-content{
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        flex-direction: row;
        min-height: calc(100% - 76px);
        max-height: fit-content;
    }
    .branch{
        &-title{
            overflow: hidden;
            text-overflow: ellipsis;
            position: absolute;
            top: 65px;
            left: 25px;
            white-space: pre-wrap;
        }
        &-address{
            position: absolute;
            top: 132px;
            left: 25px;
        }
    }
    &_codeName{
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        &:before{
            content: "";
            width: 18px;
            height: 60px;
            position: absolute;
            left: 13px;
            top: 28px;
            border-left: 1px solid #d9d9d9;
            border-bottom: 1px solid #d9d9d9;
            border-right-color: #d9d9d9;
            border-top-color: #d9d9d9;
            border-radius: 0 0 0 16px;
        }
    }
    &_branch{
        &:before{
            content: "";
            width: 18px;
            height: 62px;
            position: absolute;
            top: 75px;
            left: 13px;
            border-left: 1px solid #d9d9d9;
            border-bottom: 1px solid #d9d9d9;
            border-right-color: #d9d9d9;
            border-top-color: #d9d9d9;
            border-radius: 0 0 0 16px;
        }
    }
    &-main{
        display: inline-block;
        max-height: calc(100vh - 56px);
        vertical-align: top;
        &_container{
            -webkit-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
            height: 100%;
        }
        &_group{
            position: relative;
            height: 100%;
            white-space: nowrap;
            .group{
                &-flow{
                    height: 100%;
                    width: 48px;
                    text-align: center;
                    padding: 0 1px;
                    display: inline-block;
                    vertical-align: top;
                    position: relative;
                    -ms-transform: rotate(0);
                    transform: rotate(0);
                    &:first-child{
                        .group-flow_btn{
                            &:after{
                                width: 40px!important;
                                margin-left: 0;
                            }
                        }
                    }
                    &_btn{
                        position: relative;
                        z-index: 1;
                        cursor: pointer;
                        color: #8c8c8c;
                        height: 100%;
                        .icon{
                            width: 30px;
                            height: 30px;
                        }
                        &_i{
                            position: absolute;
                            top: 100px;
                            margin-left: -15px;
                            z-index: 2;
                            color: #595959;
                        }
                        &:after{
                            content: "";
                            width: 78px;
                            border-top: 1px solid #d9d9d9;
                            position: absolute;
                            top: 116px;
                            margin-left: -40px;
                        }
                        &:before{
                            content: "";
                            height: 100%;
                            border-left: 1px solid #d9d9d9;
                            position: absolute;
                        }
                    }
                }
                &-table{
                    padding-top: 30px;
                    display: inline-block;
                    vertical-align: top;
                    height: 100%;
                    overflow-y: auto;
                    max-width: 300px;
                }
                &-create{
                    padding-top: 30px;
                    display: inline-block;
                    vertical-align: top;
                    height: 100%;
                }
                &-head{
                    padding: 0 20px;
                    margin-bottom: 38px;
                    .name{
                        height: 20px;
                        font-weight: 700;
                        .label{
                            max-width: 300px;
                            .desc-title{
                                padding-left: 10px;
                            }
                            &>span{
                                cursor: pointer;
                                padding-top: 5px;
                            }
                        }
                    }
                }
            }
            .newStages{
                &-step{
                    position: relative;
                }
                &-content{
                    display: inline-block;
                    position: relative;
                }
                &-task{
                    display: -webkit-box;
                    display: -webkit-flex;
                    display: -ms-flexbox;
                    display: flex;
                    z-index: 1;
                    margin: 7px 14px;
                    .job-name{
                        border-color: red;
                    }
                }
                &-job{
                    height: 40px;
                    width: 127px;
                    border: 1px solid #e5e5e5;
                    border-radius: 20px;
                    display: flex;
                    align-items: center;
                    padding: 0 5px;
                    cursor: pointer;
                    background: #fff;
                    overflow: hidden;
                    justify-content: center;
                    &-warn{
                        padding-left: 5px;
                        font-size: 17px;
                        color: red;
                    }
                }
            }
        }
    }
}

.guiView-validateFields{
    border-color: red;
}

/*  抽屉样式  */
.wrapper{
    &-head{
        height: 46px;
        background:#fff;
        padding: 12px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        font-weight: 700;
        &-title{
            .icon{
                width: 16px;
                height: 16px;
                vertical-align: middle;
            }
            .deleted{
                cursor: pointer;
                margin-left: 10px;
                &:hover{
                    color: #ff0000;
                }
            }
        }
    }
    &-body{
        height: calc(100vh - 100px);
        overflow: hidden;
        padding: 0;
        .body {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            height: calc(100vh - 115px);
            overflow: auto;
        }
    }
}

.guiView-inputs{
    display: flex;
    align-items: center;
    &-suffix{
        padding: 10px 0 0 5px;
    }

}
