@import "./color.scss";

$prefixCls:'prefixCls';


$primary: $blue;
$secondary: $gray-600;
$success: $green;
$warning: $yellow;
$danger: $red;
$light: $gray-100;
$dark: $gray-800;


$font-family-sans-serif: "Poppins";
$font-family-base: $font-family-sans-serif;


$font-size-base: 1rem; // Assumes the browser default, typically `16px`
$font-size-lg: $font-size-base * 1.75;
$font-size-sm: $font-size-base * 0.875;
$font-size-xs: $font-size-base * 0.75;
$font-size-xxs:$font-size-base * 0.5;
$font-size-root: null;


$font-weight-lighter: lighter;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-500: 500;
$font-weight-600: 600;
$font-weight-bold: 700;
$font-weight-bolder: bolder;
$font-weight-base: $font-weight-normal;


$line-height-base: 1.5;
$line-height-lg: 2;
$line-height-sm: 1.25;


$h1-font-size: $font-size-base * 2;
$h2-font-size: $font-size-base * 1.5;
$h3-font-size: $font-size-base * 1.125;
$h4-font-size: $font-size-base * 0.875;
$h5-font-size: $font-size-base * 0.75;
$h6-font-size: $font-size-base;


$body-bg: $white;
$body-color: $gray-900;
$body-text-align: null;


$display1-size: 6rem;
$display2-size: 5.5rem;
$display3-size: 4.5rem;
$display4-size: 3.5rem;

$display1-weight: 300;
$display2-weight: 300;
$display3-weight: 300;
$display4-weight: 300;

$border-width: 1px;
$border-color: $gray-300;

$border-radius: .25rem;
$border-radius-lg: .3rem;
$border-radius-sm: .2rem;
