// @import '../assets/font-icon//iconfon    t.css';
@import "_color";
@import "_base";
@import "_normalize";


.ant-modal-close-x {
    display: flex !important; 
    justify-content: center;
    align-items: center;
}

.ant-form-item-control-input-content .ant-btn {
    margin-right: 8px;
}

.ant-breadcrumb {
    font-size: 15px;
    font-weight: 600;
}

.span-botton {
    color: #1890ff;
    cursor: pointer;
}

.delete {
    color: red;
}
.ant-btn-primary {
    background: #0053ca !important;
    border-color: #0053ca !important;
}

// 表格的外边距
.table-box {
    margin-top: 24px;
}
.ant-table-thead>tr>th {
    background: #E6EDFA;
    font-weight: 600;
}
.ant-table-tbody>tr>td {
    border-bottom: 0;
    
}
.ant-table table {
    border-bottom: 1px solid #f0f0f0;
}
.ant-input-search .ant-input-group .ant-input-affix-wrapper:not(:last-child) {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.ant-input-search>.ant-input-group>.ant-input-group-addon:last-child .ant-input-search-button {
    padding-top: 0;
    padding-bottom: 0;
    border-radius: 0 15px 14px 0;
}

.ant-form-item-label {
    font-weight: 600;
}

.ant-modal-mask   {
    background-color: #4a60848f !important;
}

// 鼠标放到表格某一行
.ant-table-tbody>tr.ant-table-row:hover>td {
    // background: $side-hover;
    background-color: #EDF0F5;
}

// 选中tab页切换
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    // color: $blue-main;
    color: #0053ca;
}

.ant-modal-title {
	font-weight: 600;
}
.icon {
    width: 12px; 
    height: 12px;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
    margin-right: 5px;
}

.search-add{
    display: flex;
    justify-content: space-between;
    align-items: center;
}