.structureHistory-details{
  overflow: hidden;
  padding: 20px;
  &-top{
    position: fixed;
    z-index:110;
    top: 55px;
    left: 500px;
    width: 75%;
    background-color: white;
    &-btn{
      text-align: right;
      padding-top: 18px;
      >button{
        right: 10%;
      }
    }
  }
  &-center{
    display: flex;
    flex-direction: row;
    &-test{
      margin-bottom: 20px;
    }
    &-cart{
      margin-right: 25px;
      margin-bottom: 25px;
      .cart{
        &-center{
          &-item{
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 10px 10px 10px 0;
            >div{
              padding-left: 20px;
            }
          }
        }
        &-bottom{
          text-align: right;
          &-span{
            display: inline-block;
            cursor: pointer;
            color: #1890ff;
            width: 30px; 
          }
        }
      }
    }
  };
  &-bottom{
    padding: 20px;
    white-space: pre-wrap;
    height:50vh;
    overflow-y: auto;
    overflow-x: hidden;
  }

}
