.test{
    width: 100%;
    height: 100%;
    overflow: auto;
    .test-table{
        padding-top: var(--tiklab-padding-item);
        .test-item-name:hover{
            cursor: pointer;
            color: var(--tiklab-blue);
        }
        .test-table-expand{
            padding-left: 48px;
            word-wrap: break-word;
            white-space: pre-wrap;
        }
    }

    .test-overview{
        padding-top: var(--tiklab-padding-item);
        .test-overview-info{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .test-overview-info-item{
                padding: 8px;
                border-radius: 4px;
                min-width: 150px;
                border: 1px solid var(--mf-border-color);
                &:not(:last-child){
                    margin-right: 15px;
                }
                div:first-child{
                    font-size: 13px;
                }
                div:last-child{
                    font-size: 15px;
                    padding: 10px 0 15px;
                    text-align: center;
                }
                .testState{
                    &-success{
                        color: var(--tiklab-blue);
                    }
                    &-error{
                        color: #ff4d4f;
                    }
                }
            }
        }
    }
}
