.test{
    width: 100%;
    height: 100%;
    overflow: auto;
    .test-table{
        padding-top: 10px;
        .test-item-name:hover{
            cursor: pointer;
            color: var(--tiklab-blue);
        }
    }
}
