.workSpace{
    padding: 20px;
    width: 90%;
    ul li{
        list-style: none;
        margin: 10px 0;
    }
    &-h1{
        font-size: 30px;
        font-weight: bold;
    }
    &-bottom{
        &-group{
            overflow-x: hidden;
            .group{
                &_item{
                    &_dayTime{
                        font-size: 30px;
                        color: #1890ff;
                    }
                    &_commit{
                        display: flex;
                        flex-direction: row;
                        &_btn{
                            margin-top: -4px;
                        }
                    }
                }
            }
        }
    }
}