.dynamic{
    &-top{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px;
        &-title{
            font-size: 18px;
            font-weight: 600;
        }
    }
    &-bottom{
        &-listHeader{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .name{
                color: #1890ff;
                cursor: pointer;
                padding: 0 5px;
            }
        }
    }
}