.scan{
    width: 100%;
    height: 100%;
    overflow: auto;
    .scan-table{
        padding-top: var(--thoughtware-padding-item);
        .scan-item-name:hover{
            cursor: pointer;
            color: var(--thoughtware-blue);
        }
        .scan-table-expand{
            padding-left: 48px;
        }
    }
    .scan-data-height{
        height: 35px;
        line-height: 35px;
    }
    .scan-overview{
        padding-top: var(--thoughtware-padding-item);
        .scan-overview-info{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .scan-overview-info-item{
                padding: 8px;
                border-radius: 4px;
                flex: 1;
                background-color: var(--arbess-border-color);
                &:not(:last-child){
                    margin-right: 15px;
                }
                div:first-child{
                    font-size: 13px;
                }
                div:last-child{
                    font-size: 15px;
                    padding: 10px 0 15px;
                    text-align: center;
                }
            }
        }
    }
}
