.dynamic-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    &:hover{
        background: #f4f4f4;
        cursor: pointer;
    }
    .dynamic-item-time{
        font-size: 13px;
    }
}
