.dynamic-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    &:hover{
        background: #f4f4f4;
        cursor: pointer;
    }
    &-left{
        display: flex;
        align-items: center;
    }
    .dynamic-item-message-title{
        padding-bottom: 5px;
        font-size: var(--tiklab-font-13);
        font-weight: var(--tiklab-font-weight-bold);
    }
}
