.config_pastRecords{
  h1{
    font-size: 30px;
    float: left;
  }
  h2{
    &:first-child{
      margin-left: 10pc;
    }
    &:last-child{
      margin-right: 10pc;
    }
  }
  &-btn{
    float: right;
    Button:last-child{
      margin-left: 30px;
    }
  }
  &-h{
    clear: both;
    margin-bottom: 60px;
  }
  &-this{
    float: left;
    width: 45%;
  }
  &-last{
    float: right;
    width:45%;
  }
  &-left{
    float: left;
    font-size: 16px;
    padding: 10px;
  }
  &-right{
    float: right;
    clear: both;
    padding: 10px;
    margin-top: -45px;
  }
}
