.config_pastRecords{
  padding: 20px;
  min-width: 800px;
  display: flex;
  flex-direction: column;
  position: relative;
  &-btn{
    position: absolute;
    right: 0;
    button:last-child{
      margin-left: 10px;
    }
  }
  &-h{
    min-width: 800px;
      h3 {
        &:first-child {
          margin-left: 10pc;
        }

        &:last-child {
          margin-right: 10pc;
        }
      }
  }
  &-difference{
    display: flex;
  }
  &-this{
    flex-grow:1;
    border-right: 1px solid #cccccc;
  }
  &-last{
    flex-grow:1;
  }
  &-compare{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
  }
}