.project{
    display: flex;
    width: 100%;
    height: calc(100vh - 48px);
    .aside{
        left: 0;
        top: 48px;
        height: 100%;
        background: #efefef;
        padding-bottom: 10px;
        .content{
            width: 80px;
            height: calc(100% - 53px);
        }
        &_content{
            height: 55px;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 5px 0;
            &:hover{
                background: var(--tiklab-gray-300);
            }
            &:not(:last-child){
                margin-bottom: 5px;
            }
            .dropdowns_icon{
                width: 25px;
                height: 25px;
                line-height: 25px;
                border-radius: 4px;
                text-align: center;
            }
            .icon{
                &-0{
                    background: #cad2f3;
                }
                &-1{
                    background: #cadbf3;
                }
                &-2{
                    background: #e8eaf6;
                }
                &-3{
                    background: #ffebee;
                }
                &-4{
                    background: #e0f2f1;
                }
                &-5{
                    background: #eee;
                }
            }
        }
        &_item{
            flex-direction: column;
        }
        &_active{
            background: var(--tiklab-gray-400);
            border-left: 3px solid var(--tiklab-blue);
        }
    }
    &-sys{
        width: 100%;
        text-align: center;
        padding-top: 15px;
        cursor: pointer;
    }
    &-content{
        width: 100%;
        height: 100%;
        overflow: auto;
    }
    .aside_content_icon{
        font-size: var(--tiklab-icon-size-16);
    }
}

.opt{
    width: 300px;
    background-color: #ffffff;
    border: 1px solid #ececec;
    &-content{
        height: 100%;
        padding: 10px;
        &-title{
            font-weight: 700;
            font-size: 16px;
        }
        &-group{
            max-height: 500px;
            overflow: auto;
            padding: 10px;
            &_item{
                margin-bottom: 5px;
                cursor: pointer;
                height: 30px;
                padding-left: 20px;
                line-height: 30px;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                max-width: 260px;
                &:hover{
                    background: #f4f4f4;
                }
            }
            &-icon{
                display: inline-block;
                width: 25px;
                height: 25px;
                line-height: 25px;
                text-align: center;
                background: #6da5f7;
                margin-right: 15px;
                border-radius: 3px;
            }
        }
        &-active{
            background: #f4f4f4;
        }
    }
}

.icon{
    &-1{
        background: #cadbf3;
    }
    &-2{
        background: #e8eaf6;
    }
    &-3{
        background: #ffebee;
    }
    &-4{
        background: #e0f2f1;
    }
    &-5{
        background: #eee;
    }
}