.project{
    display: flex;
    width: 100%;
    height: calc(100vh - 50px);
    overflow: hidden;
    .aside{
        background-color: #f8f8f8;
        left: 0;
        top: 55px;
        height: 100%;
        .content{
            width: 80px;
            padding: 10px 0 0;
            height: calc(100% - 55px);
        }
        &_content{
            height: 55px;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 5px 0;
            &:not(:last-child){
                margin-bottom: 5px;
            }
            .dropdowns_icon{
                display: inline-block;
                width: 25px;
                height: 25px;
                line-height: 25px;
                border-radius: 4px;
                margin-right: 8px;
                text-align: center
            }
        }
        &_item{
            flex-direction: column;
        }
        &_active{
            background: #e3e8f0;
            border-right: 3px solid #1890ff;
        }
    }
    &-sys{
        width: 100%;
        text-align: center;
        padding-top: 15px;
        height: 45px;
        border-top: 1px solid #f0f0f0;
        cursor: pointer;
        font-size: 20px;
    }
    &-content{
        width: 100%;
        height: calc(100vh - 50px);
        overflow: auto;
    }
}

.opt{
    width: 300px;
    background-color: #ffffff;
    border: 1px solid #C4C4C4;
    &-content{
        height: 100%;
        padding: 10px;
        &-title{
            font-weight: 700;
            font-size: 16px;
        }
        &-group{
            max-height: 500px;
            overflow: auto;
            padding: 10px;
            &_item{
                margin-bottom: 5px;
                cursor: pointer;
                height: 30px;
                padding-left: 20px;
                line-height: 30px;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                max-width: 260px;
                &:hover{
                    background: #f4f4f4;
                }
            }
            &-icon{
                display: inline-block;
                width: 25px;
                height: 25px;
                line-height: 25px;
                text-align: center;
                background: #6da5f7;
                margin-right: 15px;
                border-radius: 3px;
            }
        }
        &-active{
            background: #f4f4f4;
        }
    }
}

.icon{
    &-1{
        background: #cadbf3;
    }
    &-2{
        background: #e8eaf6;
    }
    &-3{
        background: #ffebee;
    }
    &-4{
        background: #e0f2f1;
    }
    &-5{
        background: #eee;
    }
}