.resources{
    .resources-info-version{
        margin: 10px 0;
        font-size: 13px;
        font-weight: var(--thoughtware-font-weight-bold);
    }
    .resources-info{
        padding-top: 10px;
    }
    .resources-info-item{
        display: flex;
        align-items: center;
        padding: 15px 0;
        &:not(:last-child){
            border-bottom: 1px solid #f0f0f0;
        }
        .resources-item-title{
            width: 130px;
            font-size: 13px;
        }
        .resources-item-separat{
            padding: 0 8px;
        }
        .resources-item-total{
            flex: 1;
        }
        .resources-item-allow{
            cursor: pointer;
            color: var(--thoughtware-blue);
        }
    }
    .resources-cache-detail{
        padding-top: 5px;
        .resources-detail-item:first-child{
            padding-right: 20px;
        }
    }
}

