.config{
  &-anchor{
    background: #ccc;
    height: 50px;
    border-bottom:1px solid #cccccc ;
    &-d{
      cursor: pointer;
      float: left;
      margin: 14px 0 0 25px;
      font-size: 16px;
      width: 80px;
      text-align: center;
      height: 35px;
      line-height: 35px;
      &:hover{
        background-color: #ffffff;
      }
    }
    &-active{
      background-color: #ffffff;
      font-weight: bold;
    }
  }
}