$white: #fff;
$gray-f5: #F5F5F5;
$gray-100: #FAFAFA;
$gray-200: #F8F8F8;
$gray-300: #F4F4F4;
$gray-400: #EAEAEA;
$gray-500: #DCDCDC;
$gray-600: #C4C4C4;
$gray-700: #bbbbbb;
$gray-800: #444444;
$gray-900: #2F2F2F;
$black: #000;


$purple: #8995FF;
$red: #ff0000;
$yellow: #FFCE21;
$green: #136545;



$blue-main: #1890ff;
$blue-gray:#eaeff2;

$side-color: #F7F8FA;
$side-select: #e3e8f0;
$table-head: #E6EDFA;
$side-hover:  #EDF0F5;
$entry-color: #F0F2F5;

$form-input-color: #e3e8f07d
