:root{
    --mf-second-level-navigation-color: #f8f8f8;
    --mf-three-level-navigation:#fbfbfb;
    --mf-danger-color:#ff0000;
    --mf-auxiliary-color:#00000073;
    --mf-navigation-color:#e3e8f0;
    --mf-hover-color:#f4f4f4;
    --mf-border-color:#d9d9d9;

    --mf-number-color:#f6c659;
    --mf-successNumber-color:#77b3eb;
    --mf-errorNumber-color:#f06f6f;
    --mf-removeNumber-color:#928484;
    --mf-time-color:#6852e0cf;

    // 色调
    --tiklab-white: #fff;  // 主色调白
    --tiklab-black: #000;  // 主色调黑
    --tiklab-blue: #0063FF;  // 主色调蓝
    --tiklab-gray-300: #E4E4E4;  // hover颜色
    --tiklab-gray-400: #D9D9D9;  // 选中颜色
    --tiklab-gray: #F9F9F9; // 主色调灰

    // 外边距
    --tiklab-margin: 0;
    --tiklab-margin-10: 10px; //  页面内容边距

    // 内边距
    --tiklab-padding: 0;
    --tiklab-padding-10: 10px; //  页面内容边距

    // 标题
    --tiklab-font-sm: 13px;  // 描述文字
    --tiklab-font-base: 14px; // 正文
    --tiklab-font-lg: 16px; // 标题

    // 字重
    --tiklab-font-weight-base: 400; // 正文字重
    --tiklab-font-weight-bold: bold; // 标题字重

    --line-height: 1;

}

