@import "_color";
@import "_normalize";

ul li{
    list-style: none;
}

.drawers{
    &-body{
        height: calc(100vh - 115px);
        overflow-y: auto;
        overflow-x: hidden;
    }
}


.icon {
    width: 20px;
    height: 20px;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

.message{
    margin-top: 5vh;
    margin-left: 5vh;
}

.home-limited{
    margin: auto;
    max-width: 1280px;
    //min-height: calc(100vh - 55px);
    //max-height: fit-content;
    //background: #ffffff;
}
