@import "_color";
@import "_normalize";

ul li{
    list-style: none;
}

.ant-btn-primary{
    background-color: #0063FF !important;
}

.ant-steps-item-process>.ant-steps-item-container>.ant-steps-item-icon{
    background-color: #0063FF !important;
}

.ant-table-thead>tr>th{
    background: #ffffff !important;
}

.ant-table-tbody>tr>td{
    border: none !important;
}

.ant-modal-footer{
    border:none !important;
}

.drawers-body{
    height: calc(100vh - 140px);
    overflow-y: auto;
    overflow-x: hidden;
}

.icon {
    width: 20px;
    height: 20px;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

.message{
    margin-top: 5vh;
    margin-left: 5vh;
}

::-webkit-scrollbar {
    /* 滚动条宽度， width：对应竖滚动条的宽度  height：对应横滚动条的高度*/
    background: #fff;
    width: 6px;
    height: 1px;
    /* background: #ccc; */
}
::-webkit-scrollbar-track {/*滚动条里面轨道*/
    border-radius: 10px;
    background: #EDEDED;
}
/*定义滑块样式*/
::-webkit-scrollbar-thumb {
    border-radius: 3px;
    height:10px;    /* 滚动条滑块长度 */
    background-color: #ccc;
}

.home-limited{
    margin: auto;
    max-width: 1280px;
    //min-height: calc(100vh - 55px);
    //max-height: fit-content;
    //background: #ffffff;
}
