@import "Normalize";

ul li{
    list-style: none;
}

.mf-home-limited{
    padding: 20px 30px;
    min-width: 576px;
}

.mf-layout, .ant-modal, .ant-drawer {
    .ant-form-item{
        margin-bottom: 20px !important;
    }
    .ant-form-item-label>label{
        font-size: 13px;
        color: #777;
        font-weight: 600;
    }
    .ant-form-item-label>label.ant-form-item-required:not(.ant-form-item-required-mark-optional):after {
        display: inline-block;
        margin-left: 4px;
        color: #ff4d4f;
        font-size: 14px;
        font-family: SimSun,sans-serif;
        line-height: 1;
        content: "*";
    }
    .ant-form-item-label>label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
        display: none !important;
        content: "" !important;
    }
    .ant-form-item-explain{
        font-size: 13px !important;
    }
    .ant-form-item-explain-error{
        min-height: 20px !important;
        height: 20px !important;
    }
    .ant-steps-item-process>.ant-steps-item-container>.ant-steps-item-icon{
        background-color: var(--thoughtware-blue);
    }
    .ant-steps-item-finish .ant-steps-item-icon{
        border-color: var(--thoughtware-blue);
    }
    .ant-steps-item-finish .ant-steps-finish-icon{
        color: var(--thoughtware-blue);
    }
    .ant-steps-item-finish>.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-title:after{
        background-color: var(--thoughtware-blue);
    }
    .ant-table-thead>tr>th{
        background: #ffffff;
        padding: 8px;
        font-size: 13px;
        color: #777;
        font-weight: 600;
    }
    .ant-table-tbody>tr>td{
        border: none;
        padding: 8px;
    }
    .ant-table{
        border-bottom: 1px solid #f0f0f0;;
    }
    .ant-transfer-list{
        background: #ffffff;
        border: none;
    }
    .ant-transfer-list-search-action{
        top:22px
    }
    .ant-transfer-list-header-dropdown{
        display: none;
    }
    .ant-transfer-list-header{
        border: none;
    }
    .ant-modal-footer{
        border:none;
    }
    .ant-empty-image{
        margin-bottom: 0;
        .ant-empty-img-default{
            width: 100px;
        }
    }
    .ant-empty-description{
        font-size: 13px;
        color: #999;
        padding-bottom: 8px;
    }
    .icon {
        width: 16px;
        height: 16px;
        vertical-align: -0.15em;
        fill: currentColor;
        overflow: hidden;
    }
}

.ant-modal,.ant-drawer{
    .ant-btn{
        font-weight: 600;
        border-radius: 4px;
        color: #42526E;
        background: var(--thoughtware-gray) !important;
        border: 1px solid var(--thoughtware-gray) !important;
        &:hover{
            color: #42526E;
            background-color: #e3e8f0;
            border-color: #e3e8f0;
        }
    }
    .ant-btn-primary{
        background: var(--thoughtware-blue) !important;
        border-color: var(--thoughtware-blue) !important;
        color: #ffffff;
        &:hover{
            color: #ffffff;
            background:var(--thoughtware-blue);
            border-color:var(--thoughtware-blue);
        }
    }
}

.ant-message{
    top: 60px;
    .ant-message-notice-content{
        width: 30%;
        background: #e8eaf3;
        box-shadow: none;
    }
}

.mf-dropdown-more{
    box-shadow: 0 4px 8px -2px #091e4240, 0 0 1px #091e424f;
    border-radius: 4px;
    background: #ffffff;
    width: 150px;
    padding: 8px;
    .dropdown-more-item{
        cursor: pointer;
        padding: 5px;
        &:hover{
            background: #f4f4f4;
        }
    }
}

.mf-user-avatar {
    &:nth-child(5n+1) {
        .ant-avatar {
            background-color: #e9b4b4;
        }
    }

    &:nth-child(5n+2){
        .ant-avatar {
            background-color: #b1c1d7;
        }
    }

    &:nth-child(5n+3){
        .ant-avatar {
            background-color: #afb3ce;
        }
    }

    &:nth-child(5n+4) td{
        .ant-avatar{
            background-color: #c4d3bd;
        }
    }

    &:nth-child(5n+5){
        .ant-avatar {
            background-color: #a8d4d0;
        }
    }

}

::-webkit-scrollbar {
    /* 滚动条宽度， width：对应竖滚动条的宽度  height：对应横滚动条的高度*/
    background: #fff;
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {/*滚动条里面轨道*/
    background: #EDEDED;
}

/*定义滑块样式*/
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    height:10px;    /* 滚动条滑块长度 */
    background-color: #ccc;
}

:root {
    --thoughtware-white: #fff;
    --thoughtware-black: #000;
    --thoughtware-blue: #0d66e4;
    --thoughtware-gray-200: #ececec;
    --thoughtware-gray-300: #edf0f5;
    --thoughtware-gray-400: #e3e8f0;
    --thoughtware-gray-500: #999;
    --thoughtware-gray-600: #f7f7f7;
    --thoughtware-gray: #f7f7f7;

    --thoughtware-padding: 20px;
    --thoughtware-padding-resove: -20px;
    --thoughtware-padding-item: 15px;
    --thoughtware-padding-resove-item:-15px;

    --thoughtware-font-12: 12px;
    --thoughtware-font-13: 13px;
    --thoughtware-font-14: 14px;
    --thoughtware-font-15: 15px;
    --thoughtware-font-16: 16px;

    --thoughtware-font-weight-bold: bold;

    --thoughtware-icon-size-16: 16px;
    --thoughtware-icon-size-20: 20px;
    --thoughtware-icon-size-22: 22px;
    --thoughtware-icon-size-24: 24px;
    --thoughtware-icon-size-32: 32px;

    --mf-border-color: var(--thoughtware-gray-200);
    --mf-select-color: var(--thoughtware-gray-400);
    --mf-hover-color: var(--thoughtware-gray-300);
    --mf-backdrop-color: var(--thoughtware-gray);
    --mf-head-height: 48px;
    --mf-content-height: calc(100vh - 48px)
}
