@import "Normalize";

ul li{
    list-style: none;
}

.ant-form-item{
    margin-bottom: 8px !important;
}
.ant-form-item-label>label.ant-form-item-required:not(.ant-form-item-required-mark-optional):after {
    display: inline-block;
    margin-right: 4px;
    color: #ff4d4f;
    font-size: 14px;
    font-family: SimSun,sans-serif;
    line-height: 1;
    content: "*";
}

.ant-form-item-label>label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
    display: none !important;
    content: "" !important;
}

.ant-form-item-explain{
    font-size: 13px !important;
}

.ant-form-item-explain-error{
    min-height: 20px !important;
    height: 20px !important;
}

.mf .ant-steps-item-process>.ant-steps-item-container>.ant-steps-item-icon{
    background-color: var(--tiklab-blue);
}

.mf .ant-steps-item-finish .ant-steps-item-icon{
    border-color: var(--tiklab-blue);
}

.mf .ant-steps-item-finish .ant-steps-finish-icon{
    color: var(--tiklab-blue);
}

.mf .ant-steps-item-finish>.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-title:after{
    background-color: var(--tiklab-blue);
}

.mf .ant-table-thead>tr>th{
    background: #ffffff;
    padding: 8px;
}


.mf .ant-table-tbody>tr>td{
    border: none;
    padding: 8px;
}

.mf .ant-table{
    border-bottom: 1px solid #f0f0f0;;
}

.mf .ant-transfer-list{
    background: #ffffff;
    border: none;
}

.mf .ant-transfer-list-search-action{
    top:22px
}

.mf .ant-transfer-list-header-dropdown{
    display: none;
}

.mf .ant-transfer-list-header{
    border: none;
}

.mf .ant-modal-footer{
    border:none;
}

.mf .icon {
    width: 16px;
    height: 16px;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

.mf .ant-avatar{
    width: 22px !important;
    height: 22px !important;
    line-height: 22px !important;
    font-size: 12px !important;
}

.ant-message{
    top: 50px;
    .ant-message-notice-content{
        width: 30%;
        background: #e8eaf3;
        box-shadow: none;
    }
}

.mf-icon{
    &-0{
        background: #f3caca;
    }
    &-1{
        background: #cadbf3;
    }
    &-2{
        background: #e8eaf6;
    }
    &-3{
        background: #ffebee;
    }
    &-4{
        background: #deedd7;
    }
    &-5{
        background: #caf3ef;
    }
}

.mf-home-limited{
    margin: auto;
    max-width: 1280px;
    min-width: 768px;
    padding: var(--tiklab-padding-item);
}

::-webkit-scrollbar {
    /* 滚动条宽度， width：对应竖滚动条的宽度  height：对应横滚动条的高度*/
    background: #fff;
    width: 10px;
    height: 10px;
    /* background: #ccc; */
}
::-webkit-scrollbar-track {/*滚动条里面轨道*/
    border-radius: 10px;
    background: #EDEDED;
}
/*定义滑块样式*/
::-webkit-scrollbar-thumb {
    border-radius: 3px;
    height:10px;    /* 滚动条滑块长度 */
    background-color: #ccc;
}

:root {
    --tiklab-white: #fff;   /* 主色调白*/
    --tiklab-black: #000;   /*主色调黑 */
    --tiklab-blue: #5D70EA;   /* 主色调蓝*/
    --tiklab-gray-200: #ececec;  /*border 的边线 */
    --tiklab-gray-300: #EDF0F5;  /*hover颜色 */
    --tiklab-gray-400: #e3e8f0;  /*左侧导航 选中颜色 */
    --tiklab-gray-500: #999; /* 文字次级颜色灰色调*/
    --tiklab-gray-600:#f7f7f7; /* 内容区域侧边栏色调 */
    --tiklab-gray: #efefef;  /* 主色调灰 左侧导航*/

    --tiklab-padding: 20px;  /*页面边距 */
    --tiklab-padding-resove: -20px; /* 页面边距*/
    --tiklab-padding-item: 15px;  /*元素间隔边距 */
    --tiklab-padding-resove-item:-15px;  /*元素间隔边距 */

    --tiklab-font-12: 12px;  /*图文排需要的文字 */
    --tiklab-font-13: 13px;  /*描述文字 */
    --tiklab-font-14: 14px; /*正文 */
    --tiklab-font-15: 15px;  /* 2级标题*/
    --tiklab-font-16: 16px;  /*标题 */

    --tiklab-font-weight-bold: bold;  /*标题字重 */

    /* 图标大小 */
    --tiklab-icon-size-16: 16px;
    --tiklab-icon-size-20: 20px;
    --tiklab-icon-size-22: 22px;
    --tiklab-icon-size-32: 32px;

    --mf-border-color: #ececec;
    --mf-sider-color: #efefef;
    --mf-select-color: #e3e8f0;
    --mf-hover-color: #edf0f5;
    --mf-backdrop-color: #f7f7f7;
    --mf-head-height: 48px;
    --mf-content-height: calc(100vh - 48px)
}
