@import "Normalize";

ul li{
    list-style: none;
}

.mf {
    .ant-form-item{
        margin-bottom: 20px !important;
    }
    .ant-form-item-explain-error{
        min-height: 20px !important;
        height: 20px !important;
    }
}

.mf-home-limited{
    padding: 20px 30px;
    min-width: 700px;
}

.mf,.mf-home-limited{
    .ant-form-item-label>label{
        font-size: 12px;
        color: #666;
        font-weight: 600;
    }
    .ant-form-item-label>label.ant-form-item-required:not(.ant-form-item-required-mark-optional):after {
        display: inline-block;
        margin-left: 4px;
        color: #ff4d4f;
        font-size: 14px;
        font-family: SimSun,sans-serif;
        line-height: 1;
        content: "*";
    }
    .ant-form-item-label>label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
        display: none !important;
        content: "" !important;
    }
    .ant-form-item-explain{
        font-size: 13px !important;
    }
    .ant-steps-item-process>.ant-steps-item-container>.ant-steps-item-icon{
        background-color: var(--thoughtware-blue);
    }
    .ant-steps-item-finish .ant-steps-item-icon{
        border-color: var(--thoughtware-blue);
    }
    .ant-steps-item-finish .ant-steps-finish-icon{
        color: var(--thoughtware-blue);
    }
    .ant-steps-item-finish>.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-title:after{
        background-color: var(--thoughtware-blue);
    }
    .ant-table-thead>tr>th{
        background: #ffffff;
        padding: 8px;
        font-size: 12px;
        color: #666;
        font-weight: 600;
    }
    .ant-table-tbody>tr>td{
        border: none;
        padding: 8px;
    }
    .ant-table{
        border-bottom: 1px solid #f0f0f0;;
    }
    .ant-transfer-list{
        background: #ffffff;
        border: none;
    }
    .ant-transfer-list-search-action{
        top:22px
    }
    .ant-transfer-list-header-dropdown{
        display: none;
    }
    .ant-transfer-list-header{
        border: none;
    }
    .ant-modal-footer{
        border:none;
    }
    .icon {
        width: 16px;
        height: 16px;
        vertical-align: -0.15em;
        fill: currentColor;
        overflow: hidden;
    }
    .ant-avatar{
        width: 22px !important;
        height: 22px !important;
        line-height: 22px !important;
        font-size: 12px !important;
    }

}

.ant-message{
    top: 50px;
    .ant-message-notice-content{
        width: 30%;
        background: #e8eaf3;
        box-shadow: none;
    }
}

.mf-dropdown-more{
    box-shadow: 0 4px 8px -2px #091e4240, 0 0 1px #091e424f;
    border-radius: 4px;
    background: #ffffff;
    width: 150px;
    padding: 8px;
    .dropdown-more-item{
        cursor: pointer;
        padding: 5px;
        &:hover{
            background: #f4f4f4;
        }
    }
}

::-webkit-scrollbar {
    /* 滚动条宽度， width：对应竖滚动条的宽度  height：对应横滚动条的高度*/
    background: #fff;
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {/*滚动条里面轨道*/
    background: #EDEDED;
}

/*定义滑块样式*/
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    height:10px;    /* 滚动条滑块长度 */
    background-color: #ccc;
}

:root {
    --thoughtware-white: #fff;   /* 主色调白*/
    --thoughtware-black: #000;   /*主色调黑 */
    --thoughtware-blue: #0d66e4;   /* 主色调蓝*/
    --thoughtware-gray-200: #ececec;  /*border 的边线 */
    --thoughtware-gray-300: #EDF0F5;  /*hover颜色 */
    --thoughtware-gray-400: #e3e8f0;  /*左侧导航 选中颜色 */
    --thoughtware-gray-500: #999; /* 文字次级颜色灰色调*/
    --thoughtware-gray-600:#f7f7f7; /* 内容区域侧边栏色调 */
    --thoughtware-gray: #efefef;  /* 主色调灰 左侧导航*/

    --thoughtware-padding: 20px;  /*页面边距 */
    --thoughtware-padding-resove: -20px; /* 页面边距*/
    --thoughtware-padding-item: 15px;  /*元素间隔边距 */
    --thoughtware-padding-resove-item:-15px;  /*元素间隔边距 */

    --thoughtware-font-12: 12px;  /*图文排需要的文字 */
    --thoughtware-font-13: 13px;  /*描述文字 */
    --thoughtware-font-14: 14px; /*正文 */
    --thoughtware-font-15: 15px;  /* 2级标题*/
    --thoughtware-font-16: 16px;  /*标题 */

    --thoughtware-font-weight-bold: bold;  /*标题字重 */

    /* 图标大小 */
    --thoughtware-icon-size-16: 16px;
    --thoughtware-icon-size-20: 20px;
    --thoughtware-icon-size-22: 22px;
    --thoughtware-icon-size-24: 24px;
    --thoughtware-icon-size-32: 32px;


    --mf-border-color: #ececec;
    --mf-sider-color: #efefef;
    --mf-select-color: #e3e8f0;
    --mf-hover-color: #edf0f5;
    --mf-backdrop-color: #f7f7f7;
    --mf-head-height: 48px;
    --mf-content-height: calc(100vh - 48px)
}
