.new{
    width: 90%;
    height: 100%;
    margin:auto;
    padding: 20px;
    ul{
        list-style: none;
    }
    form{
        border: 1px solid #cccccc;
        border-radius: 3px 3px 0 0;
        background-color:  #eaeff2;
        &>div{
            margin:20px 30px;
        }
    }
    &-type{
        width: 100%;
        border: 1px solid #cccccc;
        border-radius:0 0 3px 3px ;
        background-color: #F5F5F5;
        &-choose{
            padding-left: 15px;
            .choose{
                &-item{
                    margin: 10px 15px 10px 0;
                    padding: 5px 5px 5px 0;
                    cursor: pointer;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    &:hover {
                        background-color: #ffffff;
                        border-radius: 3px;
                    }
                    &-icon{
                        padding: 0 15px ;
                        .icon{
                            width: 40px;
                            height: 40px;
                        }
                    }
                    label{
                        font-weight: bold;
                        font-size: 18px;
                    }
                }
                &-active{
                    background-color: #ffffff;
                    border-radius: 3px;
                }
            }
        }
    }
}