.proof{
    padding: 10px;
    &-content{
        &-switch{
            padding-bottom: 15px;
        }
        &-btn{
            display: flex;
            justify-content: flex-end;
        }
        &-action{
            .del{
                color:#ff0000;
                cursor: pointer;
            }
            .edit{
                padding-right: 10px;
                color: #1890ff;
                cursor: pointer;
            }
        }
    }
}