.proof{
    padding: 10px;
    &-upper{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-content{
        &-switch{
            padding-bottom: 15px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            &-left{
                .switch-left{
                    display: inline-block;
                    &:not(:last-child){
                        padding-right: 20px;
                    }
                }
            }
        }
        &-btn{
            display: flex;
            justify-content: flex-end;
        }
        &-action{
            .del{
                cursor: pointer;
                &:hover{
                    color:#ff0000;
                }
            }
            .edit{
                margin-right: 15px;
                cursor: pointer;
                &:hover{
                    color: #0063FF;
                }
            }
        }
    }
}