.proof{
    padding: 0 10px;
    &-content{
        &-btn{
            text-align: right;
            padding-bottom: 5px;
        }
        &-action{
            .del{
                color:#ff0000;
                cursor: pointer;
            }
            .edit{
                padding-right: 10px;
                color: #1890ff;
                cursor: pointer;
            }
        }
    }
}