.identify{
    padding: 10px;
    &-upper{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-content{
        &-action{
            .del{
                cursor: pointer;
                &:hover{
                    color: #ff0000;
                }
            }
            .edit{
                margin-right: 15px;
                cursor: pointer;
                &:hover{
                    color: #0063FF;
                }
            }
        }
        &-icon{
            display: inline-block;
            width: 30px;
            height: 30px;
            line-height: 30px;
            border-radius: 4px;
            text-align: center;
            color: black;
            margin-right: 10px;
            background: #cad2f3;
        }
    }
    .identify-tabs{
        display: flex;
        justify-content: start;
        align-items: center;
        height: 50px;
        line-height: 50px;
    }
    .identify-tab{
        font-size: 13px;
        cursor: pointer;
        height: 50px;
        line-height: 50px;
        margin-right: 20px;
    }
    .active-tab{
        color: #000;
        font-weight: 600;
        border-bottom: 2px solid #0063FF;
    }
}

