.dynamic-item{
    //display: flex;
    //justify-content: space-between;
    //align-items: center;
    //padding: 8px;
    padding-top: 8px;
    &:hover{
        background: #fafafa;
        cursor: pointer;
    }
    .dynamic-item-data{
        flex: 1;
    }
    .dynamic-item-time{
        font-size: 13px;
    }
}
