.mf-dynamic-center .dynamic-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    cursor: pointer;
    &:hover{
        background: #fafafa;
        .item-data-info-name{
            color: var(--thoughtware-blue);
        }
    }
    &:nth-child(5n+1) {
        .ant-avatar {
            background-color: #f3caca;
        }
    }

    &:nth-child(5n+2) {
        .ant-avatar {
            background-color: #cadbf3;
        }
    }

    &:nth-child(5n+3) {
        .ant-avatar {
            background-color: #e8eaf6;
        }
    }

    &:nth-child(5n+4) {
        .ant-avatar {
            background-color: #deedd7;
        }
    }

    &:nth-child(5n+5) {
        .ant-avatar {
            background-color: #caf3ef;
        }
    }

    .dynamic-item-data{
        flex: 1;
        display: flex;
        align-items: center;
        .item-data-info{
            margin: 0 10px;
            .item-data-info-name{
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: normal;
                word-break: break-word;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
            }
            .item-data-info-desc{
                padding-top: 4px;
                display: flex;
                align-items: center;
                .desc-action,.desc-message{
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    -o-text-overflow: ellipsis;
                }
                .desc-action{
                    font-size: 13px;
                    color: var(--thoughtware-gray-500);
                    max-width: 200px;
                }
                .desc-message{
                    display: inline-block;
                    background-color: #f6f6f6;
                    padding: 4px;
                    border-radius: 4px;
                    font-size: 12px;
                    margin-left: 10px;
                    max-width: 200px;
                }
            }
        }
    }
}
