
.mf-listname-href{
    cursor: pointer;
}

.mf-listname-icon{
    display: inline-block;
    width: var(--thoughtware-icon-size-32);
    height: var(--thoughtware-icon-size-32);
    line-height: var(--thoughtware-icon-size-32);
    margin-right: 10px;
    border-radius: 4px;
    text-align: center;
    color: black;
}

.mf-listname-name{
    color: var(--thoughtware-blue);
}

.mf-icon{
    &-0{
        background: #f3caca;
    }
    &-1{
        background: #cadbf3;
    }
    &-2{
        background: #e8eaf6;
    }
    &-3{
        background: #ffebee;
    }
    &-4{
        background: #deedd7;
    }
    &-5{
        background: #caf3ef;
    }
}
