.mf-tabs{
    display: flex;
    justify-content: flex-start;
}

.mf-tab{
    padding: 10px 0;
    cursor: pointer;
    margin-right: 20px;
    &:hover{
        color: var(--thoughtware-blue);
    }
}

.mf-active-tab{
    color: var(--thoughtware-blue);
    border-bottom: 2px solid var(--thoughtware-blue);
}
