.mf-tabs{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 40px;
    line-height: 40px;
    font-size: var(--tiklab-font-13);
}

.mf-tab{
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    margin-right: 20px;
    &:hover{
        color: var(--tiklab-blue);
    }
}

.mf-active-tab{
    color: var(--tiklab-blue);
    border-bottom: 2px solid var(--tiklab-blue);
}