.survey{
    width: 100%;
    height: 100%;
    overflow: auto;
    background: var(--mf-backdrop-color);
    .survey-top{
        padding-bottom: var(--tiklab-padding-item);
    }
    .survey-census{
        height: 345px;
        min-width: 550px;
        border-radius: 4px;
        background: #fff;
        padding: 10px;
        margin-bottom: var(--tiklab-padding-item);
        &-bottom{
            display: flex;
            align-items: center;
            justify-content: space-around;
        }
        &-stat{
            padding-top: 10px;
            .stat{
                &-div{
                    width: 240px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 10px 0;
                    .stat-div-title{
                        font-size: 16px;
                    }
                    .stat-div-title-icon{
                        padding-right: 10px;
                    }
                    .census{
                        &-num{
                            font-size: 16px;
                        }
                        &-number{
                            color: #f6c659
                        }
                        &-successNumber{
                            color: #77b3eb
                        }
                        &-errorNumber{
                            color: #f06f6f
                        }
                        &-removeNumber{
                            color: #928484
                        }
                        &-time{
                            color:#6852e0cf
                        }
                    }
                }
            }
        }
    }
    .survey-dyna{
        background: #fff;
        padding: 10px;
        min-height: 420px;
        border-radius: 4px;
    }
}