.search{
  height: 75vh;
  border-left: 1px solid #cccccc;
  div{
    margin-left: 10vh;
    ul li{
      padding: 5px;
    }
  }
  &-link{
    cursor: pointer;
    color: #1890ff;
    &:hover{
      text-decoration: underline;
    }
  }
}