.mf-guide{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    &-title{
        border-radius: 4px;
        height: 40px;
        line-height: 40px;
        font-weight: var(--tiklab-font-weight-bold);
        &-icon{
            font-size: var(--tiklab-icon-size-16);
        }
        &-name{
            padding: 0 8px;
        }
    }    
    &-ac{
        border-radius: 3px;
        cursor: pointer;
        font-size: 16px;
        color: var(--tiklab-blue);
    }
}