.config-scenario{
    .react-codemirror2{
      width: 100%;
      overflow-y: auto;
    }
    .CodeMirror{
        .CodeMirror-placeholder{
            color: #bfbfbf;
            font-family: Microsoft YaHei;
        }
        .CodeMirror-code{
            font-family: Microsoft YaHei;
        }
    }
}