.variable{
    .variable-up{
        display: flex;
        align-items: center;
        padding-bottom: var(--tiklab-padding-item);
        font-size: var(--tiklab-font-13);
        .variable-up-num{
            flex: 1;
            margin-right: var(--tiklab-padding-item);
        }
    }
}
