.variable{
    padding: var(--thoughtware-padding-item);
    min-width: 576px;
    .variable-up{
        display: flex;
        align-items: center;
        padding-bottom: 10px;
        font-size: var(--thoughtware-font-13);
        .variable-up-num{
            flex: 1;
            margin-right: var(--thoughtware-padding-item);
        }
    }
}
