.wrapper{
    &-body{
        .log{
            padding: 20px;
            &-title{
                font-weight: 700;
                margin-bottom: 15px;
            }
            &-content{
                white-space: pre-wrap;
            }
        }
    }
}



