.wrapper{
    &-title{
        font-weight: 700;
        padding: 15px;
    }
    &-body{
        .log{
            padding: 20px;
            &-content{
                white-space: pre-wrap;
            }
        }
    }
}



