.structure{
    overflow-y: hidden;
    background: #ffffff;
    height: 100%;
    &-content{
        display: flex;
        flex-direction: row;
        height: 100%;
        &-left {
            height: 100%;
            width: 350px;
            min-width: 350px;
            background: var(--mf-backdrop-color);
            z-index: 20;
            vertical-align: top;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            &-dropdown{
                width: 100%;
                padding: 10px 10px 7px;
                border-bottom: 1px solid var(--tiklab-gray-200);
                margin-bottom: 2px;
                .dropdown{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
            }
            &-history{
                height: calc(100% - 60px);
                .history-content{
                    &-list{
                        height: calc(100% - 40px);
                        min-height: 100px;
                        overflow: auto;
                        border-bottom: 1px solid var(--tiklab-gray-200);
                        &-ul{
                            display: flex;
                            flex-direction: row;
                            width: 100%;
                            padding: 10px 10px 10px 20px;
                            cursor: pointer;
                            margin: 2px 0;
                            &:hover{
                                background: var(--tiklab-gray-300);
                            }
                            .list{
                                &-title{
                                    color: #0063FF;
                                    width: 60px;
                                    font-weight: var(--tiklab-font-weight-bold);
                                    font-size: 16px;
                                }
                                &-group{
                                    flex-grow: 1;
                                    &-item{
                                        display: flex;
                                        flex-direction: row;
                                        justify-content: space-between;
                                        margin-bottom: 10px;
                                    }
                                }
                            }
                        }
                        &_active{
                            background: #e3e8f0;
                        }
                    }
                    &-page{
                        width: 100%;
                        text-align: center;
                        padding-top: 10px;
                        height: 47px;
                        border-top: 1px solid var(--tiklab-gray-200);
                        .page-ban{
                            cursor:not-allowed;
                            color: var(--tiklab-gray-500);
                        }
                        .page-allow{
                            cursor: pointer;
                            &:hover{
                                color: var(--tiklab-blue);
                            }
                        }
                        .page-current{
                            color: var(--tiklab-blue);
                        }
                    }
                }
            }
            .ant-dropdown-trigger{
                display: inline-block;
                margin-right: 30px;
            }
        }
        &-right{
            flex-grow: 1;
            padding: 20px;
            overflow: auto;
            .right-mid{
                height: calc(100% - 26px);
                padding-top: 15px;
                min-width: 600px;
                position: relative;
                .item{
                    &-20{
                        border-top: 3px solid #444444 !important;
                    }
                    &-1{
                        border-top: 3px solid #ff0000 !important;
                    }
                    &-10{
                        border-top: 3px solid var(--tiklab-blue) !important;
                    }
                    &-100{
                        border-top: 3px solid #43a890 !important;
                    }
                    &-all{
                        border-top: 3px solid rgba(0, 0, 0, 0.18) !important;
                    }
                }
            }
            .mid_group_top{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                &_tel{
                    font-size: 16px;
                    .tel_title{
                        padding-right: 20px;
                        color: var(--tiklab-blue);
                        width: 60px;
                        font-weight: var(--tiklab-font-weight-bold);
                    }
                    .tel_time{
                        padding-right: 20px;
                    }
                }
            }
            .st-card{
                padding: 10px;
                width: 150px;
                min-width: 150px;
                border: 1px solid var(--tiklab-gray-200);
                margin: var(--tiklab-padding-item) 0;
                &:not(:last-child){
                    margin-right: 15px;
                }
                .card-top{
                    margin-bottom: var(--tiklab-padding-item);
                    .card-top-state{
                        margin-right: 8px;
                    }
                }
                .card-center-item{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    padding: 10px 0;
                    >div{
                        padding-left: 10px;
                    }
                }
                .card-bt{
                    text-align: right;
                    font-size: var(--tiklab-font-13);
                    .card-bt-log{
                        display: inline-block;
                        cursor: pointer;
                        color: var(--tiklab-blue);
                        width: 30px;
                        margin-right: 8px;
                    }
                }
            }
            .str-single{
                height: 220px;
                display: inline-flex;
                align-items: flex-start;
                justify-content: flex-start;
            }
            .str-multi{
                height: 220px;
                display: inline-flex;
                .str-multi-card{
                    display: inline-flex;
                    align-items: flex-start;
                    justify-content: flex-start;
                }
                .str-multi-card:not(:last-child){
                    padding-right: 10px;
                    border-right: 1px solid #d9d9d9;
                    margin-right: var(--tiklab-padding-item);
                }
            }
            .mid_group-bottom{
                position: absolute;
                // bottom: 0;
                left: 0;
                right: 0;
                .mid_group-bottom-title{
                    font-size: var(--tiklab-font-16);
                    font-weight: var(--tiklab-font-weight-bold);
                }
                .mid_group-bottom-outLog{
                    white-space: pre-wrap;
                    height: 60vh;
                    overflow-y: auto;
                    overflow-x: hidden;
                    background: #000;
                    color: #fff;
                    padding: 10px 10px 20px;
                }
                .mid_group-bottom-runLog{
                    position: relative;
                }
            }
        }

        &-empty{
            .empty-group{
                height: calc(100% - 90px);
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}

.structureDrawer{
    padding-top: var(--tiklab-padding);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    height: 100%;
    .structureDrawer-up{
        padding: 0 var(--tiklab-padding);
    }
    .structureDrawer-content{
        height: 100%;
        width: 100%;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        overflow: auto;
        padding: 0 var(--tiklab-padding) var(--tiklab-padding);
    }
    .log-content{
        // background-color: #222;
        // color: #fff;
        // padding: 10px;
    }
}