.structure{
    .structure-content{
        padding: 20px;
    }
    .structure-content-table{
        padding-top: 10px;
    }
    .str-table-findNumber{
        color: var(--tiklab-blue);
        font-weight: var(--tiklab-font-weight-bold);
        cursor: pointer;
    }
    .str-table-runWay{
        display: flex;
        align-items: center;
        height: 40px;
        .runWay-user{
            padding-left: 8px;
        }
    }
    .str-screens{
        padding-top: var(--tiklab-padding-item);
        .ant-select{
            width: 150px;
            &:not(:last-child){
                margin-right: var(--tiklab-padding-item);
            }
        }
    }
    .str-table-del,.str-table-action{
        cursor: pointer;
    }
}
