.test-hubo{
    width: 100%;
    height: 100%;
    overflow: auto;
    .test-table{
        padding-top: var(--tiklab-padding-item);
        .data-item-name{
            font-weight: var(--tiklab-font-weight-bold);
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            -o-text-overflow: ellipsis;
            max-width: 100%;
            display: inline-block;
            vertical-align: middle;
            &:hover{
                cursor: pointer;
                color: var(--tiklab-blue);
            }
        }
        .data-item-count{
            display: flex;
            align-items: center;
            padding-top: 5px;
            color: var(--tiklab-gray-500);
            font-size: 13px;
            .data-item-pass,.data-item-fail{
                max-width: 50%;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                -o-text-overflow: ellipsis;
            }
            .count-key{
                padding-right: 5px;
            }
        }
    }
}
