.pipeline{
    width: 90%;
    margin: auto;
    &-top{
        width: 100%;
        padding-top: 10px;
        &-r{
            float: right;
        }
    }
    &-tabs{
        clear: both;
    }
}

