.pipeline{
    width: 70%;
    margin:auto;
    overflow: hidden;
    &-top{
        width: 100%;
        margin-bottom: 20px;
        margin-top: 10px;
        &-r{
            float: right;
        }
    }
    &-tabs{
        clear: both;
    }
}

