.ant-layout-sider-children{
  background-color: #ffffff;
  position: fixed;
  z-index: 99;
  top:55px;
}
.ant-menu{
  margin-top: 30px;
}
.pipelineDetails{
  margin-left: 35px;
  margin-top: 30px;
}
.breadcrumb{
  font-size: 16px;
  position: fixed;
  min-width: 230px;
  z-index: 100;
}
.task{
  width: 75%;
  min-width: 1000px;
  margin:50px auto;
}

//工作空间
.task-work{
  ul li{
    list-style: none;
    margin: 10px 0;
  }
  &-top-h1{
    font-size: 30px;
  }
}

//配置
.task-config{
  &-post{
    position: fixed;
    z-index: 98;
    width: 1000px;
    &>button{
      left: 913px;
    }
  }
  &-offset{
    width: 1000px;
    position: relative;
    top: 30px;
    border: 1px solid #EAEAEA;
    border-radius: 3px;
  }
  &-anchor{
    position: fixed;
    width: 1000px;
    margin-bottom: 30px;
    z-index: 98;
    background: #ccc;
    height: 50px;
    &-d{
      cursor: pointer;
      float: left;
      margin: 14px 0 0 25px;
      font-size: 16px;
      width: 80px;
      text-align: center;
      height: 35px;
      line-height: 35px;
      &:hover{
        background-color: #ffffff;
      }
    }
    &-active{
      background-color: #ffffff;
      font-weight: bold;
    }
  }
  form{
    margin-top: 70px;
    margin-left: 30px;
  }
  h2{
    font-weight: bold;
    border-bottom: 1px solid #e9e9e9;
  }
  input{
    width: 80vh;
    min-width: 500px;
  }
  textarea{
    width: 80vh;
    min-width: 500px;
  }
  .hidden{
    position: fixed;
    margin-top: -85px;
    height: 166px;
    z-index: 98;
    width: 100%;
    background-color: #FFFFFF;
    margin-left: -300px;
  }
  .anchor-content{
    clear: both;
    margin-top: 10px;
  }
  .bottom-sticker-inner{
    position: fixed;
    left: 470px;
    bottom: 20px;
    z-index: 50;
    height: 50px;
    line-height: 50px;
    text-align: center;
  }
}

//构建历史
.task-history{
  &-top{
    h1{
      font-size: 30px;
    }
    Button{
      float: right;
    }
  }
  &-table{
    cursor: pointer;
    color: #1890ff;
  }
}

//流水线设置
.task-assembly{
  &-bottom{
    margin-top: 100px;
  }
}

//构建历史的构建历史
.task-build{
  &-top{
    margin-bottom: 5px;
    h1{
      float: left;
      font-size: 30px;
    }
    &-btn{
      float: right;
      Button:last-child{
        margin-left: 10px;
      }
    }
  }
  &-center{
    clear: both;
  }
  &-card{
    float: left;
    width: 200px;
    margin: 15px;
  }
  &-div{
    width: 50px;
    height: 50px;
    cursor: pointer;
    line-height: 50px;
    text-align: center;
    float: left;
  }
  &-ul{
    float: right;
  }
  &-out{
    overflow: hidden;
    clear: both;
  }
  &-log{
    overflow: auto;
    height: 45vh;
    white-space: pre-wrap;
  }
}

//配置查看过往更改记录
.task-pastRecord{
  h1{
    font-size: 30px;
    float: left;
  }
  h2{
    &:first-child{
      margin-left: 10pc;
    }
    &:last-child{
      margin-right: 10pc;
    }
  }
  &-btn{
    float: right;
    Button:last-child{
      margin-left: 30px;
    }
  }
  &-h{
    clear: both;
    margin-bottom: 60px;
  }
  &-this{
    float: left;
    width: 45%;
  }
  &-last{
    float: right;
    width:45%;
  }
  &-left{
    float: left;
    font-size: 16px;
    padding: 10px;
  }
  &-right{
    float: right;
    clear: both;
    padding: 10px;
    margin-top: -45px;
  }
}

//开始构建
.task-structure{
  overflow: hidden;
  ul>li{
    list-style: none;
  }
  &-card{
    float: left;
    width: 200px;
    margin-right: 20px;
  }
  &-div{
    width: 50px;
    height: 50px;
    cursor: pointer;
    line-height: 50px;
    text-align: center;
    float: left;
  }
  &-btn{
    margin-bottom: 10px;
  }
  &-ul{
    float: right;
  }
  &-out{
    clear: both;
  }
  &-outLog{
    overflow: auto;
    height: 45vh;
    white-space: pre-wrap;
  }
  &-running{
    position: absolute;
    bottom: 88px;
  }

}
