//工作空间
.task-work{
  ul li{
    list-style: none;
    margin: 10px 0;
  }
  &-top-h1{
    font-size: 30px;
  }
}

//配置
.task-config{
  input{
    width: 50vh;
  }
  //共同样式
  h1{
    margin-bottom: 30px;
    font-size: 1.25rem;
    font-weight: bold;
    border-bottom: 1px solid #e0e0e0;
  }
  .anchor-content{
    margin:30px 30px 50px;
  }
  &-hidden{
    margin-top:15px;
    margin-left: 15px;
  }
  &-radio {
    margin-bottom: 30px;
  }

  //内容样式
  &-post{
    float: right;
  }
  &-offset{
    clear: both;
  }
  &-anchor{
    height: 50px;
    line-height: 50px;
    &-d{
      cursor: pointer;
      float: left;
      font-size: 16px;
      width: 80px;
      text-align: center;
      height: 35px;
      line-height: 35px;
    }
  }
}

//构建历史
.task-history{
  &-top{
    h1{
      font-size: 30px;
    }
    Button{
      float: right;
    }
  }
  &-table{
    cursor: pointer;
    color: #1890ff;
  }
}

//流水线设置
.task-assembly{
  &-bottom{
    margin-top: 100px;
  }
}

//构建历史的构建历史
.task-build{
  &-top{
    margin-bottom: 5px;
    h1{
      float: left;
      font-size: 30px;
    }
    &-btn{
      float: right;
      Button:last-child{
        margin-left: 10px;
      }
    }
  }
  &-center{
    clear: both;
  }
  &-card{
    float: left;
    width: 200px;
    margin: 15px;
  }
  &-div{
    width: 50px;
    height: 50px;
    cursor: pointer;
    line-height: 50px;
    text-align: center;
    float: left;
  }
  &-ul{
    float: right;
  }
  &-out{
    overflow: hidden;
    clear: both;
  }
  &-log{
    overflow: auto;
    height: 30vh;
    white-space: pre-wrap;
  }
}

//配置查看过往更改记录
.task-pastRecord{
  h1{
    font-size: 30px;
    float: left;
  }
  h2{
    &:first-child{
      margin-left: 10pc;
    }
    &:last-child{
      margin-right: 10pc;
    }
  }
  &-btn{
    float: right;
    Button:last-child{
      margin-left: 30px;
    }
  }
  &-h{
    clear: both;
    margin-bottom: 60px;
  }
  &-this{
    float: left;
    width: 45%;
  }
  &-last{
    float: right;
    width:45%;
  }
  &-left{
    float: left;
    font-size: 16px;
    padding: 10px;
  }
  &-right{
    float: right;
    clear: both;
    padding: 10px;
    margin-top: -45px;
  }
}

//开始构建
.task-structure{
  overflow: hidden;
  ul>li{
    list-style: none;
  }
  &-card{
    float: left;
    width: 200px;
    margin: 15px;
  }
  &-div{
    width: 50px;
    height: 50px;
    cursor: pointer;
    line-height: 50px;
    text-align: center;
    float: left;
  }
  &-btn{
    margin-bottom: 10px;
    float: right;
  }
  &-ul{
    float: right;
  }
  &-out{
    clear: both;
  }
  &-outLog{
    overflow: auto;
    height: 30vh;
    white-space: pre-wrap;
  }
  &-running{
    position: absolute;
    bottom: 88px;
  }

}
