.ant-layout-sider-children{
  background-color: #ffffff;
  position: fixed;
  z-index: 99;
  top:55px;
}
.ant-menu{
  margin-top: 30px;
}
.pipelineDetails{
  margin-left: 35px;
  margin-top: 30px;
}
.breadcrumb{
  font-size: 16px;
  position: fixed;
  min-width: 230px;
  z-index: 100;
}
.task{
  width: 75%;
  min-width: 1000px;
  margin:50px auto;
}


