.auth {
    width: 100%;
    height: 100%;
    overflow: auto;
    .auth-content{
        padding-top: var(--tiklab-padding-item);
        .ant-avatar{
            width: 22px;
            height: 22px;
            font-size: 12px;
        }
    }
    .auth-select{
        padding-top: var(--tiklab-padding-item);
        display: flex;
        align-items: center;
        gap: 15px;
    }
}

.host-group-add-drop{
    box-shadow: 0 4px 8px -2px #091e4240, 0 0 1px #091e424f;
    border-radius: 4px;
    background: #ffffff;
    padding: 15px;
    .host-group-host-table{
        padding-top: 8px;
    }
    .host-group-host-add-btn{
        text-align: right;
        padding-top: 10px;
    }
}

.host-group-host-add{
    margin-bottom: 8px;
    .host-group-add-title{
        box-sizing: border-box;
        padding: 0;
        color: rgba(0, 0, 0, 0.85);
        font-size: 14px;
        font-variant: tabular-nums;
        line-height: 1.5715;
        list-style: none;
        font-feature-settings: 'tnum';
        margin: 0 0 8px;
        vertical-align: top;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .host-group-add-title-label{
            font-size: 13px;
            color: #777;
            font-weight: 600;
        }
    }
}

.env-table-ban,.grouping-table-ban{
    .text-ban{
        color: var(--tiklab-gray-500);
        font-size: 16px;
        &:first-child{
            margin-right: 15px;
        }
    }
}

.agent-text{
    &-default{
        padding-left: 10px;
        font-size: 12px;
    }
    &-success{
        color: var(--tiklab-blue);
    }
    &-danger{
        color: #666666;
    }
}

.k8s-table{
    &-node{
        font-weight: var(--tiklab-font-weight-bold);
        color: var(--tiklab-blue);
    }
    &-name{
        cursor: pointer;
        &:hover{
            color: var(--tiklab-blue);
        }
    }
}
.k8s-detail{
    .k8s-detail-content{
        padding: 15px 20px;
    }
    .k8s-detail-top{
        padding-bottom: 10px;
    }
    .k8s-detail-label{
        font-size: 13px;
        color: #777;
        font-weight: 600;
    }
    .k8s-detail-item{
        display: flex;
        align-items: center;
        gap: 15px;
        padding: 4px 0;
        &>div:first-child{
            width: 90px;
        }
        &>div:last-child{
            flex: 1;
            min-width: 0;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            -o-text-overflow: ellipsis;
        }
    }
    .k8s-detail-node{
        padding-top: 15px;
        .node-title{
            padding-bottom: 8px;
        }
    }
}
