.workSpace{
    margin: auto;
    max-width: 1150px;
    background: #fff;
    min-height: calc(100vh - 55px);
    max-height: fit-content;
    &-title{
        background: #f2f2f2;
        border-radius: 4px;
        font-size: 16px;
        font-weight: 600;
        height: 40px;
        line-height: 40px;
        padding-left: 10px;
        margin-bottom: 10px;
    }
    &-top{
        position: fixed;
        z-index: 88;
        background: #fff;
        width: 100%;
        padding: 8px 15px 4px;
        font-size: 16px;
        min-width: 400px;
    }
    &-top-limited{
        max-width: 1150px;
        margin: auto;
    }
    &-content{
        padding: 55px 20px 0;
    }
    .workSpace-census{
        padding-top: 10px;
        height: 400px;
        min-width: 550px;
        &-bottom{
            display: flex;
            align-items: center;
            justify-content: space-around;
        }
        &-stat{
            padding-top: 10px;
            .stat{
                &-div{
                    width: 220px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 10px 0;
                    .stat-div-title{
                        font-size: 16px;
                    }
                    .stat-div-title-icon{
                        padding-right: 10px;
                    }
                    .census{
                        &-num{
                            font-size: 16px;
                        }
                        &-number{
                            color:#f6c659
                        }
                        &-successNumber{
                            color:#77b3eb
                        }
                        &-errorNumber{
                            color:#f06f6f
                        }
                        &-removeNumber{
                            color:#928484
                        }
                        &-time{
                            color:#6852e0cf
                        }
                    }
                }
            }
        }
    }
    .workSpace-dyna{
        padding-bottom: 20px;
        .dyna{
            &-item{
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 55px;
                &-left{
                    display: flex;
                    align-items: center;
                }
                &-icon{
                    display: inline-block;
                    width: 30px;
                    height: 30px;
                    line-height: 30px;
                    border-radius: 50px;
                    background: #6da5f7;
                    margin-right: 8px;
                    padding-top: 5px;
                    text-align: center
                }

                &-userName{
                    font-weight: 500;
                }
                &-message{
                    color: #695c5c;
                }
                .pipelineName{
                    font-weight: 500;
                    padding: 0 5px;
                }
                &-pipelineName{
                    cursor: pointer;
                    font-weight: 500;
                    color: #1890ff;
                }
            }
            &-bottom{
                font-size: 16px;
                text-align: center;
                cursor: pointer;
                font-weight: 600;
                &-more{
                    color: #1890ff;
                }
            }
        }
    }
}