.workSpace{
    padding: 0 10px;
    &-top{
        position: fixed;
        z-index: 88;
        background: #fff;
        width: calc(100% - 100px);
        border-bottom: 1px solid #ccc;
        padding: 8px 0 4px 16px;
        font-size: 16px;
        min-width: 500px;
    }
    &-content{
        padding-top: 55px;
        margin: auto;
        width: 98%;
        &-nod{
            margin-bottom: 10px;
            &-file{
                .file_item{
                    &_tree{
                        color: #1890ff;
                        font-size: 16px;
                        &_name{
                            cursor: pointer;
                            &:hover{
                                text-decoration: underline;
                            }
                        }
                        .icon{
                            width: 20px !important;
                            height: 20px !important;
                        }
                    }
                }
            }
            &-catalogue{
                margin-bottom: 10px;
                .catalogue_item{
                    &_breadcrumb{
                        cursor: pointer;
                        font-size: 18px;
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
        &-record{
            margin-bottom: 10px;
            &-item{
                .record_item{
                    &_dayTime{
                        font-size: 30px;
                        color: #1890ff;
                    }
                    &_commit{
                        .btn{
                            color: #1890ff;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
        &-null{
            padding: 20px;
        }
    }
}