.workSpace{
    width: 100%;
    height: 100%;
    overflow: auto;
    background: var(--mf-backdrop-color);
    &-title{
        border-radius: 4px;
        height: 40px;
        line-height: 40px;
        margin-bottom: 10px;
        font-weight: var(--tiklab-font-weight-bold);
        &-name{
            padding: 0 8px;
        }
    }
    &-top{
        padding-bottom: var(--tiklab-padding-item);
    }
    .workSpace-census{
        height: 400px;
        min-width: 550px;
        border-radius: 4px;
        background: #fff;
        padding: 10px;
        margin-bottom: var(--tiklab-padding-item);
        &-bottom{
            display: flex;
            align-items: center;
            justify-content: space-around;
        }
        &-stat{
            padding-top: 10px;
            .stat{
                &-div{
                    width: 240px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 10px 0;
                    .stat-div-title{
                        font-size: 16px;
                    }
                    .stat-div-title-icon{
                        padding-right: 10px;
                    }
                    .census{
                        &-num{
                            font-size: 16px;
                        }
                        &-number{
                            color: #f6c659
                        }
                        &-successNumber{
                            color: #77b3eb
                        }
                        &-errorNumber{
                            color: #f06f6f
                        }
                        &-removeNumber{
                            color: #928484
                        }
                        &-time{
                            color:#6852e0cf
                        }
                    }
                }
            }
        }
    }
    .workSpace-dyna{
        border-radius: 4px;
        background: #fff;
        min-height: 450px;
        padding: 10px;
        .dyna{
            &-item{
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 50px;
                &-left{
                    display: flex;
                    align-items: center;
                }
                &-icon{
                    display: inline-block;
                    width: 30px;
                    height: 30px;
                    line-height: 30px;
                    border-radius: 50px;
                    background: #6da5f7;
                    margin-right: 8px;
                    padding-top: 5px;
                    text-align: center
                }
            }
            &-bottom{
                text-align: center;
                cursor: pointer;
                font-size: var(--tiklab-font-13);
                &-more{
                    color: var(--tiklab-blue);
                }
            }
        }
    }
}