.system {
    display: flex;
    width: 100%;
    height: calc(100vh - 50px);
    &-aside {
        height: 100%;
        width: 200px;
        min-width: 200px;
        background: var(--mf-side-color);
        &-sys{
            width: 100%;
            text-align: center;
            padding-top: 10px;
            height: 45px;
            border-top: 1px solid #ececec;
            cursor: pointer;
        }
        &-top{
            height: calc(100% - 120px);
            overflow: hidden;
            min-height: 100%;
            &:hover{
                overflow: auto;
            }
        }
        ul,li {
            list-style: none;
        }
        &-hidden {
            display: none;
        }
        &-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 40px;
            line-height: 40px;
            padding: 0 20px;
            cursor: pointer;
        }
        .system-aside-first:hover {
            background: var(--mf-hover-color);
        }
        .system-aside-second:hover{
            background: var(--mf-hover-color);
        }

        &-li {
            line-height: 40px;
        }
        &-ul {
            padding: 0;
        }
        &-select {
            background: var(--mf-select-color);
            border-left: 3px solid #0063FF;
        }
    }
    &-content{
        width: 100%;
        overflow: auto;
    }
    .icon{
        padding-right: 5px;
    }
}