.system {
    height: 100%;
    &-background {
        background-color: #fff;
        margin-left: 190px;
        padding: 10px
    }
    &-col {
        background-color: #fff;
        padding: 20px;
    }
    &-aside {
        height: 100%;
        background-color: #F7F8FA;
        padding-top: 15px;
        ul,li {
            list-style: none;
        }
        &-hidden {
            display: none;
        }
        &-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 40px;
            line-height: 40px;
            padding: 0 20px;
            cursor: pointer;
        }
        &-li {
            line-height: 40px;
        }
        &-ul {
            padding: 0;
        }
        &-first:hover{
            .system-aside-title {
                color: #0053ca;
            }
        }
        &-select {
            background: #e3e8f0;
            &:before{
                width: 4px;
                height: 40px;
                transition: all .4s cubic-bezier(.23,1,.32,1);
                content: " ";
                position: absolute;
                z-index: 2;
                left: 1px;
                background: #1890ff
            }
        }
    }
    .icon{
        width: 25px;
        height: 25px;
        padding-right: 5px;
    }
}