.post-pose-user-add{
    box-shadow: 0 4px 8px -2px #091e4240, 0 0 1px #091e424f;
    border-radius: 4px;
    background: #ffffff;
    padding: 15px;
    .user-add-btn{
        text-align: right;
        padding-top: 10px;
    }
}
