.pipelineSys{
    height: 100%;
    &-content{
        display: flex;
        flex-direction: row;
        height: 100%;
        &-right{
            flex-grow: 1;
            height: 100%;
        }
    }
    /*  成员设置  */
    &-membro{
        height: calc(100% - 50px);
    }
    /*  删除以及重命名  */
    &-reDel{
        padding: 20px 0 0 20px;
    }
    /*  凭证设置  */
    &-proof{
        padding: 10px 20px 0 ;
        &-content{
            &-btn{
                text-align: right;
                padding-bottom: 5px;
            }
            &-action{
                .action-{
                    cursor: pointer;
                }
                .edit{
                    padding-right: 10px;
                    color:#1800ff;
                }
                .del{
                    color: #ff0000;
                }
            }
        }
    }

}