.pipelineSys{
    height: 100%;
    &-content{
        display: flex;
        flex-direction: row;
        height: 100%;
        &-left{
            height: 100%;
            width: 350px;
            min-width: 350px;
            background: #fff;
            padding: 15px;
            z-index: 20;
            vertical-align: top;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            border-right: 1px solid #ccc;
        }
        &-right{
            flex-grow: 1;
            height: 100%;
            &-mid{
                padding:15px;
            }
        }
    }
}