.pipelineSys{
    height: 100%;
    &-content{
        display: flex;
        flex-direction: row;
        height: 100%;
        &-left{
            height: 100%;
            width: 200px;
            min-width: 200px;
            background: #f8f8f8;
            z-index: 20;
            vertical-align: top;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            border-right: 1px solid #ccc;
            .left{
                &-content{
                    padding-top: 15px;
                    .icon{
                        width: 25px;
                        height: 25px;
                    }
                    &-nav{
                        height: 50px;
                        display: flex;
                        padding: 15px;
                        line-height: 50px;
                        align-items: center;
                        margin-bottom: 7px;
                        cursor: pointer;
                        &-icon{
                            padding-right: 5px;
                        }
                    }
                    &-link{
                        background: #f2f2f2;
                        border-right: 3px solid #1890ff;
                    }
                }
            }

        }
        &-right{
            flex-grow: 1;
            height: 100%;
        }
    }
    /*  成员设置  */
    &-membro{
        height: calc(100% - 50px);
        .privilege-domain-user{
            overflow: hidden;
        }
    }
    /*  删除以及重命名  */
    &-reDel{
        padding: 20px 0 0 20px;
    }
    /*  凭证设置  */
    &-proof{
        padding: 10px 20px 0 ;
        &-content{
            .ant-card-body{
                min-width: 400px;
            }
            &-btn{
                text-align: right;
                padding-bottom: 5px;
            }
        }
    }
}