.dynamic{
    padding: 20px;
    &-shadow{
        flex-shrink: 0;
        border: 1px solid #ccc;
        border-radius: 8px;
        box-shadow: 0 3px 8px 0 #cccccc;
    }
    &-top{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 10px;
        &-title{
          font-size: 18px;
          font-weight: 600;
        }
        &-ac{
            width: 80px;
            line-height: 30px;
            height: 30px;
            text-align: center;
            border: 1px solid #ccc;
            border-radius: 3px;
            cursor: pointer;
            &:hover{
                border: 1px solid #1890ff;
                color: #1890ff;
            }
        }
    }
    &-list{
        &-listHeader{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 14px;
            border: 1px solid #f4f4f4;
            .name{
              color: #1890ff;
              cursor: pointer;
              padding: 0 5px;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
}