.dynamic{
    &-bottom{
        &-pagination{
            width: 100%;
            position: absolute;
            bottom: 20px;
            right: 20px;
            text-align: right;
        }
    }
}