.frame{
    height: 100%;
    &-header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #5d70ea;
        color: #fff;
        position: fixed;
        width: 100%;
        min-width: 600px;
        height: 55px;
        z-index: 999;
        &-logo{
            height: 50px;
            width: 150px;
            margin: 0 30px 0 15px;
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        &-right{
            display: flex;
            flex-direction: row;
            justify-items: flex-end;
            align-items: center;
            height: 100%;
            padding-left: 20px;
            &-text{
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;
                height: 100%;
                width: 100%;
                padding-right: 20px;
            }
            &-search-wrap{
                position: relative;
                width: 100%;
            }
        }
        &-language,&-user,&-status,&-message,&-set {
            margin: 0 10px;
        }
        &-icon{
            font-size: 23px;
            cursor: pointer;
        }
        &-user{
            display: inline-flex;
            align-items: center;
        }
        &-status{
            height: 30px;
            width: 30px;
            &>img{
                width: 100%;
                height: 100%;
            }
        }
        .headers{
            &-link{
                display: flex;
                flex-direction: row;
                flex-shrink: 0;
                & > div{
                    cursor: pointer;
                    margin-right: 10px;
                    height: 30px;
                    line-height: 30px;
                    border-radius: 6px;
                    padding: 0 10px;
                }
            }
            &-active{
                color: #444444 !important;
                background-color: #fff;
            }
        }
    }
    &-content{
        padding-top: 55px;
        height: 100%;
    }
}
