.homePage{
    width: 100%;
    height: 100%;
    overflow: auto;
    background: var(--mf-backdrop-color);
    &-content{
        &-top{
            display: flex;
        }
        &-center{
            display: flex;
            margin: 15px 0;
        }
        &-bottom{
            display: flex;
        }
        .homePage-empty{
            padding-top: 20px;
        }
        .quickIn{
            margin-bottom: 15px;
            display: flex;
            &-group{
                min-width: 100px;
                line-height: 100px;
                height: 100px;
                text-align: center;
                border-radius: 4px;
                background: #fff;
                cursor: pointer;
                flex: 1;
                &:not(:last-child){
                    margin-right: 15px;
                }
                &-wrap{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .quickIn-group-title{
                        font-weight: var(--tiklab-font-weight-bold);
                    }
                    .quickIn-group-icon{
                        .icon{
                            width: 30px;
                            height: 30px;
                            vertical-align: -0.55rem;
                        }
                    }
                    .quickIn-group-number{
                        margin-left: 5px;
                        width: 20px;
                        height: 20px;
                        line-height: 20px;
                        background: #f2f2f2;
                        border-radius: 50px;
                        font-weight: 500;
                        font-size: 15px;
                    }
                }
            }
        }
        .pipelineNear{
            border-radius: 4px;
            padding: 10px;
            height: 300px;
            background: #fff;
            flex: 1;
            margin-bottom: 15px;
            .pipelineNear-item{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 8px;
                &:hover{
                    background: #f4f4f4;
                    border-radius: 4px;
                }
            }
        }
        .agency{
            flex: 1;
            background: #fff;
            border-radius: 4px;
            padding: 10px;
            min-height: 350px;
            margin-bottom: 15px;
            &-bottom{
                &-list{
                    padding: 8px;
                    &:not(:last-child){
                        border-bottom: 1px solid var(--tiklab-gray-200);
                    }
                    &:hover{
                        background: #f4f4f4;
                        border-radius: 4px;
                    }
                    .agency-item{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        &-title{
                            cursor: pointer;
                            font-weight: 500;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            display: inline-block;
                            overflow: hidden;
                            width: 105px;
                        }
                        &-time{
                            margin-top: 5px;
                        }
                        &-user{
                            width: 270px;
                            .user-create{
                                text-overflow: ellipsis;
                                white-space: nowrap;
                                display: inline-block;
                                overflow: hidden;
                                vertical-align: top;
                            }
                            .createUser{
                                width: 50px;
                            }
                            .execUser{
                                max-width: 100px;
                            }
                            .user-arrow{
                                padding: 0 5px;
                            }
                        }
                        &-state{
                            width: 50px;
                            height: 25px;
                            line-height: 25px;
                            text-align: center;
                            font-size: 12px;
                            border-radius: 30px;
                        }
                        .state{
                            &-1{
                                background: #87d068;
                            }
                            &-2{
                                background: var(--tiklab-blue);
                            }
                            &-3{
                                background: red;
                            }
                        }
                    }
                }
            }
        }

    }
}