.homePage{
    padding: 20px;
    width: 100%;
    .quickIn{
        height: 130px;
        display: flex;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        justify-content: space-between;
        &-group{
            width: 300px;
            min-width: 100px;
            line-height: 100px;
            height: 100px;
            text-align: center;
            border: 1px solid #cccccc;
            margin-right: 10px;
            box-shadow: 3px 3px 8px 3px #ccc;
            //box-shadow: 3px 3px 8px 3px #5d70ea;
            border-radius: 8px;
            cursor: pointer;
            &-wrap{
                display: flex;
                justify-content: center;
                align-items: center;
                &-title{
                    font-weight: 600;
                }
                &-number{
                    width: 30px;
                    height: 30px;
                    line-height: 30px;
                    background: #f2f2f2;
                    border-radius: 50px;
                }
            }
        }
    }
    &-content{
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        &-left{
            width: calc(60% - 7px);
            min-width: 300px;
            margin-right: 16px;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            min-height: 100px;
            -webkit-flex-shrink: 0;
            flex-shrink: 0;
        }
        &-right{
            width: calc(40% - 7px);
            min-width: 390px;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            min-height: 100px;
            -webkit-flex-shrink: 0;
            flex-shrink: 0;
        }
        .pipelineNear{
            border: 1px solid #ccc;
            border-radius: 8px;
            padding: 20px;
            box-shadow: 0 3px 8px 0 #cccccc;
            margin-bottom: 16px;
            &-title{
                padding-bottom: 15px;
                font-size: 18px;
                font-weight: 600;
            }
            &-list{
                &-item{
                    &-desc{
                        cursor: pointer;
                        font-size: 16px;
                        color: #1890ff;
                        .name{
                            &:hover{
                                text-decoration: underline;
                            }
                        }
                    }
                }
                &-null{
                    text-align: center;
                    color: rgba(0,0,0,.25)
                }
            }
        }
        .statusChart{
            border-radius: 8px;
            padding: 20px;
            border: 1px solid #cccccc;
            box-shadow: 0 3px 8px 0 #cccccc;
            height: 500px;
            &-title{
                padding-bottom: 15px;
                font-size: 18px;
                font-weight: 600;
            }
            &-box{
                width: calc(100% - 20px);
                height: calc(100% - 20px);
            }
        }
    }
}