.pipelineRecent{
    border-radius: 4px;
    padding: 10px;
    height: 225px;
    background: #fff;
    flex: 1;
    margin-bottom: 15px;
    .pipelineRecent-content{
       display: flex;
       justify-content: flex-start;
        padding-top: 5px;
    }
    .pipelineRecent-item{
        width: 25%;
        height: 150px;
        border: 1px solid var(--tiklab-gray-200);
        padding: 10px;
        border-radius: 4px;
        cursor: pointer;
        &:not(:last-child){
            margin-right: 15px;
        }
    }
    .pipelineRecent-item-title{
        padding-bottom: 10px;
        .pipelineRecent-icon{
            display: inline-block;
            width: 22px;
            height: 22px;
            line-height: 22px;
            border-radius: 4px;
            text-align: center;
            color: black;
            font-size: 13px;
        }
        .pipelineRecent-name{
            display: inline-block;
            max-width: 200px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            -o-text-overflow: ellipsis;
        }
    }
    .pipelineRecent-item-details{
        font-size: var(--tiklab-font-13);
        .pipelineRecent-item-detail{
            display: inline-flex;
            padding: 0 20px;
            width: 100%;
            justify-content: space-between;
            height: 32px;
            line-height: 32px;
        }
        .detail-imgs{
            width: 22px;
            height: 22px;
        }
    }
}