.userCenter{
    flex-grow: 1;
    height: 100%;
    &-base{
        padding:0 20px 20px;
        &-content{
            margin-top: 20px;
            height: calc(100% - 83px);
        }
    }
    &-view{
        padding:0 20px 20px;
        &-content{
            height: calc(100% - 83px);
            padding-top: 20px;
            .content{
                &-addView{
                    text-align: right;
                    padding-bottom: 10px;
                }
                &-action{
                    &-del{
                        padding-right: 10px;
                    }
                }
            }
        }
    }
}