.documnet-addList {
    // text-align: center;
    .title {
        font-size: 40px;
        font-weight: 600;
    }
    .document-list {
        width: 300px;
        display: flex;
        justify-content: center;
        // align-items: center;
        flex-direction: column;
        margin: 20px auto;
    }
    .documnet-type {
        display: flex;
        // justify-content: center;
        align-items: center;
        margin: 20px 0;
        .user-icon {
            width: 30px;
            height: 30px;
            margin-right: 10px;
        }
    }
}