.share-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    .share-item {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        .share-icon {
            width: 30px;
            height: 30px;
        }
        .share-name {
            font-size: 12px;
        }
    }
}
.share-title {
    height: 30px;
    font-weight: 600;
}
.share-link {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    .share-text {
        width: 20%;
    }
    .share-content {
        width: 80%;
    }
}
.link-box {
    box-shadow: rgb(179,186,197) 0px 0px 1px 0px, rgb(193,199,208) 0px 1px 1px 0px;
    padding: 10px;
    margin: 10px 0;
}