.edit-toolbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-shadow: rgb(235,236,240) 0px 2px 0px 0px;
    padding: 10px 0;
    margin-top: 24px;
    border-top: 1px solid rgb(235,236,240);
    .tool-item {
        width: 30px;
        text-align: center;
        i {
            font-size: 16px;
            font-weight: 600;
        }
    }
    
}
p {
    margin: 0;
}