// *{
// 	margin: 0;
// 	padding: 0;
// }
.tabs {
    .container{
        width: 300px;
        height: 340px;
    }
    .tab_title_wrap{
        width: 300px;
        height: 40px;
        display: flex;
        justify-content: flex-start;
    }
    .tab_title{
        flex: auto;
        height: 40px;
        text-align: center;
        line-height: 40px;
        color: #8791A3;
        background-color: #EBECF0;
        display: inline-block;
    }
    .active{
        color: #0053ca;
        
    }
    .tab_item_wrap{
        width: 300px;
        height: 300px;
    }
    .tab_item{
        width: 300px;
        height: 300px;
        text-align: center;
        line-height: 300px;
        display: none;
    }
    .tab_show{
        display: block;
    }
}
