.check-lists{
    display: flex;
    flex-direction: row;
    align-items: center;

    & + & {
        margin-top: 0;
    }
    .check-input{
        margin-right: 0.75em;
    }
    .check-text {
        flex: 1;
        &:focus {
            outline: none;
        }
    }
}