.ant-layout{
  background: #ffffff;
  //头部导航
  &-header{
    width: 100%;
    z-index: 9999;
    position: fixed;
    .header{
      width: 100%;
      &-content {
        width: 1190px;
        //width: 100vh;
        margin: 0 auto;
        ul li{
          float: left;
          cursor: pointer;
        }
        &-logo{
          height: 64px;
          line-height: 64px;
          width: 100px;
          text-align: center;
          font-size: 18px;
          color: #ffffff;
        }
        &-link{
          float: left;
          color: #ffffff;
          &-active{
            color: #1890ff !important;
          }
          :nth-of-type(odd) {
            padding: 0 40px;
          }
        }
        &-left {
          float: left;
        }
        &-right {
          float: right;
          &-text {
            color: #ffffff;
          }
          &-search-wrap{
            margin:20px 40px;
          }
        }
      }
    }
  }
  &-content{
    width: 1200px;
    height: 100%;
    margin: 100px auto;
  }
}