.home {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90vh;
    .home-box {
        height: 90%;
        width: 40vw;
        border: solid 1px #999999;
    }
}