.ant-layout{
  width: 100%;
  height: 100%;
  background: #ffffff;
  //头部导航
  .ant-layout-header{
    width: 100%;
    z-index: 9999;
    position: fixed;
    .top{
      width: 100%;
      .top-nav {
        width: 1190px;
        margin: 0 auto;
        ul{
          li{
            float: left;
            margin-right: 30px;
            margin-top: 5px;
            a{
              color: #ffffff;
              &:hover{
                color: #1890ff;
              }
            }
          }
        }
        .top-nav-l {
          float: left;
          .l-span {
            font-size: 20px;
            padding: 0 6px;
            color: #ffffff;
          }
          .l-menu{
            height: 50px;
          }
        }
        .top-nav-r {
          float: right;
          .r-span {
            color: #ffffff;
          }
          .top-nav-space{
            margin: 20px;
          }
        }
      }
    }
  }
}