.mf-layout{
    display: flex;
    width: 100%;
    height: var(--mf-content-height);
    .mf-normal-aside{
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        flex-basis: 80px;
        height: 100%;
        background: var(--mf-sider-color);
        .normal-aside-up{
            flex: 1;
        }
        .normal-aside-item{
            cursor: pointer;
            display: flex;
            height: 50px;
            align-items: center;
            padding: 5px 0;
            flex-direction: column;
            justify-content: center;
            &:hover{
                background: var(--thoughtware-gray-300);
            }
            &:not(:last-child){
                margin-bottom: 5px;
            }
        }
        .normal-aside-select{
            background: var(--thoughtware-gray-400);
            border-left: 3px solid var(--thoughtware-blue);
        }
    }
    .normal-aside-item-icon{
        font-size: var(--thoughtware-icon-size-16);
    }
    .normal-aside-item-ban{
        color: #94979a;
    }
    .normal-aside-opt{
        cursor: pointer;
        display: flex;
        height: 50px;
        align-items: center;
        padding: 5px 0;
        justify-content: center;
        .normal-aside-opt-icon{
            display: flex;
            align-items: center;
            justify-content: center;
            padding-left: 20px;
        }
    }
    .mf-normal-content{
        flex: 1;
    }
}

.normal-aside-dropdown{
    left: 80px !important;
    top: var(--mf-head-height) !important;
    box-shadow: 0 4px 8px -2px #091e4240, 0 0 1px #091e424f;
    border-radius: 4px;
    background: #ffffff;
    .pipeline-opt{
        &-title{
            font-weight: var(--thoughtware-font-weight-bold);
            padding: 0 var(--thoughtware-padding-item);
            height: 40px;
            line-height: 40px;
            border-bottom: 1px solid var(--thoughtware-gray-200);
        }
        &-group{
            max-height: calc(100vh - 120px);
            min-height: 45px;
            overflow: auto;
        }
        &-item{
            padding: 0 var(--thoughtware-padding-item);
            height: 40px;
            line-height: 40px;
            cursor: pointer;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            max-width: 200px;
            &:hover{
                background: #edf0f5;
            }
        }
        &-icon{
            display: inline-block;
            width: 25px;
            height: 25px;
            line-height: 25px;
            text-align: center;
            margin-right: 15px;
            border-radius: 4px;
        }
        &-active{
            background:#edf0f5;
        }
        &-more{
            cursor: pointer;
            text-align: center;
            padding: 8px 0 ;
            background: #f8f8f8;
            color: var(--thoughtware-blue);
        }
    }
}

[data-title-right]{
    position: relative;
    &::before,
    &::after {
        position: absolute;
        z-index: 10;
        top: 50%;
        left: 100%;
        pointer-events: none;
        opacity: 0;
        transition: opacity 0.3s, transform 0.3s;
    }
    &::before {
        border: 5px solid transparent;
        transform: translateX(-50%) translateY(-5px);
        content: '';
        margin-top: 3px;
        border-right-color: #21242a;
    }
    &::after {
        padding: 5px;
        background-color: #21242a;
        border-radius: 2px;
        box-shadow: 0 5px 15px rgba(#000, 0.2);
        color: #fff;
        font-size: 12px;
        line-height: 16px;
        white-space: nowrap;
        margin-left: 5px;
        transform: translateX(0) translateY(-10px);
        content: attr(data-title-right);
    }
    &:hover {
        &::before,
        &::after {
            opacity: 1;
        }
    }
}
