.system {
    display: flex;
    width: 100%;
    height: 100%;
    &-aside {
        height: 100%;
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 200px;
        background: var(--thoughtware-gray-600);
        &-sys{
            width: 100%;
            text-align: center;
            padding-top: 10px;
            height: 45px;
            border-top: 1px solid var(--thoughtware-gray-200);
            cursor: pointer;
        }
        &-top{
            height: 100%;
            overflow: auto;
            padding: 0;
        }
        ul,li {
            list-style: none;
        }
        &-hidden {
            display: none;
        }
        &-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 40px;
            line-height: 40px;
            padding-right: 20px;
            cursor: pointer;
        }
        .system-aside-first:hover {
            background: var(--thoughtware-gray-300);
        }
        .system-aside-second{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-right: 20px;
            .aside-second-link{
                font-size: 13px;
            }
        }
        .system-aside-second:hover{
            background: var(--thoughtware-gray-300);
        }
        .system-aside-top-head{
            height: 40px;
            line-height: 40px;
            width: 100%;
            padding: 0 20px;
            font-weight: var(--thoughtware-font-weight-bold);
            border-bottom: 1px solid #ececec;
        }
        &-li {
            line-height: 40px;
        }
        &-ul {
            padding: 0;
        }
        &-select {
            background: var(--thoughtware-gray-400);
        }
    }
    &-content{
        flex: 1;
        height: 100%;
        overflow: auto;
    }
    .sys-content-icon{
        padding-right: 5px;
    }
}
