.form-mirror{
    display: flex;
    flex-direction: column;
    width: 500px;
    //position: relative;
    .react-codemirror2{
        height: 100%;
        width: 100%;
        overflow-y: auto;
    }
    .form-mirror-fa{
        min-height: 32px;
    }
    .form-mirror-tr{
        min-height: 64px;
        border: 1px solid #1890ff;
        //border-left: 1px solid #1890ff;
        //border-right: 1px solid #1890ff;
        //border-top: 1px solid #1890ff;
        .CodeMirror{
            min-height: 64px;
        }
    }
    .form-mirror-move{
        //position:absolute;
        //right: 0;
        //bottom: 0;
        border-bottom: 2px solid #1890ff;
        cursor: s-resize;
    }
    .CodeMirror{
        height: 100%;
        padding: 2px 7px;
        &:hover{
            background: #f4f4f4 !important;
        }
        .CodeMirror-placeholder{
            color: #bfbfbf;
            font-family: Microsoft YaHei;
        }
        .CodeMirror-code{
            font-family: Microsoft YaHei;
        }

    }
}
