@font-face {
  font-family: "iconfont"; /* Project id 3197798 */
  src: url('iconfont.woff2?t=1670053047507') format('woff2'),
       url('iconfont.woff?t=1670053047507') format('woff'),
       url('iconfont.ttf?t=1670053047507') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-svn:before {
  content: "\e62d";
}

.icon-ssh:before {
  content: "\e73c";
}

.icon-tuisongshezhi:before {
  content: "\e666";
}

.icon-git:before {
  content: "\e658";
}

.icon-Scan:before {
  content: "\e616";
}

.icon-chufa:before {
  content: "\e606";
}

.icon-jiaoben:before {
  content: "\e621";
}

.icon-mes:before {
  content: "\e60f";
}

.icon-bushu:before {
  content: "\e628";
}

.icon-ceshi:before {
  content: "\e8ad";
}

.icon-zu-:before {
  content: "\e625";
}

.icon-github:before {
  content: "\e63a";
}

.icon-candy:before {
  content: "\e663";
}

.icon-helmet:before {
  content: "\e66a";
}

.icon-backpack:before {
  content: "\e660";
}

.icon-buzzer:before {
  content: "\e662";
}

.icon-icon-test:before {
  content: "\e604";
}

.icon-renwu:before {
  content: "\ff84";
}

.icon-suyuanmabiaoqian:before {
  content: "\e99d";
}

.icon-xuniji:before {
  content: "\ea6b";
}

.icon-docker:before {
  content: "\e659";
}

.icon-nodejs:before {
  content: "\e683";
}

.icon-gitlab:before {
  content: "\e65c";
}

.icon-gitee:before {
  content: "\e60c";
}

.icon-meiyouxiangguan:before {
  content: "\e610";
}

.icon-tianjia:before {
  content: "\e613";
}

.icon-zengjia:before {
  content: "\e8c8";
}

.icon-xingxing1:before {
  content: "\e603";
}

.icon-xingxing-kong:before {
  content: "\e649";
}

