@font-face {
  font-family: "iconfont"; /* Project id 3197798 */
  src: url('iconfont.woff2?t=1655172095638') format('woff2'),
       url('iconfont.woff?t=1655172095638') format('woff'),
       url('iconfont.ttf?t=1655172095638') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-guanli:before {
  content: "\e63d";
}

.icon-fenleiguanli:before {
  content: "\e60f";
}

.icon-gongzuotongji:before {
  content: "\e624";
}

.icon-shaixuan1:before {
  content: "\e644";
}

.icon-jiekoupeizhi:before {
  content: "\e990";
}

.icon-lishijishi:before {
  content: "\e615";
}

.icon-meiyouxiangguan:before {
  content: "\e610";
}

.icon-shezhi:before {
  content: "\e713";
}

.icon-yunhang:before {
  content: "\ec61";
}

.icon-tianjia:before {
  content: "\e613";
}

.icon-wenjian:before {
  content: "\e631";
}

.icon-wenben:before {
  content: "\e638";
}

.icon-zengjia:before {
  content: "\e8c8";
}

.icon-dengdai1:before {
  content: "\e609";
}

.icon-cuowu:before {
  content: "\e600";
}

.icon-chenggong-:before {
  content: "\e661";
}

.icon-chenggong1:before {
  content: "\e60b";
}

.icon-xingxing1:before {
  content: "\e603";
}

.icon-xingxing-kong:before {
  content: "\e649";
}

.icon-yunhangshibai3:before {
  content: "\e690";
}

