.mf-page{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    .mf-page-ban{
        cursor:not-allowed;
        color: var(--tiklab-gray-500);
    }
    .mf-page-allow{
        cursor: pointer;
    }
    .mf-page-current,.mf-page-allow:hover{
        color: var(--tiklab-blue);
    }
    .mf-page-line{
        margin: 0 5px;
    }
    .mf-page-record{
        margin-left: 10px;
        font-size: var(--tiklab-font-12);
    }
}