
.config-details{
  width: 100%;
  height: 100%;
  overflow: hidden;
  &-top{
    position: fixed;
    z-index: 99;
    background: #ffffff;
    border-bottom: 1px solid #cccccc;
    height: 40px;
    line-height: 40px;
    width: 100%;
    padding-left: 5vh
  }
  &-content{
    display: flex;
    flex-direction: row;
  }
  &-right{
    margin: 50px auto;
    width: 80%;
  }
  &-req{

  }
  &-wrapper{
    margin: 30px 0;
  }
  &-tail{
    margin-top: 30px;
  }
  &-Headline{
    margin-bottom: 30px;
    border-bottom: 1px solid #cccccc;
    font-size: 16px;
  }
  &-handle{
    text-align: center;
    height: 35px;
    line-height: 35px;
    width: 150px;
    border: 1px solid #e3e8f0;
    border-radius: 3px;
    cursor: pointer;
    &:hover{
      color: #1890ff;
      border: 1px solid #1890ff;
    }
  }
  &-newStage{
    border: 1px solid #cccccc;
    padding: 20px;
  }
  &-link{
    margin-top: 30px;
    margin-left: 15px;
  }
}

.desc{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  &-head{
    padding-bottom: 15px;
    font-weight: 500;
  }

  &-delete{
    display: inline-block;
    cursor: pointer;
    &:hover{
      color: #1890ff;
    }
  }
  &-input{
    margin-left: 15px;
    border-left: 1px dashed;
    padding-left: 15px;
  }
}
.group{
  margin-bottom: 16px;
  &-title{
    color: #8c8c8c;
    font-size: 14px;
    margin-bottom: 12px;
  }
  &-content{
    margin-bottom: 8px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 440px;
    &:after{
      content: "";
      width: 214px;
      height: 0;
      background: transparent;
      opacity: 0;
    }
  }
  &-desc{
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    margin-bottom: 12px;
    width: 214px;
    height: 80px;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    -webkit-transition: -webkit-transform .218s ease-in;
    transition: -webkit-transform .218s ease-in;
    transition: transform .218s ease-in,-webkit-transform .218s ease-in;
    &-tpl{
      display: inline-block;
      vertical-align: top;
      width: calc(100% - 100px);
      margin-left: 12px;
    }
  }
  &-tpl{
    margin: 10px;
  }
}