.pipeline-add{
    top: 0;
    width: 100vw;
    padding: 0;
    margin: 0;
    max-width: 100vw;
    .ant-modal-body{
        height: 100%;
        overflow: auto;
        padding: 0;
        background: var(--mf-backdrop-color);
    }
    .ant-modal-footer{
        display: none;
    }
}
.pipelineAddModal{
    max-width: 900px;
    margin: auto;
    padding: 20px;
    height: 100%;
    .pipelineAddModalType{
      &-title{
          padding-bottom: 10px;
          text-align: right;
      }
      &-li{
          width:100%;
          border-radius: 4px;
          background: #e2f7ff;
          display: inline-block;
          cursor: pointer;
          padding-bottom: 10px;
          &:not(:last-child){
              margin-bottom: 15px;
          }
          &-header{
              padding: 5px 0 5px 30px;
              display: flex;
              .li-header{
                  &-title{
                      font-weight: var(--tiklab-font-weight-bold);
                      font-size: 16px
                  }
                  &-name{
                      padding-left: 5px;
                  }
              }
          }
          &-content{
              display: flex;
              justify-content: left;
              align-items: center;
              .li-step {
                  height: 40px;
                  line-height: 40px;
                  border-radius: 34px;
                  background: #fff;
                  width: 100px;
                  text-align: center;
                  margin-top: 5px;
                  position: relative;
                  margin-left: 30px;
                  .icon {
                    width: 20px;
                    height: 20px;
                  }
                  &:not(:last-child){
                      &:after{
                          content: "";
                          width: 47px;
                          border-top: 1px solid #626262;
                          position: absolute;
                          top: 20px;
                          left: 100px;
                      }
                  }
              }
          }
          .li-self{
              font-size: 16px;
              text-align: center;
              padding-top: 10px;
          }
      }
      &-selected{
          border: 1px solid var(--tiklab-blue);
        }
    }
    .steps-top{
        padding-bottom: var(--tiklab-padding-item);
    }
    .steps-content {
        border-radius: 2px;
        height: calc(100% - 135px);
        min-height: 100px;
        overflow: auto;
    }
    .steps-footer{
        padding: var(--tiklab-padding-item) 0;
    }
    .ant-steps-item-icon{
        padding-top: 7px;
    }
}