.pipeline {
    &-flex{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-length{
        display: inline-block;
        width: 20px;
        height: 20px;
        line-height: 20px;
        border-radius: 50px;
        background: #f2f2f2;
        text-align: center;
    }
    &-type{
        display: flex;
        align-items: center;
    }
    .pipeline-tabs{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 50px;
        line-height: 50px;
    }
    .pipeline-tab{
        font-size: 13px;
        cursor: pointer;
        height: 50px;
        line-height: 50px;
        margin-right: 20px;
    }
    .active-tab{
        color: #000;
        font-weight: 600;
        border-bottom: 2px solid var(--tiklab-blue);
    }
}

