.pipelineAddModal{
    .pipelineAddModalType{
      &-title{
          padding-bottom: 10px;
          text-align: right;
      }
      &-li{
          width:100%;
          border-radius: 4px;
          background: #e2f7ff;
          display: inline-block;
          cursor: pointer;
          padding-bottom: 10px;
          &:not(:last-child){
              margin-bottom: 15px;
          }
          &-header{
              padding: 5px 0 5px 30px;
              display: flex;
              .li-header{
                  &-title{
                      font-weight: 600;
                      font-size: 16px
                  }
                  &-name{
                      padding-left: 5px;
                  }
              }
          }
          &-content{
              display: flex;
              justify-content: left;
              align-items: center;
              .li-step {
                  height: 40px;
                  line-height: 40px;
                  border-radius: 34px;
                  background: #fff;
                  width: 100px;
                  text-align: center;
                  margin-top: 5px;
                  position: relative;
                  margin-left: 30px;
                  .icon {
                    width: 20px;
                    height: 20px;
                  }
                  &:not(:last-child){
                      &:after{
                          content: "";
                          width: 47px;
                          border-top: 1px solid #626262;
                          position: absolute;
                          top: 20px;
                          left: 100px;
                      }
                  }
              }
          }
          .li-self{
              font-size: 16px;
              text-align: center;
              padding-top: 10px;
          }
      }
      &-selected{
          border: 1px solid #0063FF;
        }
    }
    .steps-top{
        width: 50%;
        margin: auto;
    }
    .steps-content {
        margin-top: 16px;
        padding: 10px;
        background-color: #fafafa;
        border: 1px dashed #e9e9e9;
        border-radius: 2px;
        height: 550px;
        max-height: 550px;
        overflow: auto
    }
    .steps-action {
        margin-top: 24px;
    }
    .ant-steps-item-icon{
        padding-top: 7px;
    }
}