.pipelineTable{
    .ant-table-thead>tr>th{
        background: #ffffff !important;
    }

    .ant-table-tbody>tr>td{
        border: none !important;
    }
    &-pipelineName{
        &-task{
            cursor: pointer;
        }
        &-icon{
            display: inline-block;
            width: 30px;
            height: 30px;
            line-height: 30px;
            border-radius: 4px;
            text-align: center;
            background: #6da5f7;
            color: black;
            margin-right: 10px;
        }
        .icon{
            &-1{
                background: #cadbf3;
            }
            &-2{
                background: #e8eaf6;
            }
            &-3{
                background: #ffebee;
            }
            &-4{
                background: #e0f2f1;
            }
            &-5{
                background: #eee;
            }
        }
    }
    &-state,&-history{
        cursor: pointer;
        .actions-se{
            font-size: 23px;
        }
        &-running{
            padding: 10px;
        }
        &:hover{
            color: #1890ff;
        }
    }
    &-history{
        margin: 0 10px;
    }
    &-collect{
        cursor: pointer;
        .icon{
            width: 25px !important;
            height: 25px !important;
            color: #222222;
            &:hover{
                color: #1890ff;
            }
        }
    }
    .ant-table-tbody>tr>td{
        padding: 15px;
    }
}