.pipelineTable{
    &-pipelineName{
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        width: 160px;
        display: inline-block;
        &-task{
            cursor: pointer;
        }
        &-icon{
            display: inline-block;
            width: 30px;
            height: 30px;
            line-height: 30px;
            border-radius: 4px;
            //background: #6da5f7;
            text-align: center;
            color: black;
            margin-right: 10px;
        }
        .icon{
            &-1{
                background: #cadbf3;
            }
            &-2{
                background: #e8eaf6;
            }
            &-3{
                background: #ffebee;
            }
            &-4{
                background: #e0f2f1;
            }
            &-5{
                background: #eee;
            }
        }
        &-name{
            color: #1890ff;

        }
    }
    &-state{
        cursor: pointer;
        .actions-se{
            font-size: 23px;
        }
        &-running{
            padding: 10px;
        }
        &:hover{
            color: #1890ff;
        }
    }
    &-collect{
        margin: 0 10px;
        cursor: pointer;
        .icon{
            width: 25px !important;
            height: 25px !important;
            color: #222222;
            &:hover{
                color: #1890ff;
            }
        }
    }
    .ant-table-tbody>tr>td{
        padding: 15px;
    }
}