.pipeline-add{
    top: 0;
    width: 100vw;
    padding: 0;
    margin: 0;
    max-width: 100vw;
    .ant-modal-body{
        height: 100%;
        overflow: auto;
        padding: 0;
        background: var(--tiklab-gray);
    }
    .ant-modal-footer{
        display: none;
    }
}
.pipelineAddModal{
    max-width: 900px;
    margin: auto;
    padding: 20px;
    .pipelineAddModalType-title{
        padding-bottom: 10px;
        text-align: right;
    }
    .pipeline-template{
        .pipeline-template-title{
            padding: 0 0 8px;
        }
        .pipeline-template-content{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .pipeline-template-li{
            border-radius: 4px;
            background: #e7f6ff;
            cursor: pointer;
            display: flex;
            padding: 8px var(--tiklab-padding);
            justify-content: space-between;
            align-items: center;        
            &-header{
                display: flex;
                padding-bottom: 5px;
                .li-header-name{
                    font-weight: var(--tiklab-font-weight-bold);
                    padding-left: 5px;
                    font-size: 16px
                }
            }
            &-content{
                display: flex;
                justify-content: left;
                align-items: center;
                .li-step {
                    height: 40px;
                    line-height: 40px;
                    border-radius: 34px;
                    background: var(--tiklab-gray);
                    width: 100px;
                    text-align: center;
                    margin-top: 5px;
                    position: relative;
                    .icon {
                        width: 20px;
                        height: 20px;
                    }
                    &:not(:first-child){
                        margin-left: 30px;
                    }
                    &:not(:last-child){
                        &:after{
                            content: "";
                            width: 47px;
                            border-top: 1px solid #626262;
                            position: absolute;
                            top: 20px;
                            left: 100px;
                        }
                    }
                }
            }
            .li-self{
                font-size: 16px;
                padding: 10px 0;
            }
        }
        .pipeline-template-li-step1{
            &:not(:last-child){
                margin-bottom: var(--tiklab-padding-item);
            }
        }
        .pipeline-template-li-step2{
            flex: 1;
            margin-right: var(--tiklab-padding-item);
        }
        .pipeline-template-arrow{
            font-size: 16px;
        }
    }
    .steps-top{
        padding-bottom: var(--tiklab-padding-item);
    }
    .steps-content {
        min-height: 100px;
    }
    .steps-footer{
        padding: var(--tiklab-padding-item) 0;
    }
    .ant-steps-item-icon{
        padding-top: 7px;
    }
}