.pipeline-power{
    padding-bottom: var(--tiklab-padding);
    .pipeline-power-title{
        padding: 0 0 8px;
    }
    .pipeline-power-content{
      display: flex;
    }
    .pipeline-power-item{
        height: 150px;
        background: #ffffff;
        padding: 10px;
        cursor: pointer;
        border-radius: 4px;
        &:first-child{
          margin-right: 15px;
        }
        .power-item{
            display: flex;
            justify-content: space-between;
        }
        .power-title{
            font-size: 16px;
        }
        .power-desc{
            padding-top: 20px;
        }
        .power-select-show{
            width: 13px;
            height: 13px;
            background: var(--tiklab-blue);
            border-radius: 50px;
            position: relative;
            &:after{
                position: absolute;
                content: "";
                width: 23px;
                height: 23px;
                top: -5px;
                left: -5px;
                border: 3px solid var(--tiklab-blue);
                border-radius: 50px;
            }
        }
    }
    .pipeline-power-set{
        max-width: 300px;
        width: 300px;
        border: 1px solid var(--tiklab-gray-200);
    }
    .pipeline-power-noSet{
        flex: 1;
    }
    .pipeline-power-select{
        border: 2px solid var(--tiklab-blue) !important;
    }
}

.pipeline-user{
    padding-bottom: var(--tiklab-padding-item);
    .pipeline-user-title{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 8px;
    }
    .pipeline-user-table{
        background: #ffffff;
        padding: 8px;
        min-height: 240px;
    }
}