.pipelineTable{
    &-state,&-history{
        cursor: pointer;
        .actions-se{
            font-size: 20px;
        }
        &:hover{
            color: var(--tiklab-blue);
        }
    }
    &-state{
        &-running{
            padding: 10px;
        }
    }
    &-collect{
        .icon{
            width: 20px !important;
            height: 20px !important;
        }
    }
    .imgs{
        width: 24px;
        height: 24px;
    }
}