.pipeline {
    min-width: 600px;
    padding: 10px;
    margin: auto;
    max-width: 1280px;
    min-height: calc(100vh - 55px);
    max-height: fit-content;
    &-flex{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-length{
        display: inline-block;
        width: 20px;
        height: 20px;
        line-height: 20px;
        border-radius: 50px;
        background: #f2f2f2;
        text-align: center;
    }
    &-type{
        height: 50px;
        line-height: 50px;
        margin-bottom: 10px;
        &-group{
            display: flex;
        }
        &-link{
            margin-right: 20px;
            cursor: pointer;
            font-size: 15px;
            &:hover{
                font-weight: 600;
            }
        }
        &-active{
            font-weight: 600;
            border-bottom: 3px solid #189
        }
    }
}

