.pipeline {
    height: 100%;
    overflow: auto;
    &-flex{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-length{
        display: inline-block;
        width: 20px;
        height: 20px;
        line-height: 20px;
        border-radius: 50px;
        background: #f2f2f2;
        text-align: center;
    }
    &-type{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-bottom: 10px;
    }
    .ant-avatar{
        width: 22px;
        height: 22px;
        font-size: 12px !important;
    }
}

