.task-details{
    .task-details-up{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-weight: var(--tiklab-font-weight-bold);
        padding: var(--tiklab-padding-item) var(--tiklab-padding-item) 0;
    }
    .task-details-bottom{
        overflow: auto;
        height: calc(100% - 46px);
        width: 100%;
        padding: 0 15px;
        .body-taskForm{
            .input-hover {
                .ant-input{
                    background: transparent;
                }
                .ant-select-selector{
                    border-color: #efeded;
                    background: transparent;
                }
            }
            .input-hover{
                border-color: #efeded;
                &:hover{
                    background-color: #f2f2f2;
                }
            }
            .ant-form-item-has-error {
                .ant-input{
                    border-color: #ff4d4f;
                }
                .ant-input:focus{
                    border-color: #ff7875;
                }
                .ant-select-selector{
                    border-color: #ff4d4f;
                }
                .ant-select-selector:focus{
                    border-color: #ff7875;
                }
                .ant-input-affix-wrapper{
                    border-color: #ff4d4f;
                }
                .ant-input-affix-wrapper:focus{
                    border-color: #ff7875;
                }
            }
            .ant-form-item-has-success{
                .input-hover:hover{
                    background-color: #f2f2f2;
                    border-color: transparent;
                }
                .input-hover .ant-select-selector:hover{
                    background-color: #f2f2f2;
                    border-color: transparent;
                }
            }
        }
        .taskForm-forms{
            padding-top: var(--tiklab-padding-item);
            padding-bottom: var(--tiklab-padding);
        }
    }
}



