.config-details{
  margin: 50px auto;
  &-post{
    position: fixed;
    z-index: 101;
    margin-top: -27px;
    width: 70%;
    min-width: 600px;
    text-align: right
  }
  &-offset{
    width: 70%;
    min-width: 600px;
    position: absolute;
    top:140px;
    border: 1px solid #EAEAEA;
    border-radius: 3px;
  }
  &-fixed{
    position: fixed;
    z-index: 98;
    top: 113px;
    width: 70%;
    min-width: 600px;
  }
  &-link{
    margin-top: 30px;
    margin-left: 20px;
  }
  &-btn{
    position: fixed;
    left: 550px;
    bottom: 20px;
    z-index: 50;
    height: 50px;
    line-height: 50px;
    text-align: center;
  }
  form{
    margin-top: 30px;
    margin-left: 30px;
  }
  h2{
    font-weight: bold;
    border-bottom: 1px solid #e9e9e9;
  }
  input{
    width: 60%;
  }
  textarea{
    width:  60%;
  }
}

.hidden{
  position: fixed;
  margin-top: -85px;
  height: 110px;
  z-index: 98;
  width: 120%;
  background-color: #FFFFFF;
  margin-left: -300px;
}


