.sysAuth{
    padding: 10px;
    &-content{
        &-action{
            .del{
                color:#ff0000;
                cursor: pointer;
            }
            .edit{
                padding-right: 15px;
                color: #1890ff;
                cursor: pointer;
            }
        }
        &-switch{
            padding-bottom: 15px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            &-left{
                .switch-left{
                    display: inline-block;
                    &:not(:last-child){
                        padding-right: 20px;
                    }
                }
            }
        }
        &-btn{
            display: flex;
            justify-content: flex-end;
        }
    }
}

