.config_changeView{
    position: fixed;
    z-index: 900;
    top: 60px;
    width: 93%;
    min-width: 500px;
    &>button{
        &:first-child{
            margin-right: 30px;
        }
        &:nth-child(2){
            margin-right: 30px;
        }
    }
    .changeView{
        display: flex;
        flex-direction: row;
        justify-content: right;
        .view{
            cursor: pointer;
            height: 30px;
            line-height: 30px;
            width: 60px;
            text-align: center;
            padding: 0 10px;
            &-link{
                color: #1890ff;
            }
        }
    }
}