.guiViewAddDrawerLeft{
    max-height: 100%;
    height: 100%;
    width: 80px;
    border-right: 1px solid #e5e5e5;
    display: inline-block;
    vertical-align: top;
    .at-nav{
        display: inline-block;
        width: 100%;
        padding-left: 30px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        &-item{
            margin: 12px 0;
            &:before{
                width: 2px;
                height: 32px;
                -webkit-transition: all .4s cubic-bezier(.23,1,.32,1);
                transition: all .4s cubic-bezier(.23,1,.32,1);
                content: " ";
                position: absolute;
                z-index: 2;
                left: 0;
            }
            &-main{
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                position: relative;
                cursor: pointer;
                text-overflow: ellipsis;
                &:before{
                    position: absolute;
                    background-color: transparent;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    content: "";
                }
                .teamix-title{
                   font-weight: 700;
                }
            }
        }
        &-selected{
            &:before{
              background: #1b9aee;
            }
        }
    }
}