.wrapper-body{
    .body-taskForm{
        width: 100%;
        padding: 0 20px 20px;
        .ant-row {
            flex-flow: row wrap;
        }
        .ant-form-item {
            flex-direction: column;
            margin-bottom: 10px;
        }
        .ant-input-group{
            .ant-input{
                width: 410px;
            }
        }
        .ant-input{
            width: 440px;
        }
        .ant-select{
            width: 440px;
        }
        .ant-input-group-addon{
            width: 30px;
        }
        .ant-form-item-explain-error{
            min-height: 20px;
            height: 20px;
        }
        .ant-form-item-explain{
            font-size: 13px;
        }
        .ant-form-item-label{
            min-width: 110px;
            text-align: left;
            &>label:after{
                display: none;
            }
            .ant-form-item-required:not(.ant-form-item-required-mark-optional):before{
                display: none;
            }
            .ant-form-item-required:not(.ant-form-item-required-mark-optional):after{
                display: inline-block;
                margin-right: 4px;
                color: #ff4d4f;
                font-size: 14px;
                font-family: SimSun,sans-serif;
                line-height: 1;
                content: "*";
            }
        }
    }
}