.wrapper-body{
    .body-taskForm{
        padding: 20px;
        width: 100%;
        .ant-row {
            flex-flow: row wrap;
        }
        .ant-form-item {
            flex-direction: column;
        }
        .ant-form-item-label{
            min-width: 110px;
            text-align: left;
            &>label:not(.ant-form-item-required):after{
                display: none;
            }
            .ant-form-item-required:not(.ant-form-item-required-mark-optional):before{
                display: none;
            }
            .ant-form-item-required:after {
                display: inline-block;
                margin-right: 4px;
                color: #ff4d4f;
                font-size: 14px;
                font-family: SimSun,sans-serif;
                line-height: 1;
                content: "*";
            }
        }
        .ant-input-group{
            .ant-input{
                width: 380px;
            }
        }
        .ant-input{
            width: 410px;
        }
        .ant-select{
            width: 410px;
        }
        .ant-input-group-addon{
            width: 30px;
        }
    }
}