.design{
    height: 100%;
    width: 100%;
    overflow: hidden;
    .design-up{
        position: sticky;
        top: 0;
        left: 0;
        background: #ffffff;
        border-bottom: 1px solid #d9d9d9;
        z-index: 9;
        min-width: 768px;
    }
    .design-top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: var(--thoughtware-padding-item) var(--thoughtware-padding-item) 0;
    }
    .changeView-type{
        display: flex;
        align-items: center;
        margin-right: 15px;
        border-radius: 4px;
        background: #f7f7f7;
        border: 1px solid #f7f7f7;
        div{
            cursor: pointer;
            padding: 4px 15px;
        }
        .type-active{
            background: #e3e8f0;
        }
    }
    .design-tabs{
        display: flex;
        padding: 0 var(--thoughtware-padding-item);
        height: 40px;
        line-height: 40px;
        .design-tab{
            cursor: pointer;
            display: flex;
            align-items: center;
            &:not(:last-child){
                margin-right: 30px;
            }
            .design-tab-icon{
                padding-right: 2px;
            }
        }
        .design-active{
            color: var(--thoughtware-blue);
            border-bottom: 2px solid var(--thoughtware-blue);
        }
    }
    .design-content{
        height: calc(100% - 90px);
        padding: 20px 30px;
        overflow: auto;
    }
}

