.design{
    height: 100%;
    width: 100%;
    overflow: hidden;
    .design-up{
        position: sticky;
        top: 0;
        left: 0;
        background: #ffffff;
        z-index: 9;
        min-width: 768px;
    }
    .design-top{
        display: flex;
        align-items: center;
        padding: var(--tiklab-padding-item) var(--tiklab-padding-item) 0;
    }
    .design-tabs{
        flex:1;
        display: flex;
        padding: 0 var(--tiklab-padding);
        height: 40px;
        line-height: 40px;
        .design-tab{
            cursor: pointer;
            &:not(:last-child){
                margin-right: var(--tiklab-padding-item);
            }
        }
        .design-active{
            color: var(--tiklab-blue);
            border-bottom: 2px solid var(--tiklab-blue);
        }
    }
    .design-content{
        height: calc(100% - 55px);
        overflow: auto;
    }
}

