.design{
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    .design-up{
        position: sticky;
        top: 0;
        left: 0;
        background: #ffffff;
        z-index: 9;
        min-width: 768px;
    }
    .design-top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: var(--tiklab-padding) var(--tiklab-padding) 0;
    }
    .design-tabs{
        display: flex;
        padding: 0 var(--tiklab-padding);
        height: 40px;
        line-height: 40px;
        .design-tab{
            cursor: pointer;
            &:not(:last-child){
                margin-right: var(--tiklab-padding);
            }
        }
        .design-active{
            color: var(--tiklab-blue);
            border-bottom: 2px solid var(--tiklab-blue);
        }
    }
}
