* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
body,html,#root{
  height: 100%;
  width: 100%;
  overflow-x:hidden;
}
@import "modules/home/home";
@import "modules/login/login";
//流水线
@import "modules/pipeline/pipeline";
//任务
@import "modules/task/task";
//新建流水线
@import "modules/new/new";
//部署
@import "modules/deployment/deployment";