.mf-btn{
    display: inline-block;
    font-weight: 400;
    white-space: nowrap;
    text-align: center;
    cursor: pointer;
    padding: 4px 15px;
    font-size: 14px;
    border-radius: 4px;
    color: rgba(0,0,0,.85);
    background: #fff none;
    border: 1px solid #d9d9d9;
}

.mf-btn-primary{
    background: var(--tiklab-blue);
    border-color: var(--tiklab-blue);
    color: #ffffff;
}

.mf-btn-disabled{
    color: rgba(0,0,0,.25);
    background: #f5f5f5;
    border-color: #d9d9d9;
    cursor:not-allowed;
}

.mf-btn-text {
    color: rgba(0,0,0,.85);
    background: transparent;
    border-color: transparent;
    box-shadow: none;
    padding-top: 5px;
    &:hover{
        background: #f4f4f4;
    }
}



.mf-btn-dangerous{
    color: #fff;
    background: #ff0000;
    border-color: #ff0000;;
}

.mf-btn-link-disabled{
    color: rgba(0,0,0,.25);
    background: transparent;
    border-color: transparent;
    box-shadow: none;
    cursor:not-allowed;
}

.mf-btn-link{
    color: var(--tiklab-blue);
    background: transparent;
    border-color: transparent;
    box-shadow: none;
}

.mf-btn-link-nopadding{
    color: var(--tiklab-blue);
    background: transparent;
    border-color: transparent;
    box-shadow: none;
    padding: 0;
}

.mf-btn-row{
    width: 100%;
    text-align: left;
    background: transparent;
    border-color: transparent;
    padding: 4px 8px;
    border-radius: 0;
    &:hover{
        background: #f4f4f4;
    }
}

.mf-btn-mar{
    margin-right: 15px;
}

.mf-btn-icon{
    display: inline-block;
    width: 16px;
    height: 16px;
    font-size: var(--tiklab-icon-size-16);
}
