$main-padding:10px;

.mf-layout {
  height: 100vh;
  display: flex;
  overflow: hidden;

  .mf-aside {
    position: relative;
    transition: width 0.3s ease, transform 0.3s ease;
    border-right: 1px solid var(--mf-border-color);
    .ant-avatar {
      width: 24px;
      height: 24px;
      line-height: 24px;
      background: #8e9bed;
      font-size: 13px;
    }
    .aside-hover-expand{
      position: absolute;
      height: 100%;
      right: 0;
      cursor: pointer;
      top: 0;
      border-right: 6px solid transparent;
    }
    .aside-hover-expand:hover + .aside-expand{
      visibility: visible;
      opacity: 1;
    }
    .aside-expand {
      position: absolute;
      right: -23px;
      bottom: 15%;
      transform: translateX(-10px);
      cursor: pointer;
      visibility: hidden;
      opacity: 0;
      z-index: 1;
      padding: 30px 1px;
      border-radius: 30px;
      transition: visibility 0.3s ease, opacity 0.3s ease;
      &:hover{
        visibility: visible;
        opacity: 1;
      }
    }

    &-normal {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      flex-basis: 75px;
      height: 100%;
      transition: flex-basis 0.3s ease;
      .aside-logo {
        cursor: pointer;
        display: flex;
        height: 48px;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 20px;
        padding-top: 15px;
      }
      .aside-up {
        flex: 1;
        .aside-item {
          cursor: pointer;
          display: flex;
          height: 52px;
          align-items: center;
          flex-direction: column;
          justify-content: center;
          border-left: 3px solid transparent;
          transition: background 0.3s ease;
          &:not(:last-child) {
            margin-bottom: 5px;
          }
        }
        .aside-item-icon {
          font-size: 18px;
          padding-top: 4px;
          padding-bottom: 2px;
        }
      }
      .aside-bottom {
        margin-top: 20px;
        margin-bottom: 10px;
        .aside-bottom-text {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 36px;
          font-size: 18px;
          transition: background 0.3s ease;
          cursor: pointer;
        }
        .text-icon{
          margin: 4px 0;
        }
      }
      .aside-opt{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        padding: 15px 5px 5px 20px;
        margin-bottom: 10px;
      }
      .aside-item-back{
        margin-bottom: 10px;
        padding-bottom: 5px;
      }
      .aside-dropdown{
        left: 75px !important;
      }
    }

    &-expand {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      flex-basis: 200px;
      height: 100%;
      transition: flex-basis 0.3s ease;
      .aside-logo {
        display: flex;
        align-items: center;
        height: 48px;
        padding-top: 15px;
        padding-left: 19px;
        margin-bottom: 20px;
        cursor: pointer;
        .aside-logo-text {
          margin: 0 8px;
          font-size: 20px;
          font-weight: 500;
        }
      }
      .aside-up {
        flex: 1;
        .aside-item {
          height: 40px;
          display: flex;
          line-height: 40px;
          width: 100%;
          align-items: center;
          padding-left: 20px;
          cursor: pointer;
          border-left: 3px solid transparent;
          transition: background 0.3s ease;
          .aside-item-icon {
            font-size: 18px;
            margin-right: $main-padding;
          }
        }
      }
      .aside-bottom {
        margin-top: 20px;
        margin-bottom: 10px;
        .aside-item {
          height: 36px;
          display: flex;
          width: 100%;
          align-items: center;
          padding-left: 20px;
          cursor: pointer;
          .aside-item-icon {
            margin-right: $main-padding;
            font-size: 18px;
          }
        }
        .aside-item-user{
          padding-left: 16px !important;
          .aside-item-icon {
            margin-right: 7px !important;
            opacity: 1 !important;
          }
        }
      }
      .aside-opt{
        cursor: pointer;
        display: flex;
        height: 48px;
        align-items: center;
        padding-left: 20px;
        padding-top: 15px;
        margin-bottom: 10px;
        .aside-opt-name{
          font-weight: var(--thoughtware-font-weight-bold);
          margin: 0 5px 0 7px;
          min-width: 0;
          max-width: 110px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          -o-text-overflow: ellipsis;
        }
        .mf-listname-icon{
          width: 24px;
          height: 24px;
          line-height: 24px;
        }
      }
      .aside-item-back{
        margin-bottom: 10px;
        padding-bottom: 5px;
      }
      .aside-dropdown{
        left: 200px !important;
      }
    }
    .aside-dropdown{
      top: 0 !important;
      box-shadow: 0 4px 8px -2px #091e4240, 0 0 1px #091e424f;
      border-radius: 4px;
      background: #ffffff;
      .pipeline-opt{
        &-title{
          font-weight: var(--thoughtware-font-weight-bold);
          padding: 0 var(--thoughtware-padding-item);
          height: 40px;
          line-height: 40px;
          border-bottom: 1px solid var(--mf-border-color);
        }
        &-group{
          max-height: calc(100vh - 120px);
          min-height: 45px;
          overflow: auto;
        }
        &-item{
          padding: 0 var(--thoughtware-padding-item);
          height: 40px;
          line-height: 40px;
          cursor: pointer;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          max-width: 200px;
          &:hover{
            background: var(--mf-hover-color);
          }
        }
        &-icon{
          display: inline-block;
          width: 25px;
          height: 25px;
          line-height: 25px;
          text-align: center;
          margin-right: $main-padding;
          border-radius: 4px;
        }
        &-active{
          background:#edf0f5;
        }
        &-more{
          cursor: pointer;
          text-align: center;
          padding: 8px 0 ;
          background: #f8f8f8;
          color: var(--thoughtware-blue);
        }
      }
    }
  }

  .mf-layout-content {
    height: 100vh;
    flex: 1;
    overflow: auto;
  }

  .mf-aside{
    &-default{
      background: var(--mf-aside-color);
      .aside-expand{
        background: #edf0f5;
      }
      .aside-item-back{
        border-bottom: 1px solid var(--mf-border-color);
      }
      .aside-item,.aside-bottom-text{
        &:hover{
          background: #edf0f5;
        }
      }
      .aside-select{
        background-color: var(--mf-select-color);
        border-left: 3px solid var(--thoughtware-blue) !important;
      }
    }
    &-black{
      background: #131d30;
      color: #f6f7f8;
      .aside-expand{
        background: #7e8085;
      }
      .aside-item-icon,.aside-bottom-text-icon{
        opacity: 0.6;
      }
      .aside-item-back{
        border-bottom: 1px solid #f6f7f81a;
      }
      .aside-item,.aside-bottom-text{
        &:hover{
          background: #e9f2ff2e;
        }
      }
      .aside-select{
        background-color: #e9f2ff2e;
        border-left: 3px solid #ffffff !important;
      }
    }
    &-blue{
      background: #2f5eb1;
      color: #f6f7f8;
      .aside-expand{
        background: #93acd4;
      }
      .aside-item-back{
        border-bottom: 1px solid #f6f7f81a;
      }
      .aside-item,.aside-bottom-text{
        &:hover{
          background:#e9f2ff2e;
        }
      }
      .aside-select{
        background-color: #e9f2ff2e;
        border-left: 3px solid #ffffff !important;
      }
    }
  }
}

