.ant-layout-sider-children{
  position: fixed;
  z-index: 99;
  background-color: #ffffff;
}
.pipelineDetails{
  background: #fff;
  minHeight: 280px;
}
.breadcrumb{
  font-size: 16px;
  position: fixed;
  min-width: 230px;
  z-index: 100;
  padding: 20px;
}
.task{
  width: 90%;
  min-width: 1000px;
  margin-top: 50px;
}

