.ant-layout-sider-children{
  width: 150px;
  position: fixed;
  z-index: 99;
  background-color: #ffffff;
}
.pipelineDetails{
  background: #fff;
  minHeight: 280px;
}
.breadcrumb{
  font-size: 16px;
  position: fixed;
  min-width: 230px;
  z-index: 100;
  padding: 20px;
}
.task{
  width: 75%;
  min-width: 1000px;
  margin:50px auto;
}
.hidden{
  position: fixed;
  margin-top: -85px;
  height: 110px;
  z-index: 98;
  width: 120%;
  background-color: #FFFFFF;
  margin-left: -300px;
}

