.arbess-breadcrumb{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-weight: var(--tiklab-font-weight-bold);
    .arbess-breadcrumb-first{
        cursor: pointer;
    }
    .arbess-breadcrumb-span{
        color: #00000073;
    }
}
