.pipelineTable{
    .pipelineTable-name:hover{
        color: var(--tiklab-blue);
        cursor: pointer;
    }
    .pipelineTable-action,.pipeline-number{
        cursor: pointer;
    }
    .pipeline-number{
        display: inline-block;
        color: var(--tiklab-blue);
        padding: 3px 10px;
        background: #eeeff9;
        border-radius: 30px;
        margin-left: 10px;
        .pipeline-number-desc{
            font-size: 14px;
            padding-left: 5px;
        }
    }
    .actions-se{
        font-size: var(--tiklab-font-16);
    }

    .imgs{
        width: 24px;
        height: 24px;
    }
}

