.pipelineTable{
    .pipelineTable-name{
        color: var(--tiklab-blue);
        cursor: pointer;
    }
    .pipelineTable-state,.pipelineTable-history,.pipelineTable-collect,.pipeline-number{
        cursor: pointer;
    }
    .pipeline-number{
        display: inline-block;
        color: var(--tiklab-blue);
        padding: 3px 10px;
        background: #eeeff9;
        border-radius: 30px
    }
    .actions-se{
        font-size: var(--tiklab-font-16);
    }
    .pipelineTable-state .pipelineTable-state-running{
        padding: 10px;
    }
    .pipelineTable-collect .icon{
        width: 19px !important;
        height: 19px !important;
    }
    .imgs{
        width: 24px;
        height: 24px;
    }
}
