.pipelineTable{
    .pipelineTable-name{
        color: var(--tiklab-blue);
        cursor: pointer;
    }
    .pipelineTable-action,.pipeline-number{
        cursor: pointer;
    }
    .pipeline-number{
        display: inline-block;
        color: var(--tiklab-blue);
        padding: 3px 10px;
        background: #eeeff9;
        border-radius: 30px
    }
    .actions-se{
        font-size: var(--tiklab-font-16);
    }

    .imgs{
        width: 24px;
        height: 24px;
    }
}

.pipelineTable-dropdown-more{
    box-shadow: 0 4px 8px -2px #091e4240, 0 0 1px #091e424f;
    border-radius: 4px;
    background: #ffffff;
    width: 150px;
    padding: 8px;
    .dropdown-more-item{
        cursor: pointer;
        padding: 5px;
        &:hover{
            background: #f4f4f4;
        }
    }
}
