.pipeline {
    height: 100%;
    overflow: auto;
    &-flex{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;
    }
    &-length{
        display: inline-block;
        width: 20px;
        height: 20px;
        line-height: 20px;
        border-radius: 50px;
        background: #f2f2f2;
        text-align: center;
    }

}

