.pipeline-add{
   height: 100%;
    overflow: auto;
    .pipeline-add-type{
        .pipeline-type-title{
            padding-bottom: 10px;
        }
        .pipeline-type-ul{
            padding-bottom: var(--tiklab-padding-item);
            display: flex;
            flex-direction: row;
        }
        .pipeline-type-li{
            padding: 8px 20px;
            border: 1px solid #d9d9d9;
            border-radius: 4px;
            cursor: pointer;
        }
        .pipeline-type-li:first-child{
            margin-right: var(--tiklab-padding-item);
        }
        .pipeline-type-select{
          border-color: var(--tiklab-blue);
        }
    }
    .pipeline-template{
        .template-base{
            display: inline-block;
            &:not(:last-child){
                margin-right: 15px;
            }
        }
        .pipeline-template-title{
            height: 50px;
            line-height: 50px;
        }
        .pipeline-template-content{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .pipeline-template-li{
            border-radius: 4px;
            background: #e7f6ff;
            border: 1px solid #d9d9d9;
            cursor: pointer;
            display: flex;
            padding: 8px var(--tiklab-padding);
            justify-content: space-between;
            align-items: center;
            &-header{
                display: flex;
                align-items: center;
                padding-bottom: 5px;
                .li-header-name{
                    font-weight: var(--tiklab-font-weight-bold);
                    padding-left: 5px;
                    font-size: 16px
                }
            }
            &-content{
                display: flex;
                justify-content: left;
                align-items: center;
                .li-step {
                    height: 40px;
                    line-height: 40px;
                    border-radius: 34px;
                    background: #ffffff;
                    width: 100px;
                    text-align: center;
                    margin-top: 5px;
                    position: relative;
                    .icon {
                        width: 20px;
                        height: 20px;
                    }
                    &:not(:first-child){
                        margin-left: 30px;
                    }
                    &:not(:last-child){
                        &:after{
                            content: "";
                            width: 47px;
                            border-top: 1px solid #626262;
                            position: absolute;
                            top: 20px;
                            left: 100px;
                        }
                    }
                }
            }
            &:not(:last-child){
                margin-bottom: var(--tiklab-padding-item);
            }
            .li-self{
                font-size: 16px;
                padding: 10px 0;
            }
        }
        .pipeline-template-select{
            border-color: var(--tiklab-blue);
        }
    }
    .steps-top{
        padding: var(--tiklab-padding-item) 0 10px 0;
    }
    .steps-content {
        min-height: 100px;
    }
    .steps-bottom{
        padding-top: var(--tiklab-padding-item)
    }
    .ant-steps-item-icon{
        padding-top: 7px;
    }
}
