.formViewCodeMirror{
    display: flex;
    .react-codemirror2{
        width: 500px;
        border-color: var(--tiklab-gray-200);
        min-height: 32px;
    }
    .CodeMirror{
        height: 100%;
        &:hover{
            background: #f2f2f2;
        }
    }
}
.codeNewStage{
    display: flex;
    .react-codemirror2{
        width: 500px;
        border:1px solid #1890ff;
        min-height: 32px;
    }
    .CodeMirror{
        height: 100%;
    }
}