.formViewCodeMirror{
    display: flex;
    .react-codemirror2{
        width: 500px;
        min-height: 32px;
    }
    .CodeMirror{
        height: 100%;
        &:hover{
            background: #f4f4f4;
        }
        .CodeMirror-placeholder{
            color: #bfbfbf;
            font-family: Microsoft YaHei;
        }
        .CodeMirror-code{
            font-family: Microsoft YaHei;
        }
    }
}


.codeNewStage{
    display: flex;
    .react-codemirror2{
        width: 500px;
        border:1px solid #1890ff;
        min-height: 64px;
    }
    .CodeMirror{
        height: 100%;
        .CodeMirror-placeholder{
            color: #bfbfbf;
            font-family: Microsoft YaHei;
        }
        .CodeMirror-code{
            font-family: Microsoft YaHei;
        }
    }
}