.structure-history{
  width: 70%;
  height: 100%;
  margin:auto;
  &-top{
    h1{
      font-size: 30px;
    }
    Button{
      float: right;
    }
  }
  &-table{
    cursor: pointer;
    color: #1890ff;
  }
}