.structure-history{
  width: 80%;
  height: 100%;
  min-width: 500px;
  margin:50px auto;
  &-top{
    h1{
      font-size: 30px;
    }
    Button{
      float: right;
    }
  }
  &-table{
    cursor: pointer;
    color: #1890ff;
  }
}
