.pipelineReDel{
    padding: 10px;
    margin: auto;
    max-width: 900px;
    min-height: calc(100vh - 55px);
    max-height: fit-content;
    background: #fff;
    &-ul{
        border: 1px solid #cccccc;
        border-radius: 4px;
    }
    &-li{
        &:not(:last-child){
            border-bottom: 1px solid #e7dede;
        }
        &-top{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 20px;
            cursor: pointer;
            &:hover{
                background: #f4f4f4;
            }
        }
        &-select{
            background: #f4f4f4;
        }
        &-bottom{
            height: 45px;
            line-height: 45px;
            padding-left: 45px;
            margin: 10px 0;
        }
        &-none{
            display: none;
        }
        &-title{
            font-size: 16px;
            &-name{
                padding-left: 10px;
            }
        }
    }
}


