.mf-page{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    .mf-page-ban{
        cursor:not-allowed;
        color: var(--thoughtware-gray-500);
    }
    .mf-page-allow{
        cursor: pointer;
    }
    .mf-page-current,.mf-page-allow:hover{
        color: var(--thoughtware-blue);
    }
    .mf-page-line{
        margin: 0 5px;
    }
    .mf-page-record{
        margin-right: 30px;
        font-size: var(--thoughtware-font-12);
    }
    .mf-page-fresh{
        margin-left: 30px;
        cursor: pointer;
    }
}
