.new{
    width: 90%;
    height: 100%;
    margin:auto;
    padding: 20px;
    ul,li{
        list-style: none;
    }
    &-lump{
        border: 1px solid #cccccc;
        border-radius: 3px;
        &-form{
            background: #CCDDFF;
            //background: #eaeff2;
            padding: 15px 0 15px 15px;
            border-bottom: 1px solid #cccccc;
            .ant-form-item{
                margin: 0;
            }
        }
        &-type{
            width: 100%;
            border-radius:0 0 3px 3px ;
            background-color: #F5F5F5;
            &-choose{
                padding: 10px;
                .choose{
                    &-item{
                        margin: 5px 0;
                        padding: 10px 0;
                        cursor: pointer;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        &:hover {
                            background-color: #ffffff;
                            border-radius: 3px;
                        }
                        &-icon{
                            padding: 0 10px ;
                            .icon{
                                width: 40px;
                                height: 40px;
                            }
                        }
                        label{
                            font-weight: bold;
                            font-size: 18px;
                        }
                    }
                    &-active{
                        background-color: #ffffff;
                        border-radius: 3px;
                    }
                }
            }
        }
    }
    &-btn{
        padding-top: 10px;
    }
}