.modalTitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    .modalTitle-title{
        font-size: 15px;
        font-weight: var(--tiklab-font-weight-bold);
    }
}