.post-pose{
    padding: var(--tiklab-padding-item);
    min-width: 700px;
    .post-pose-up{
        display: flex;
        align-items: center;
        padding-bottom: 10px;
        font-size: var(--tiklab-font-13);
        .post-pose-up-num{
            flex: 1;
            margin-right: var(--tiklab-padding-item);
        }
    }
}

.postprocess-modal{
    .react-codemirror2{
        width: 100%;
        overflow-y: auto;
    }
    .post-pose-user .ant-select-single:not(.ant-select-customize-input) .ant-select-selector{
        padding: 0;
    }
    .post-pose-user .title-user-ban{
        color: #cccccc;
        cursor: not-allowed;
    }
    .post-pose-title{
        display: flex;
        justify-content: space-between;
    }
    .post-pose-btn{
        padding-top: 8px;
    }
    .postprocess-modal-up{
        padding: var(--tiklab-padding) var(--tiklab-padding) 0 ;
    }
    .postprocess-modal-content{
        padding: 0 var(--tiklab-padding);
        max-height:calc(100% - 120px);
        overflow:auto;
        .CodeMirror{
            .CodeMirror-placeholder,.CodeMirror-code{
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
                font-weight: normal;
                font-size: 14px;
                font-feature-settings: "liga" 0, "calt" 0;
                line-height: 19px;
                letter-spacing: 0;
            }
            .CodeMirror-placeholder{
                color: #bfbfbf;
            }
            .CodeMirror-gutter-wrapper{
                left: -41px !important;
            }
            .CodeMirror-gutters {
                left: 0 !important;
            }
        }
    }

}
