.config_changeView{
    position: fixed;
    z-index: 900;
    top: 60px;
    right: 5%;
    min-width: 500px;
    .changeView{
        display: flex;
        flex-direction: row;
        justify-content: right;
        &-btn{
            &>button{
                &:first-child{
                    margin-right: 20px;
                }
            }
        }
        .view{
            cursor: pointer;
            height: 30px;
            line-height: 30px;
            width: 80px;
            text-align: center;
            &-link{
                color: #1890ff;
            }
        }
    }
}