.config_changeView{
     padding-right: 18px;
    .changeView{
        display: flex;
        &-btn{
            &>button{
                &:last-child{
                    margin: 0 15px;
                }
            }
        }
        &-view{
            border: 1px solid #ccc;
            border-radius: 3px;
            .view{
                cursor: pointer;
                height: 32px;
                line-height: 32px;
                width: 80px;
                text-align: center;
                display: inline-block;
                &:first-child{
                    border-right: 1px solid #ccc;
                }
                &:last-child{
                    margin: 0 6px;
                }
                &-link{
                    color: #1890ff;
                }
                &-ban{
                    color: #C4C4C4;
                }
            }
        }
    }
}