.config_changeView{
    position: fixed;
    z-index: 101;
    top: 64px;
    right: 2.5%;
    min-width: 500px;
    .changeView{
        display: flex;
        justify-content: right;
        &-btn{
            &>button{
                &:last-child{
                    margin: 0 30px;
                }
            }
        }
        &-view{
            border: 1px solid #ccc;
            border-radius: 3px;
            .view{
                cursor: pointer;
                height: 31px;
                line-height: 31px;
                width: 80px;
                text-align: center;
                display: inline-block;
                &:first-child{
                    border-right: 1px solid #ccc;
                }
                &-link{
                    color: #1890ff;
                }
            }
        }
    }
}