.configView1{
    padding-top: 55px;
    margin: auto;
    width: 95%;
    &-content{
        padding: 15px;
        &-changSort{
            text-align: right;
            padding-bottom: 10px;
        }
    }
    &-wrapper{
        margin: 30px 0;
        &-Headline{
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid #cccccc;
            font-size: 16px;
            font-weight: 700;
        }
        &-handle{
            text-align: center;
            height: 35px;
            line-height: 35px;
            width: 150px;
            border: 1px solid #e3e8f0;
            border-radius: 3px;
            cursor: pointer;
            &:hover{
                color: #1890ff;
                border: 1px solid #1890ff;
            }
        }
        &-newStage{
            padding-left: 15px;
            margin-left: 15px;
            border-left: 1px solid #C4C4C4;
        }
        .desc{
            &-title{
                padding-right: 5px;
            }
            &-name{
                font-weight: 500;
                padding: 15px 0;
            }
        }
    }
    .config-details-link{
        margin-left: 15px;
    }
    .config-details-gitTest{
        text-align: right;
    }
    .noRequired{
        padding-left: 10px;
    }
}