.projectSet{
    display: flex;
    width: 100%;
    height: calc(100vh - 48px);
    overflow: hidden;
    &-aside{
        width: 180px;
        min-width: 180px;
        background: var(--tiklab-gray);
    }
    &-item{
        padding: 10px;
        cursor: pointer;
        &:hover{
            background: var(--tiklab-gray-300);
        }
        &-icon{
            padding-right: 10px;
            font-size: 16px;
        }
    }
    &-select{
        background: var(--tiklab-gray-400);
        border-left: 3px solid var(--tiklab-blue);
    }
    &-content{
        width: 100%;
        margin: 0 auto;
        overflow: auto;
    }
}