.projectSet {
    height: 100%;
    &-background {
        background-color: #fff;
        margin-left: 10px;
        padding: 10px
    }
    .projectSet-col {
        background-color: #fff;
        padding: 20px;
    }
    &-aside {
        height: 100%;
        background-color: #F7F8FA;
        padding-top: 20px;
        padding-left: 3px;
        ul,li {
            list-style: none;
        }
        &-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 40px;
            line-height: 40px;
            padding: 0 20px;
            cursor: pointer;
        }
        &-ul {
            padding: 0;
        }
        &-li {
            line-height: 40px;
        }
        &-select {
            background: #e3e8f0;
            &:before{
                width: 3px;
                height: 40px;
                transition: all .4s cubic-bezier(.23,1,.32,1);
                content: " ";
                position: absolute;
                z-index: 2;
                left: 2px;
                background: #1890ff
            }
        }
    }
    .icon{
        width: 25px;
        height: 25px;
        padding-right: 5px;
    }
}