
.orga {
    height: 100%;
    .orga-background {
        // background-color: $entry-color;
        background-color: #F0F2F5;
    }
    .orga-col {
        background-color: #fff;
        padding: 20px;
    }
    .orga-aside {
        height: 100%;
        // background-color: $side-color;
        background-color: #F7F8FA;
        padding-top: 20px;
        ul,li {
            list-style: none;
            // padding: 0;
        }
        .orga-aside-hidden {
            display: none;
        }
        .orga-aside-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 40px;
            line-height: 40px;
            padding: 0 20px;

        }
        .orga-aside-li {
            line-height: 40px;
        }
        .orga-aside-ul {
            padding: 0;
        }
        .orga-aside-select {
            // background-color: $side-select;
            background-color: #e3e8f0;
            border-left: 3px solid #0053ca;
        }
    }
    
}
.ant-modal-close-x{
    display: flex !important;
    justify-content: center;
    align-items: center;
}
