.pipeline{
  width: 100%;
  &-top{
    width: 100%;
    height: 35px;
    margin-bottom: 30px;
    &-l{
      float: left;
    }
    &-r{
      margin-right: 40px;
      float: right;
      margin-bottom: 20px;
    }
    &-s{
      margin-left:80%;
    }
  }
}
.icon {
  width: 30px;
  height: 30px;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
