.text-view{
    height: calc(100% - 55px);
    .react-codemirror2,.CodeMirror{
      height: 100%;
    }
    .CodeMirror-placeholder,.CodeMirror-code{
        font-family: Consolas, "Courier New", monospace;
        font-weight: normal;
        font-size: 14px;
        font-feature-settings: "liga" 0, "calt" 0;
        line-height: 19px;
        letter-spacing: 0;
    }
    .CodeMirror pre {
    }
    .CodeMirror-hint-active {
        background-color: #eee;
    }
    //.cm-s-default .cm-atom {color: black;}

    /**
    .cm-s-default .cm-keyword {color: #708;}

    .cm-s-default .cm-atom {color: #219;}

    .cm-s-default .cm-number {color: #164;}

    .cm-s-default .cm-def {color: #00f;}

    .cm-s-default .cm-variable,

    .cm-s-default .cm-punctuation,

    .cm-s-default .cm-property,

    .cm-s-default .cm-operator {}

    .cm-s-default .cm-variable-2 {color: #05a;}

    .cm-s-default .cm-variable-3 {color: #085;}

    .cm-s-default .cm-comment {color: #a50;}

    .cm-s-default .cm-string {color: #a11;}

    .cm-s-default .cm-string-2 {color: #f50;}

    .cm-s-default .cm-meta {color: #555;}

    .cm-s-default .cm-qualifier {color: #555;}

    .cm-s-default .cm-builtin {color: #30a;}

    .cm-s-default .cm-bracket {color: #997;}

    .cm-s-default .cm-tag {color: #170;}

    .cm-s-default .cm-attribute {color: #00c;}

    .cm-s-default .cm-hr {color: #999;}

    .cm-s-default .cm-link {color: #00c;}
     */

}