.config{
  width: 70%;
  min-width: 600px;
  margin:auto;
  position: relative;
  input{
    width: 600px;
  }
  textarea{
    width: 600px;
  }
  //共同样式
  h1{
    margin-bottom: 30px;
    font-size: 1.25rem;
    font-weight: bold;
    border-bottom: 1px solid  #EAEAEA;
  }
  .anchor-content{
    margin:15px 30px 50px;
  }
  .btn-sticker-inner{
    position: fixed;
    left: 400px;
    bottom: 0;
    z-index: 50;
    height: 50px;
    line-height: 50px;
    text-align: center;
  }
  &-radio {
    margin-bottom: 20px;
  }

  //内容样式
  &-link{
    margin-top: 30px;
    margin-left: 30px;
  }
  &-breadcrumb{
    border-bottom: 1px solid  #EAEAEA;
    background-color: white;
    position: fixed;
    top: 51px;
    left: 0;
    z-index: 999;
    width: 100%;
    >div{
      padding-left: 280px;
      height: 50px;
      line-height: 50px;
      font-size: 16px;
      font-weight: bold;
    }
  }
  &-offset{
    border: 1px solid #cccccc;
    position: absolute;
    top: 80px;
    margin-left: 30px;
    width: 100%;
  }
  &-anchor{
    &-fixed{
      min-width: 600px;
      position: fixed;
      width: 70%;
      z-index:998;
      top:99px
    }
  }

}
