.aside{
    position: fixed;
    background-color: #f8f8f8;
    z-index: 888;
    left: 0;
    top: 55px;
    box-shadow: 3px 0 8px 3px #f2f2f2;
    height: 100%;
    .content{
        width: 80px;
        padding: 10px 0 0;
    }
    &_content{
        height: 55px;
        text-align: center;
        cursor: pointer;
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
        padding: 5px 0;
        .icon{
            width: 20px;
            height: 20px ;
        }
    }
    &_item{
        flex-direction: column;
        &:hover{
            background: #e3e8f0;
        }
    }
    &_dropdown{
        height: 55px;
        line-height: 55px;
        width: 100%;
        align-items: center;
        padding: 0 20px;
    }
    &_opt{
        .icon{
            width: 25px;
            height: 25px;
        }
        .dropdowns_icon{
            font-size: 12px !important;
        }
    }
    &_active{
        background: #e3e8f0;
        &:before{
            width: 4px;
            height: 53px;
            transition: all .4s cubic-bezier(.23,1,.32,1);
            content: " ";
            position: absolute;
            z-index: 2;
            left: 1px;
            background: #1890ff
        }
    }
}

.projectSetMenu{
    position: absolute;
    background: #fff;
    margin-left: 80px;
    margin-top: -60px;
    width: 120px;
    padding: 10px;
    box-shadow: 3px 0 8px 3px #f2f2f2;
    &-li{
        margin: 5px;
        padding: 5px;
        cursor: pointer;
    }
}