.aside{
    position: fixed;
    background-color: #f8f8f8;
    border-right: 1px solid #cccccc;
    z-index: 888;
    left: 0;
    top: 55px;
    height: 100%;
    .content{
        width: 80px;
        padding: 10px 0 0;
    }
    &_content{
        height: 55px;
        text-align: center;
        cursor: pointer;
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
        padding: 5px 0;
        .icon{
            width: 20px;
            height: 20px ;
        }
    }
    &_item{
        flex-direction: column;
        &:hover{
            background: #e3e8f0;
        }
    }
    &_dropdown{
        height: 55px;
        line-height: 55px;
        width: 100%;
        align-items: center;
        padding: 0 20px;
    }
    &_opt{
        .icon{
            width: 25px;
            height: 25px;
        }
        .dropdowns_icon{
            font-size: 12px !important;
        }
    }
    &_active{
        background: #e3e8f0;
        &:before{
            width: 4px;
            height: 53px;
            transition: all .4s cubic-bezier(.23,1,.32,1);
            content: " ";
            position: absolute;
            z-index: 2;
            left: 1px;
            background: #1890ff
        }
    }
}

.opt{
    width: 300px;
    background-color: #ffffff;
    border: 1px solid #C4C4C4;
    &-content{
        height: 100%;
        padding: 10px;
        &-title{
            font-weight: 700;
            font-size: 16px;
        }
        &-group{
            max-height: 500px;
            overflow: auto;
            padding: 10px;
            &_item{
                margin-bottom: 5px;
                cursor: pointer;
                height: 30px;
                padding-left: 20px;
                line-height: 30px;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                max-width: 260px;
                &:hover{
                    background: #e3e8f0;
                }
            }
            &-icon{
                padding-right: 10px;
            }
        }
        &-active{
            background: #e3e8f0;
        }
    }
}

.projectSetMenu{
    position: absolute;
    background: #fff;
    margin-left: 80px;
    margin-top: -60px;
    width: 120px;
    padding: 10px;
    box-shadow: 3px 0 8px 3px #f2f2f2;
    &-li{
        padding: 5px;
        cursor: pointer;
        &-icon{
            padding-right: 5px;
        }
        &:hover{
            background-color: #e3e8f0;
        }
    }
}