.resources{
    .resources-upper{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .resources-content{
        padding-top: 10px;
    }
}
.resources-modal{
    .resources-modal-up{
        padding: var(--tiklab-padding) var(--tiklab-padding) 0 ;
    }
    .resources-modal-content{
        padding: 0 var(--tiklab-padding);
        max-height:calc(100% - 120px);
        overflow:auto;
    }
}