/**
* @name: header
* @author: mahai
* @date: 2021-09-01 16:52
* @description：header
* @update: 2021-09-01 16:52
*/

.frame {
    height: 100vh;
    overflow: hidden;
    .frame-header{
        display: flex;
        align-items: center;
    
        &-logo{
            height: 64px;
            width: 100px;
            margin-right: 20px;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        &-link{
            display: flex;
            flex-direction: row;
            margin-left: 15px;
            &-active{
                color: $blue !important;
            }
            :nth-of-type(2n) {
                padding: 0 20px;
            }
            div{
                cursor: pointer;
                color:  $gray-800;
            }
        }
        &-right{
            display: flex;
            flex-direction: row;
            justify-items: flex-end;
            align-items: center;
            height: 100%;
            padding-left: 20px;
            &-search-wrap{
                position: relative;
                width: 100%;
            }
            &-text{
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;
                height: 100%;
                width: 100%;
                padding-right: 20px;
                a{
                    padding: 0 20px;
                    //color: hsla(0,0%,100%,.65);
                }
                >span {
                    cursor: pointer;
                    padding: 0 20px;
                    color:  $gray-800;
                }
                .badge{
                    position: relative;
                    .dot{
                        width: 7px;
                        height: 7px;
                        border-radius: 50%;
                        position: absolute;
                        top: -5px;
                        right: 3px;
                        background: $red;
                    }
                }
                .messageNum{
                    font-size: 25px;
                    color: $blue;
                }
    
            }
        }
        &-dropdown{
            margin-left: 20px;
        }
    }
    .frame-search-content{
        position: absolute;
        width: 100%;
        background: #fff;
        z-index: 1;
        overflow: auto;
        ul,li {
            list-style: none;
            margin: 0;
            padding: 0;
        }
    }
}


.show {
    max-height: 350px;
    transition: max-height .3s ease-in;
    transform-origin: 50% 0;
    animation: slide-down 0.3s ease-in;
    -webkit-animation: slide-down 0.3s ease-in;
    padding: 20px;
}

.hidden {
    max-height: 0;
    overflow: auto;
    transition: max-height .3s ease-out;
}

@keyframes slide-down{
    0%{transform:scale(1,0);}
    100%{transform:scale(1,1);}
}

@-webkit-keyframes slide-down{
    0%{-webkit-transform:scale(1,0);}
    100%{-webkit-transform:scale(1,1);}
}

