.project-nav{
    display: flex;
    width: 100%;
    height: 100%;
    .project-nav-aside{
        height: 100%;
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 180px;
        background: #f7f7f7;
        overflow: auto;
        .project-nav-aside-head{
            height: 40px;
            line-height: 40px;
            width: 100%;
            padding: 0 20px;
            font-weight: var(--tiklab-font-weight-bold);
            border-bottom: 1px solid #ececec;
        }
        .project-nav-aside-item{
            padding: 8px 20px;
            cursor: pointer;
            &:hover{
                background: var(--tiklab-gray-300);
            }
        }
        .project-nav-aside-select{
            background: var(--tiklab-gray-400);
        }
    }
    &-content{
        flex: 1;
        height: 100%;
        overflow: auto;
    }
}
