.mf-search-select{
  display: inline-block;
  .ant-select{
    background-color: var(--mf-backdrop-color);
    border-radius: 4px;
    cursor: pointer;
    &:hover{
      background-color: var(--mf-select-color);
    }
  }
  .ant-select-show-search.ant-select:not(.ant-select-customize-input) .ant-select-selector{
    cursor: pointer;
  }
  .ant-select-show-search.ant-select:not(.ant-select-customize-input) .ant-select-selector input{
    cursor: pointer;
  }
}

.mf-search-input{
  border-radius: 4px;
  height: 32px;
}

.mf-search-picker{
  display: inline-block;
  .ant-picker.ant-picker-borderless{
    background-color: var(--mf-backdrop-color) !important;
    border-radius: 4px;
    cursor: pointer;
    &:hover{
      background-color: var(--mf-select-color) !important;
    }
  }
}
