.gui-mirror{
    display: flex;
    flex-direction: column;
    width: 440px;
    .react-codemirror2{
        height: 100%;
        width: 100%;
        overflow-y: auto;
    }
    .gui-mirror-fa{
        min-height: 32px;
        border: 1px solid #d9d9d9;
        &:hover{
            border-color: #1890ff;
        }
    }
    .gui-mirror-tr{
        min-height: 64px;
        border: 1px solid #1890ff;
        .CodeMirror{
            min-height: 64px;
        }
    }
    .gui-mirror-move{
        border-bottom: 2px solid #1890ff;
        cursor: s-resize;
    }
    .CodeMirror{
        height: 100%;
        padding: 2px 7px;
        .CodeMirror-placeholder{
            color: #bfbfbf;
            font-family: Microsoft YaHei;
        }
        .CodeMirror-code{
            font-family: Microsoft YaHei;
        }

    }
}
