.history{
    height: 100%;
    width: 100%;
    overflow: auto;
    .history-table{
        padding-top: 10px;
        .history-table-name:hover{
            cursor: pointer;
            color: var(--tiklab-blue);
        }
        .history-table-pipeline{
            padding-right: 5px;
        }
        .history-table-runWay{
            display: flex;
            align-items: center;
            height: 40px;
            .runWay-user{
                padding-left: 8px;
            }
        }
    }
    .history-screens{
        padding-top: var(--tiklab-padding-item);
        flex-wrap: wrap;
        gap: 10px 0;
    }
    .ant-avatar{
        width: 22px;
        height: 22px;
        font-size: 12px;
    }
    .history-table-action{
        cursor: pointer;
        font-size: 16px;
    }
    .history-table-action-ban{
        font-size: 16px;
        color: #999999;
    }
}

