.str-screens{
    padding-top: var(--tiklab-padding-item);
    .ant-input,.ant-select{
        width: 150px;
    }
    .ant-input{
        margin-right:var(--tiklab-padding-item) ;
    }
    .ant-select:not(:first-child){
        margin-right: var(--tiklab-padding-item);
    }
}
