.history{
    height: 100%;
    overflow: auto;
    .history-table{
        padding-top: 10px;
        .history-table-name{
            cursor: pointer;
        }
        .history-table-pipeline{
            padding-right: 5px;
            color: var(--tiklab-blue);
        }
        .history-table-findNumber{
            color: var(--tiklab-blue);
            cursor: pointer;
        }
        .history-table-runWay{
            display: flex;
            align-items: center;
            height: 40px;
            .runWay-user{
                padding-left: 8px;
            }
        }
    }
}
