.history{
    .history-table{
        padding-top: 10px;
        .history-table-name:hover{
            cursor: pointer;
            color: var(--thoughtware-blue);
        }
        .history-table-pipeline{
            padding-right: 5px;
        }
        .history-table-runWay{
            display: flex;
            align-items: center;
            height: 40px;
            .runWay-user{
                padding-left: 8px;
            }
        }
    }
}

.history-screens{
    padding-top: var(--thoughtware-padding-item);
    .ant-select,.ant-input{
        width: 150px;
    }
}
